<p>
    Hi!
</p>
<p>
    <%= user.firstname %> <%= user.lastname %> invited you to join OpenPaas.
    You can create your account and join the <%= domain.name %> domain by clicking the link below:

    <a href='<%= url %>'>Click here to complete the signup process and start using OpenPaas!</a>
</p>

Sincerely,
The OpenPaas Team!
