.timeline {

  .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 14px;
    font-weight: 400;
  }

  .t-view {
    border: 0;

    @media (max-width: @screen-md-min) {
      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    &:before {
      font-family: 'MaterialDesignIcons';
    }

    &[data-tv-type="rocket"] {
      &:before {
        content: "\f463";
        background: red;
        box-shadow: 0 0 0 1px red;
      }

      &:after {
        background: @m-cyan;
      }
    }

    &[data-tv-type="like"] {
      &:before {
        content: "\f513";
        background: @m-cyan;
        box-shadow: 0 0 0 1px @m-cyan;
      }

      &:after {
        background: @m-cyan;
      }
    }

    &[data-tv-type="post"] {
      &:before {
        content: "\f181";
        background: @m-indigo;
        box-shadow: 0 0 0 1px @m-indigo;
      }

      &:after {
        background: @m-indigo;
      }
    }

    &[data-tv-type="update"] {
      &:before {
        content: "\f45a";
        background: @m-green;
        box-shadow: 0 0 0 1px @m-green;
      }

      &:after {
        background: @m-green;
      }
    }

    &[data-tv-type="follow"] {
      &:before {
        content: "\f014";
        background: @m-deeporange;
        box-shadow: 0 0 0 1px @m-deeporange;
      }

      &:after {
        background: @m-deeporange;
      }
    }

    &[data-tv-type="unfollow"] {
      &:before {
        content: "\f00D";
        background: @m-orange;
        box-shadow: 0 0 0 1px @m-orange;
      }

      &:after {
        background: @m-orange;
      }
    }
  }
}