.profile-menu {

  .header-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 1px @headerAvatarShadow;
    cursor: pointer;
    margin-left: 5px;
  }

  md-menu-item .md-button {
    & > md-icon {
      color: @primaryColor;
    }
  }
}

