.contact-edition-form {
  contact-photo {
    margin-bottom: 20px;
  }
  label {
    width: 100%;
    margin-bottom: 20px;
  }
  .more {
    margin-bottom: 0;

    .form-group:first-child {
      margin-top: 20px;
    }

    .form-group:last-child {
      margin-bottom: 20px;
    }
  }
}
