.contact-list-item {
  display:flex;
  align-items: center;
  justify-content: space-around;
  min-height: 66px;

  ul.lv-attrs {
    margin: 0;
    li {
      display: list-item;
      margin: 0;
      padding: 0;
      border: none !important; /* To override parent behavior */
    }
  }
  .lv-img-sm {
    height: 46px;
    width: 46px;
  }
}
