contact-show-subheader, contact-edit-subheader, contact-create-subheader {
  width: 100%;
}

#sub-header {
  contact-list-subheader {
    color: @m-white;

    .contacts-list-toolbar {
      .flex-end;

      .contacts-search {
        width: 100%;
      }

      .contacts-toggle {
        min-width: @contact-toolbar-switch-width * 2;

        button {
          height: @contact-toolbar-item-height;
          width: @contact-toolbar-switch-width;
        }

        .contact-toggle-switch {
          .toggle-active {
            color: @accentColor;
          }
        }
      }
      .mdi {
        color: @m-white;
        font-size: xx-large;
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  #sub-header {
    .contact-list-subheader .contacts-list-toolbar {
      .contacts-search {
        width: auto;
      }
    }
  }
}
