contact-show-subheader, contact-edit-subheader, contact-list-subheader, contact-create-subheader {
  width: 100%;
}

contact-list-subheader {
  contact-search-form {
    flex-grow: 1;
    margin-right: 5%;
  }

  .contact-show-aside {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
}

.contact-subheader {
  & > .contact-controls-wrapper {
    z-index: 7;
    width: 100%;
    
    .row > .dropdown {
      text-align: right;
    }
  }
  img {
    width: 100%;
    border-bottom: 1px solid @gray;
  }
}

.contact-categories-letter {
  display: inline-table;
}
