.i-contact-list {
  position: absolute;
  padding: 1px;
  background-color: @m-white;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  border-radius: 1px;
}

.i-contact-card {
  position: absolute;
  padding: 2px;
  background-color: @m-white;
  bottom: 0;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-left: 0px;
  transform: translate3d(-100%, 0, 0);
  border-radius: 1px;
}

.i-contact-show {
  position: absolute;
  padding: 3px;
  background-color: @m-white;
  bottom: 0px;
  right: 0px;
  font-size: 1.5em;
  float: right;
}

.i-contact-mobile {
  position: absolute;
  padding: 3px;
  background-color: @m-white;
  bottom: 0px;
  right: 0px;
  font-size: 4em;
  border-radius: 0px;
}
