.contacts-search-form {

  .flex();

  .contacts-search-input {
    z-index: 2;
    top: 0;
    border-radius: 2px;
    height: @contact-toolbar-item-height;
    input[type="text"] {
      font-size: 18px;
      padding: 5px 0 0 30px;
      width: 90%;
      border: 0;
      border-radius: 0;
    }
    i {
      padding-top: 5px;
      font-size: x-large;
      color: @m-gray;
      position: absolute;
    }
  }

  .contacts-search-input:before {
    font-family: 'MaterialDesignIcons';
    content: "\f43b";
    position: absolute;
    padding: 2px 10px 0 5px;
    font-size: x-large;
    color: @m-gray;
  }

  @media (max-width: @screen-md-min) {
    .contacts-search-input {
      flex-grow: 1;
    }
  }
}

#sub-header {
  .contacts-search-input {
    i.mdi.mdi-close {
      color: @m-gray;
      right: 5px;
    }
  }
}
