.aside#contextual-sidebar .contacts-sidebar {
  .contact-toggle-switch {
    margin: 10px 10px 10px 17px;
    color: lighten(@text-color, 50%);

    .toggle-active {
      color: @text-color;
    }
    .view-label {
      font-size: 13px;
    }
  }

  hr {
    margin: 0 10px;
  }

  .import-account {
    .media {
      color: lighten(@text-color, 15%);

      .flex-vertical-centered;

      .pull-left {
        padding-right: 5px;

        .mdi {
          font-size: xx-large;
        }
      }
      .lv-title {
        font-size: 13px;
        color: lighten(@text-color, 10%);
      }
    }
  }
}
