// TODO we should provide an externally defined variable with the base path
@import "../../../../frontend/components/bootstrap/less/variables";
@import "../../../../frontend/css/variables";
@import "../../../../frontend/css/commons";

.contact-heading {
  display: inline-block;
  font-weight: bold;
  font-size: 25px;
  @media (min-width: @screen-sm-min) {
    font-size: 30px;
  }
}

.contact-panel {

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .contact-heading {
    width: 100%;

    .btn {
      font-size: inherit;
      float: right;
      color: inherit;
    }

    .addcontact-btn:hover {
      color: @blue;
    }
  }
}

.contact-display-panel {
  .action-bar {
    display: flex;
    justify-content: space-between;

    .accept-btn:hover {
      color: @blue;
    }

    .starred-btn:hover, .starred-btn.checked {
      color: @yellow;
    }

    .cancel-btn:hover {
      color: @red;
    }
  }
}

contact-display {
  .photo {
    border: 1px solid @grey;

    img {
      width: auto;
      height: 18.2ex;
    }
  }

  .noindent {
    padding-left: 0;
    padding-right: 0;
  }

  .noindent-left {
    padding-left: 0;
  }

  .bigger {
    font-size: 1.2em;
    font-weight: bold;
  }

  .tags-group {
    min-height: 5.9em;
  }

  input.form-control {
    border-width: 0 0 2px 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }

  input.ng-invalid-required, input.ng-invalid-email {
    border-color: @red;
  }
}

.contact-list-item {
  overflow: visible;
  .ResizeImage(@defaultImageSizeMedium, auto);

  .contact-actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .action-item {
    padding-left: 5px;
    .dropdown {
      position: absolute;
    }
    button.btn {
      float: right;
    }
    a {
      cursor: pointer;
    }
    a.write {
      color: @red
    }
    a.call {
      color: @dark-green
    }
    a.moreactions {
      color: @black
    }
  }
}

.alphascroll {

  ul {

    :hover {
      transform: scale(1.2);
    }

    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

    li {
      padding-top: 0px;
      padding-bottom: 0px;

      a {
        color: @black;
        cursor: pointer;
        text-decoration: none;
        opacity: 0.6;
      }

      a.active {
        color: @black;
        font-weight: bold;
        font-size: 1.2em;
        opacity: 1;
      }
    }
  }
}
