@import '../../../../frontend/components/material-admin/less/inc/contacts';

@contact-header-color: @darkPrimaryColor;
@contact-toolbar-item-height: 35px;
@contact-toolbar-switch-width: 65px;
@contact-card-display-image-size: 96px;
@full-size-avatar-max-resolution: 450px;
@contact-mobile-fn-color: @m-white;
@contact-mobile-fn-background: @m-amber;
@contact-mobile-fn-size: 20pt;
@contact-mobile-font-size: 16px;
@contact-item-action-color: @secondaryTextColor;
@contact-mobile-title-color: lighten(@text-color, 50%);
@contact-mobile-title-font-size: @contact-mobile-font-size + 1;
@contact-search-form-bg-color: @body-bg;

@import './header';
@import './search';

#profile-main {
  a {
    color: @text-color;
  }

  dl {
    height: inherit;
  }

  .tag-item {
    background-color: @m-blue;
    color: @m-white;
    padding: 3px 5px 0px 5px;
    margin: 2px;
    float: left;
    list-style: none;
  }
  ul.tag-list {
    padding: 0;
  }
}

ul.dropdown {
  z-index: 6;
}

.contact-field-label {
  padding-top: 7px;
}

.contact-buttons {
  padding: 18px;
  float: right;

  button {
    margin-right: 5px;
  }
}

.contact-body {
  min-height: 500px;
}

.contact-header {
  background-color: @contact-header-color;
  h1 {
    font-size: 22px;
    color: @m-white;
  }
}

.contact-content.visible-xs {

  min-height: 100vh;
  background-color: @m-white;

  .contact-avatar {
    img {
      width: 100%;
    }
  }
}

@media(min-width: @full-size-avatar-max-resolution) {
  .contact-content.visible-xs {
    .contact-avatar {
      text-align: center;
      & > img {
        display: inline;
        width: @full-size-avatar-max-resolution;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 3px;
        border: 0;
      }
    }
  }
}

.contact-content.visible-xs {
  .contact-fn {
    text-align: center;
    font-size: @contact-mobile-fn-size;
    background-color: @contact-mobile-fn-background;
    font-weight: 500;
    color: @contact-mobile-fn-color;
  }
  .contact-infos {
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
    }

    .contact-items-group {
      .title {
        color: @contact-mobile-title-color;
        font-size: @contact-mobile-title-font-size;
        text-transform: uppercase;
      }

      background-color: @m-white;
      padding: 6px 12px;
      .mdi {
        color: @contact-item-action-color;
        font-size: 18pt;
        width: 30px;
        min-height: 100%;
        float: left;
      }

      .contact-item-data {
        font-size: @contact-mobile-font-size;
        min-height: 60px;
        margin: 0;
        width: 100%;
        a {
          color: @text-color;
        }

        p, ul {
          text-align: left;
          text-transform: none;
          margin: 0 0 0 60px;
        }

        .type {
          color: @m-gray;
          font-size: 10pt;
          text-transform: capitalize;
        }
      }
      .tag-item {
        background-color: @m-blue;
        color: @m-white;
        padding: 1px 4px 0px 4px;
        margin: 2px;
        float: left;
        list-style: none;
        font-size: smaller;
      }
      ul.tag-list {
        padding: 0;
      }
    }
  }
}

.form-horizontal.contact-content.visible-xs {
  .row {
    margin: 0;
    width: 100%;
    padding: 0 15px;
  }
  background-color: @m-white;
  .input-group-addon .mdi {
    font-size: 23px;
  }
  tags-input .tags {
    border: none !important; /* needed to overwrite styles automatically set using the style attribute */
    box-shadow: none !important; /* needed to overwrite styles automatically set using the style attribute */
  }
}

.contacts-list {
  padding: 0 15px;
  .contact-letter {
    h2 {
      font-weight: 500;
      font-size: x-large;
      color: darken(@m-gray, 30%);
    }
  }

  .contacts-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    background: @m-white;
    box-shadow: 0 0 1px 1px @m-white;
    padding-top: 20px;
    padding-bottom: 20px;

    .contacts-header-inner {
      padding: 0;
      height: 100%;
      justify-content: space-between;

      .contacts-header-title {
        height: 30px;
        h2 {
          font-size: 15px;
          color: @m-gray;
          margin: 0;
          font-weight: 400;
          text-transform: uppercase;

          small {
            display: block;
            text-transform: none;
            margin-top: 5px;
            color: @m-gray;
            line-height: 140%;
          }
        }
      }
    }
  }

  .contacts-body {
    top: 75px;
    position: inherit;
  }
}

.contact-list-item {
  .touch-zone {
    cursor: pointer;
    min-height: 50px;
  }

  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s;
  cursor: pointer;

  .contact-display-name {
    font-weight: 500;
    font-size: larger;
  }

}

contact-list-item {
  .actions a {
    cursor: pointer;
  }
}

.contact-letter::after {
  content:'';
  background-color: lighten(@m-gray, 20%);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.letter-list .block-header {
  margin-bottom: 15px;
}

contact-edition-form {
  .form-control {
    margin-top: 10px;
  }
}

contact-photo {
  &[list-view=true] {
    min-height: 35px;
    min-width: 35px;
  }
  position: relative;
  display: inline-block;
  &:hover > .edit-hint{
      background: rgba(0, 0, 0, 0.8);
  }
  img {
    margin-top: 20px;
    &.lv-img-sm {
      margin-top: 0px;
    }
    width: 300px;
    height: 300px;
    border-radius: 3px;
  }

  .edit-hint {
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.38);
    text-align: center;
    border-radius: 0 0 3px 3px;
    padding: 10px 10px 11px;
    .transition(opacity);
    .transition-duration(250ms);
    margin-top: 20px;
    &.lv-img-sm {
      margin-top: 0px;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    i {
        font-size: 18px;
        vertical-align: middle;
        margin-top: -3px;
    }
  }
}

@media(min-width: @screen-sm-min) {
  contact-photo {
    width: 100%;
    &[list-view=true] {
      padding: 0;
    }
    padding: 0px 20px 20px 0;
    max-height: 512px;
    max-width: 512px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
    .edit-hint {
      margin: 0px 20px 20px 0;
    }
  }
}

tags-input{
  height: inherit !important; /* needed to overwrite styles automatically set using the style attribute */
  .tags {
  border: none !important; /* needed to overwrite styles automatically set using the style attribute */
  box-shadow: none !important; /* needed to overwrite styles automatically set using the style attribute */
  }
}


.fadeIn200ms {
  animation: fadeIn 0.2s;
  -webkit-animation: fadeIn 0.2s;
}

.contacts-list-toolbar {
  .flex();
  justify-content: flex-end;
}

.contacts-toggle {
  min-width: @contact-toolbar-switch-width * 2;
  button {
    height: @contact-toolbar-item-height;
    width: @contact-toolbar-switch-width;
  }
}

.contact-list-item {
  img {
    border-radius: 2px;
  }
}

.contact-list-card {
  margin-bottom: 20px;
  min-width: @contact-card-display-image-size * 2;

  img {
    min-width: @contact-card-display-image-size;
    width: @contact-card-display-image-size;
    height: @contact-card-display-image-size;
    max-width: @contact-card-display-image-size;
    border-radius: 3px;
  }

  .contact-info {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.actions {
  z-index: auto;
}

.contact-controls-wrapper > .contact-controls.row > a {
  color: @m-white;
  font-size: 14px;
  i {
    vertical-align: sub;
  }
}

.contact-dropdown.lv-actions {
  &.actions > li > a {
    margin-top: 3px;
  }
  &.actions > li > a > i,
  &.actions > a > i {
    color: @m-white;
  }
  &.actions > li > a:hover > i,
  &.actions > a:hover > i {
    color: @m-white;
  }
  &.actions > li > a:before,
  &.actions > a:before {
    background-color: @m-white;
    opacity: 0.2;
  }
  &.actions > li.open > a > i,
  &.actions.open > a > i {
    color: @m-white;
  }
  li.open + ul.dropdown-menu {
    display: block;
    cursor: pointer;
  }
  & .mdi {
    margin-top: 2px;
    font-size: 1.9em;
    color: @m-white;
  }
}

.btn-contacts-cards-toggle {
  opacity: 0.65 !important; /*Important needed to overrirde native bootstrap properties*/
}
.btn-contacts-cards-toggle.toggled {
  opacity: 1 !important; /*Important needed to overrirde native bootstrap properties*/
}
.btn-contacts-list-toggle {
  opacity: 0.65 !important; /*Important needed to overrirde native bootstrap properties*/
}
.btn-contacts-list-toggle.toggled {
  opacity: 1 !important; /*Important needed to overrirde native bootstrap properties*/
}

.multi-input-content, .multi-input-next{
  .form-group {
    margin-bottom: 5px;
  }
}

@media(min-width: @screen-sm-min) {
  .card-contact {
    margin-top: 25px;
  }
}
