// TODO we should provide an externally defined variable with the base path
@import "../../../../frontend/components/bootstrap/less/variables";
@import "../../../../frontend/css/variables";
@import "../../../../frontend/css/commons";

@action-color: #333;
@card-border-color: #e2e2e2;
@card-info-strong-color: #000;
@card-info-small-color: #999;

.contact-panel {

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

contact-display, contact-display-editable {
  .photo {
    position: relative;

    .hint {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      color: @light-grey;
      background-color: rgba(0, 0, 0, 0.3);
    }

    img {
      width: auto;
      height: 18.2ex;
      cursor: pointer;
    }
  }

  .noindent {
    padding-left: 0;
    padding-right: 0;
  }

  .noindent-left {
    padding-left: 0;
  }

  .bigger {
    font-size: 1.2em;
    font-weight: bold;
  }

  .tags-group {
    min-height: 5.9em;
  }

  .input-group {
    display: block;
  }

  input.ng-invalid-required, input.ng-invalid-email {
    border-color: @red;
  }

  .input-group {
    .inline-input-edition-group-btn {
      display: inline;

      .btn {
        border: none;
        background: #f8f8f8;
        padding: 5px 10px;
      }

      [class^="fa-"], [class*="fa-"] {
        margin-right: 0;
      }

      z-index: 3;
    }

    .inline-check-button {
      position: absolute;
      right: 70px;
      top: 0;
    }

    .inline-remove-button {
      position: absolute;
      right: 35px;
      top: 0;
    }
  }
}

.contact-list-item {
  overflow: visible;
  .ResizeImage(@defaultImageSizeMedium, auto);

  .contact-actions {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .contact-action-item {
    padding-left: 5px;
    .dropdown {
      position: absolute;
    }
    button.btn {
      float: right;
    }
    a {
      cursor: pointer;
    }
    a.write {
      color: @red
    }
    a.call {
      color: @dark-green
    }
    a.moreactions {
      color: @black
    }
  }
}

.alphascroll {

  ul {

    :hover {
      transform: scale(1.2);
    }

    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

    li {
      padding-top: 0px;
      padding-bottom: 0px;

      a {
        color: @black;
        cursor: pointer;
        text-decoration: none;
        opacity: 0.6;
      }

      a.active {
        color: @black;
        font-weight: bold;
        font-size: 1.2em;
        opacity: 1;
      }
    }
  }
}

.contacts .card-item {
  border: 1px solid @card-border-color;
  border-radius: 2px;
  margin-bottom: 24px;
  background-color: @white;
}

.contacts .card-item .card-avatar {
  display: block;
}

.contacts .card-item .card-avatar img {
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.contacts .card-avatar {
  margin: -1px -1px 0;
}

.contacts .card-info {
  text-align: center;
  margin-top: 15px;
  padding: 0 5px;
}

.contacts .card-info strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: @card-info-strong-color;
  font-size: 14px;
  font-weight: 500;
}

.contacts .card-info small {
  color: @card-info-small-color;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.contacts .card-footer {
  border-top: 1px solid @card-border-color;
  margin-top: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: @action-color;
  }

  .item {
    align-self: flex-start;
  }

  .actions {
    .dropdown {
      position: absolute;
    }
    button.btn {
      float: right;
    }
    a {
      cursor: pointer;
    }
    a.write {
      color: @red
    }
    a.call {
      color: @dark-green
    }
    a.moreactions {
      color: @black
    }
  }
}

.contacts .card-padding {
  padding-left: 5px;
  padding-right: 5px;
}