.contact-toggle-switch {
  .flex-vertical-centered();

  margin: 0 10px 0 30px;

  span {
    padding-left: 2px;
    padding-right: 6px;
  }

  .toggle-switch {
    transform: scale3d(.8, .8, 1);

    .ts-helper {
      margin-bottom: 0;
    }
  }

  .mdi {
    font-size: xx-large;
  }
}
