.contacts-toggle {
  .flex-vertical-centered();
}

.contact-toggle-switch {
  margin: 0 10px 0 30px;

  span {
    padding-left: 2px;
    padding-right: 6px;
  }

  .toggle-active {
    color: @accentColor;
  }

  .toggle-switch {
    vertical-align: super;
    transform: scale3d(.8, .8, 1);

    .ts-helper {
      margin-bottom: 10px;
    }
  }

  .mdi {
    font-size: xx-large;
  }
}
