sub-header
  view-thread-subheader

.email-view
  .thread-header.visible-md
    .flex-space-between
      inbox-header-back-button
      .header-label {{ ::thread.subject }}
      div
        button.btn.btn-primary(type='button', action-list='/unifiedinbox/views/thread/view/action-list.html', title="#{__('More')}")
          | #{__(' More')}
          i.mdi.mdi-dots-vertical

  .thread-title.visible-xs
    h4 {{ ::thread.subject }}

  email(ng-repeat='email in thread.emails', email='email')
  inbox-email-footer(email='thread.lastEmail')
