.inbox-subheader.row
  inbox-subheader-back-button(ui-sref="^")
  a.submit.button(href='', action-list, action-list-url="/unifiedinbox/views/thread/view/action-list.html", title="#{__('More')}")
    i.mdi.mdi-dots-vertical
