.email-view

  .block-header.visible-md.visible-lg
    h2 {{::email.subject}}
    
  ng-include(src="'/unifiedinbox/views/partials/email'")
  
  ng-include(src="'/unifiedinbox/views/partials/email-footer'")

  inbox-fab
