div
  .listview
    .lv-body

      ul.nav.nav-pills.nav-stacked(ng-hide="mailboxes")
        li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

      ul.nav.nav-pills.nav-stacked(ng-show="mailboxes")
        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in specialMailboxes", ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")

        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: ''} | orderBy: ['sortOrder', 'qualifiedName']", ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")
        hr
        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: '!'} | orderBy: ['sortOrder', 'qualifiedName'] as customMailboxes", ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")

      hr(ng-if="customMailboxes.length > 0")

      ul.nav.nav-pills.nav-stacked.configuration-menu
        .listview
          .lv-body
            .lv-item.clickable(ui-sref="unifiedinbox.configuration", ui-sref-active="selected")
              .badge-container
                i.inbox-icon.mdi.mdi-settings
              span #{__('Manage folders')}
