.listview(ng-switch="ctrl.state")

  .lv-body(ng-switch-when="LOADING")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')

  .lv-body(ng-switch-when="LOADED")

    .listview
      .lv-item.clickable.inbox-item-with-icon.folder-with-icon.toggle-submenu.flex-end.waves-effect.waves-classic(title="{{ ::emailAddress }}", esn-toggle)
        .badge-container
          .caret-submenu
            i.mdi.mdi-menu-down
          i.inbox-icon.mdi.mdi-mail-ru
        .title.ellipsis
          span {{ ::emailAddress }}
      ul.nopadding
        inbox-filter-input(on-change="ctrl.filter = $filter")
        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in specialMailboxes" ui-sref="unifiedinbox.inbox({ type: 'jmap', account: '', context: mailbox.id })")

        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: { value: '' }, name: ctrl.filter } track by mailbox.id", ui-sref="unifiedinbox.inbox({ type: 'jmap', account: '', context: mailbox.id })")
        hr

        inbox-sidebar-new-folder-button

        mailbox-display.lv-item(settings="true", hide-aside="$hide()", mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: { value: '!' }, name: ctrl.filter } track by mailbox.id", ui-sref="unifiedinbox.inbox({ type: 'jmap', account: '', context: mailbox.id })")

  .lv-body(ng-switch-when="ERROR")
    inbox-sidebar-account-unavailable.lv-item(account="::ctrl.account", ng-click="ctrl.load()")
