div
  ul.nav.nav-pills.nav-stacked(ng-hide="mailboxes")
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
  ul.nav.nav-pills.nav-stacked(ng-show="mailboxes")
    .listview
      .lv-body
        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in specialMailboxes" ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")

        mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: { value: '' } } | orderBy: ['sortOrder', 'qualifiedName'] track by mailbox.id", ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")
        hr

        mailbox-display.lv-item(settings-overlay-sref='unifiedinbox.configuration.folders.folder({ mailbox: mailbox.id })', mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: { value: '!' } } | orderBy: ['sortOrder', 'qualifiedName'] as customMailboxes track by mailbox.id", ui-sref="unifiedinbox.list({ mailbox: mailbox.id })")

        inbox-sidebar-new-folder-button
