.clickable(title="{{ ::mailbox.name }}", ui-sref-active="selected")
  .badge-container
    .badge(ng-hide='mailbox.unreadMessages === 0') {{ mailbox.unreadMessages | maxPlus:99 }}
    i.inbox-icon(ng-class='mailboxIcons')
    span.menu-item-inner
  .menu-item
      bdi {{ ::mailbox.qualifiedName }}
    span.menu-item-after
