.lv-item
  .media
    .pull-left
      a(ui-sref="profile({user_id: $ctrl.request.user._id})")
        img.lv-img-sm(ng-src="/api/users/{{::$ctrl.request.user._id}}/profile/avatar", src="/images/user.png", alt=__("Profile Avatar"))
    .pull-right
      button.btn.btn-icon.btn-link(type="submit", ng-click="$ctrl.cancel()", bs-tooltip, data-title=__('Cancel invitation'), data-placement="bottom")
        i.mdi.mdi-close
    .media-body
      .lv-title {{::$ctrl.request.user.firstname}} {{::$ctrl.request.user.lastname}}
        small.date
          i.mdi.mdi-clock
          span(am-time-ago="::$ctrl.request.timestamp.creation")
      small.lv-small {{ ::$ctrl.request.user.accounts[0].emails[0]}}
