.admin-sidebar
  .admin-sidebar-close.visible-md
    a(href='', ng-click='$hide();close()')
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        .lv-item.clickable.menu-heading
          i.mdi.mdi-server
          .menu-title #{__('Administration Center')}
        a.lv-item.menu-item(href="", ui-sref="admin.domain.dav", ui-sref-active="selected")
          i.mdi.mdi-calendar-blank
          .menu-title #{__('DAV Server')}
        a.lv-item.menu-item(href="", ui-sref="admin.domain.ldap", ui-sref-active="selected")
          i.mdi.mdi-book
          .menu-title #{__('LDAP')}
