.dropdown-list(ng-repeat="filter in filters")
  .checkbox
    label.dropdown-item
      input(type="checkbox", ng-model="filter.checked", ng-change="dropdownItemClicked($index)")
      i.input-helper
      | {{filter.displayName}}
