.filter-button(dropdown-list="/unifiedinbox/views/filter/dropdown-list.html", ng-class="{'filtered': dropdownList.filtered }", title="#{__('Filters')}")
  i.mdi.mdi-filter
  span.filter-label.hidden-xs {{dropdownList.placeholder}}
  span.caret
