button.btn.btn-link.inbox-filter-button.hidden-xs(dropdown-list="/unifiedinbox/views/filter/dropdown-list.html", ng-class="{ 'active': dropdownList.filtered }", title="#{__('Filters')}")
  .flex-vertical-centered
    span.filter-label {{ dropdownList.placeholder }}
    span.caret

button.btn.btn-link.btn-icon.inbox-filter-button.visible-xs(dropdown-list="/unifiedinbox/views/filter/dropdown-list.html", ng-class="{ 'active': dropdownList.filtered }")
  i.mdi.mdi.mdi-filter