.inbox-list-item.inbox-message-list-item
  .inbox-list-item-content.clickable(ng-click="ctrl.openEmail(item)")
    .inbox-item-with-icon
      .list-image.badge-container
        inbox-emailer-avatar(emailer='::item.from')
      .media-body
        .inbox-list-item-subject-and-from
          .inbox-subject.lv-title
            span.inbox-subject-inline(ng-class="{bold: item.isUnread}", ng-bind-html="::item.subject | esnHighlight: query") {{ ::item.subject }}
          inbox-emailer.inbox-from.lv-title(emailer="::item.from", ng-class="{bold: item.isUnread}", highlight="{{::query}}")
        .inbox-list-item-date-and-indicators(ng-class="{bold: item.isUnread}")
          .date-container(ng-bind-html="::item.date | date: group.dateFormat | esnHighlight: query") {{ ::item.date | date: group.dateFormat }}
          .flex-end
            .inbox-list-item-mailbox.ellipsis
              span(ng-repeat="mailbox in item.mailboxes track by $index", title="{{ ::mailbox.name }}")  {{ ::mailbox.name }}
            inbox-indicators(item="::item")
    .inbox-preview-block.preview(ng-bind-html="::item.preview | esnHighlight: query") {{ ::item.preview }}
