.modal.esn-shortcuts-sheet(tabindex="-1", role="dialog", ng-init="$ctrl.$onInit()")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label=__('Close'), ng-click="$hide()")
          span(aria-hidden='true') ×
        h4.modal-title #{__('Keyboard shortcuts')} 
          small(ng-if="$ctrl.isFiltered")
            a(ng-click="$ctrl.showAll()") (#{__('Show all')})
      .modal-body
        div(ng-repeat="category in $ctrl.filteredCategories | orderBy: 'id'")
          dl.dl-horizontal
            dt
            dd
              h4 {{ ::category.name | esnI18n }}
          div(ng-repeat="shortcut in category.shortcuts")
            dl.dl-horizontal
              dt
                kbd {{::shortcut.combo}}
              dd {{ ::shortcut.description | esnI18n }}
          div(ng-repeat="subCategory in category.subCategories | orderBy: 'id'")
            dl.dl-horizontal
              dt
              dd
                h5 {{ ::subCategory.name | esnI18n }}
            div(ng-repeat="shortcut in subCategory.shortcuts")
              dl.dl-horizontal
                dt
                  kbd {{::shortcut.combo}}
                dd {{ ::shortcut.description | esnI18n }}
