.container-fluid
  .row.esn-navbar-wrapper
    .col-sm-2.hidden-xs.nopadding.text-center #{appName}
    .col-sm-10.col-xs-12.nopadding
      div
        .esn-item(ng-controller="userNotificationController")
          span
            user-notification-button
            span.badge(data-ng-hide="!unreadCount.count") {{ unreadCount.count }}
      div(ng-controller='currentDomainController')
        .esn-item(data-esn-path='communities')
          span
            a(href='#/communities')
              i.fa.fa-users
              span.hidden-xs #{__('Communities')}
        .esn-item(data-esn-path='projects')
          span
            a(href='#/project')
              i.fa.fa-suitcase
              span.hidden-xs #{__('Projects')}
        calendar-navbar-link
        contact-navbar-link
        injections-widget(injection-anchor-id="domainHeaderNavBar", injection-subject="domain")
