.community-about
  .card
    .card-header.ch-alt
      h2 #{__("Description")}
    .card-body
      .description.text-center(ng-if="!$ctrl.community.description")
        span #{__("No description")}
      .description(ng-if="$ctrl.community.description")
        span {{ $ctrl.community.description }}