.modal.edit-instance-or-series(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('What do you want to edit?')}
      .modal-body.flex-column
        button.btn.btn-default.effect(ng-click='editInstance()')
          | #{__('Only this event')}
        button.btn.btn-default.effect(ng-click='editAllInstances()')
          | #{__('All events in the series')}
        button.btn.btn-default.cancel(ng-click='$hide()')
          | #{__('Cancel')}
