.mute-iframe {
  border: none;
  margin-top: -51px;
}

.welcome {
  width: 100%;
  text-align: center;

  .greetings {
    font-size: 3em;
    margin: 20px;
  }

  .form {
    width: 30%;
    margin: auto;
  }
}