doctype html
html
  include ../commons/utils
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/css/modernizr.css')
    link(rel='stylesheet', href='/css/styles.css')
    +injectCSSFromModules('welcome', injections)
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    +injectJSFromModules('welcome', injections)
    +injectAngularFromModules('welcome', injections)
    script(src='js/welcome/app.js')
    script(src='js/modules/invitation.js')
    script(src='js/modules/company.js')
    script(src='js/modules/login.js')
    script(src='js/modules/form-helper.js')
    script(src='js/modules/modernizr.js')

  body-app(ng-app='welcomeApp', ng-init="recaptchaPublicKey='#{recaptchaPublicKey}'")
    #wrap
      include ./partials/header
      div(ng-view ng-cloak)

    #unsupported.text-center
      .sorry
        a(href='http://open-paas.org/')
          img(src="/images/logo.png")
        p Sorry, your browser is not supported :-(
        p Please upgrade to a <a href="https://www.getfirefox.com/">modern</a> <a href="https://www.google.com/chrome/browser/">browser</a>.
