doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - Hiveety
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/restangular/dist/restangular.js')
    script(type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='js/welcome/app.js')
    script(src='js/modules/invitation.js')
    script(src='js/modules/company.js')
    script(src='js/modules/login.js')
    script(src='js/modules/form-helper.js')

  body(ng-app='welcomeApp', ng-init="recaptchaPublicKey='#{recaptchaPublicKey}'")
    #wrap
      include ./header
      div(ng-view ng-cloak)

