.clickable.inbox-identity.card.flex-colum
  .inbox-identity-header.flex-vertical-centered
    .inbox-identity-description.ellipsis {{ $ctrl.identity.description }}
    button.inbox-identity-remove-button.btn.btn-link.btn-icon.close.button(ng-if="!$ctrl.identity.isDefault", ng-click="$event.stopPropagation(); $ctrl.removeIdentity()", title="#{__('Delete')}")
      i.mdi.mdi-close
  .inbox-identity-body
    .inbox-identity-name.ellipsis {{ $ctrl.identity.name }}
    .inbox-identity-email.flex-vertical-centered.ellipsis
      i.mdi.mdi-email
      | {{ $ctrl.identity.email }}
    .inbox-identity-reply-to.flex-vertical-centered.ellipsis
      i.mdi.mdi-reply
      | {{ $ctrl.identity.replyTo }}
    .inbox-identity-signature.ellipsis(ng-if="$ctrl.identity.textSignature") {{ $ctrl.identity.textSignature }}
