div(ng-controller="activitystreamController")
    div#activitystreamerror
    span.throbber(us-spinner, spinner-key='activityStreamSpinner')
    infinite-list
        div(ng-repeat="thread in threads")
            whatsup-thread(message='thread')