.streamcard
  a.avatar(ng-href='{{::stream.url}}')
    img(src='/images/activitystream.png', fallback-src='/images/activitystream.png', ng-src='{{::stream.avatarUrl}}')
    span.label.sourcelabel.label-primary #{__("Source")}
  div.ellipsis
    span
      a(ng-href='{{::stream.url}}') {{::stream.displayName}}