div(activity-stream-notification)
  div
    message-edition(ng-show="streamable.writable")
  activity-stream-updates-notifier
  div
      div#activitystreamerror
      div.text-center.bg-info(ng-show="threads.length===0 && !restActive") #{__('There are no messages on this activity stream yet. Be the first to post !')}
      infinite-list
          ul.media-list
            li.media(ng-repeat="thread in threads" ng-init='parentMessage=true')
              message-template-displayer(message='thread' streamable='streamable' streams='streams' last-post='lastPost' writable='streamable.writable' parent-message='parentMessage')
      .throbber-container.text-center
        div.throbber(openpaas-logo-spinner, spinner-key='activityStreamSpinner')
