div
  a.avatar(ng-href='{{::activitystream.htmlUrl}}')
    img(src='/images/activitystream.png', fallback-src='/images/activitystream.png', ng-src='{{::activitystream.avatarUrl}}')
    span.label.sourcelabel.label-primary #{__("Source")}
  div.ellipsis
    span
      a(ng-href='{{::activitystream.htmlUrl}}') {{::activitystream.displayName}}
