div(ng-controller="activitystreamController")
  div
    whatsup-edition(ng-show="writable")
  activity-stream-updates-notifier
  div
      div#activitystreamerror
      div.text-center.bg-info(ng-show="threads.length===0 && !restActive") #{__('There are no messages on this activity stream yet. Be the first to post !')}
      infinite-list
          ul.media-list
            li.media(ng-repeat="thread in threads")
              messages-thread(message='thread' activitystream-uuid='activitystreamUuid' last-post='lastPost' writable='writable')
      .throbber-container.text-center
        span.throbber(us-spinner, spinner-key='activityStreamSpinner')
