div(activity-stream-notification)
  div
    message-edition(ng-show="activitystream.writable")
  activity-stream-updates-notifier
  div
      div#activitystreamerror
      div.text-center.bg-info(ng-show="threads.length===0 && !restActive") #{__('There are no messages on this activity stream yet. Be the first to post !')}
      .row
        activity-stream-filter.pull-right(ng-show="threads.length!==0 && streams.length > 1")
      infinite-list
          ul.media-list
            li.media(ng-repeat="thread in threads | filter: filterMessagesInSelectedStream" ng-init='parentMessage=true')
              message-template-displayer(message='thread' activitystream='thread.mainActivityStream' last-post='lastPost' parent-message='parentMessage')
      .text-center
        div.throbber(openpaas-logo-spinner, spinner-key='activityStreamSpinner')
