.bg-info.updates-notifier.transparent.text-center(ng-class="{opaque: updates.length}")
  a(ng-click="getStreamUpdates(activitystreamUuid)" href="javascript:undefined") Show {{updates.length}} new messages