infinite-list.list-emails

  .groupedEmails(ng-repeat="group in groupedEmails" ng-if="group.elements.length > 0")
    .block-header
      h2 {{::group.name}}

    .card.listview.lv-bordered.lv-lg
      .lv-body
        .lv-item.media(ng-repeat="email in group.elements")
          div.clickable(ng-click="ctrl.openEmail(email)")
            .list-image.avatarify
              //- empty img tag, to force the avatar display
              img
            .media-body(ng-class="::{bold: email.isUnread}")
              .flex-space-between
                .lv-title.ellipsis {{::email.subject}}
                .date-container {{::email.date | date: group.dateFormat}}
              .flex-space-between
                emailer.lv-title(emailer="::email.from")
                inbox-indicators(item="email")
            .lv-small.preview {{::email.preview}}

  ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  inbox-fab
  fab-scroll-top