.card.login-content.nopadding.zoomIn(esn-login-autofill)

  .card-header.login-background
    include ../../../../../frontend/views/welcome/partials/welcome.pug

  .card-body.p-25
    .confirm.alert.alert-success
      h4 #{__('Congratulations !')}.
      p #{__('You are now signed up on OpenPaas. Please wait while we log you in automatically...')}
