div
  cal-attendee-list-item-edition(ng-if="ctrl.mode === 'edition'", attendee='ctrl.attendee', is-organizer='ctrl.isOrganizer', read-only='::ctrl.readOnly')
  cal-attendee-list-item-consult(ng-if="ctrl.mode === 'consult'", attendee='ctrl.attendee', is-organizer='ctrl.isOrganizer', read-only='::ctrl.readOnly')
