.card
  .card-header.ch-alt
    h2 #{__('Members')}
  .listview
    .lv-body
      esn-collaboration-member-avatar(member="member", collaboration="collaboration", ng-repeat="member in members")
    .clearfix(ng-if='false')
    a.lv-footer(ng-href='#/collaborations/{{objectType}}/{{collaboration._id}}/members', ng-if='false')
      span(ng-if="more > 0") #{__('And')} {{more}} #{__('more')}...
      span(ng-if="more === 0") #{__('Show all members')}...