.collaboration-members
  div.unreadable(ng-if='!ctrl.readable')
    span #{__('You are not allowed to see the members of this collaboration')}

  .listview(ng-if="ctrl.readable")
    esn-collaboration-members-list(collaboration="ctrl.collaboration", object-type-filter="{{::ctrl.objectTypeFilter}}")
