.popover.application-menu(dynamic-directive='application-menu')
  div
    i.mdi.mdi-home
    span.label Home
  div
    i.mdi.mdi-email
    span.label Mail
  div
    i.mdi.mdi-calendar
    span.label Calendar
  div
    i.mdi.mdi-account-multiple
    span.label Contacts
  div
    i.mdi.mdi-forum
    span.label Communities
  div
    i.mdi.mdi-folder-multiple
    span.label Projects
  div
    i.mdi.mdi-account
    span.label Profile
  div
    i.mdi.mdi-account-multiple-outline
    span.label Members
  div
    i.mdi.mdi-account-plus
    span.label Invitation
  div
    i.mdi.mdi-apps
    span.label Apps
  div
    i.mdi.mdi-package
    span.label Modules
  div
    i.mdi.mdi-format-list-bulleted
    span.label Accounts
  div
    i.mdi.mdi-power
    span.label Logout
