calendar-configuration-tab-delegation {

  .delegation-line {
    .flex-row;
    .flex-vertical-centered;

    margin-bottom: 20px;

    .mdi {
      margin-right: 5px;
      font-size: 1.5em;
    }

    .delegation-line-visibility-key {
      .flex-noshrink;

      font-size: 15px;
    }

    .delegation-line-visibility-value {
      .fg-line;

      margin-bottom: 0;
      padding-right: 0;
    }

    &.delegation-visibility-line {
      padding-bottom: 10px;
    }

    .btn {
      margin-top: 10px;
    }

    .btn-group {
      margin-top: 10px;

      .btn {
        margin-top: 0;
      }

      .mdi {
        margin-right: 5px;
      }

      i {
        vertical-align: sub;
      }
    }

    .addDelegation {
      margin-top: 12px;
    }

    .name {
      margin-top: 12px;
    }

    .padding-left-0 {
      padding-left: 0;
    }
  }
}