.hidden-xs
  .delegation-line
    .col-md-5.padding-left-0
      users-autocomplete-input(mutable-users='$ctrl.newUsersGroups', on-adding-user='$ctrl.onAddingUser')
    .col-md-5
      .select
        select.addDelegation.form-control(ng-model='$ctrl.selectedShareeRight')
          option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === $ctrl.selectedShareeRight") {{delegationType.name}}
    .col-md-2
      .btn.btn-primary.btn-sm(ng-click="$ctrl.addUserGroup()") #{__('Add')}

  hr

.delegation-line(ng-repeat="delegation in $ctrl.delegations")
  a.attendee-avatar(href="", ng-attr-title='delegation.user.displayName')
    esn-avatar(user-email="delegation.user.preferredEmail")
  .col-xs-4.name
    span {{ delegation.user.displayName }}
  .col-xs-4.col-md-6
    span
      .select
        select.form-control(ng-model='delegation.selection')
          option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === delegation.selection") {{delegationType.name}}
  .col-xs-1.margin-right-10
    a(href="", ng-click='$ctrl.removeUserGroup(delegation)')
      i.mdi.mdi-delete

fab.hidden-md(ui-sref='calendar.edit.delegation({ newUsersGroups: $ctrl.newUsersGroups, delegationTypes: $ctrl.delegationTypes, addUserGroup:  $ctrl.addUserGroup})')
