.delegation-line.delegation-visibility-line
  i.mdi.mdi-account-multiple.big
  .delegation-line-visibility-key.col-xs-4
    | #{__('Public read')}
  .delegation-line-visibility-value.form-group.col-xs-8
    .select
      select.form-control(ng-model='$ctrl.publicSelection')
        option(ng-repeat="publicRight in ::$ctrl.publicRights" value="{{publicRight.value}}" ng-selected="publicRight.value === $ctrl.publicSelection") {{ publicRight.name }}

.hidden-xs
  .delegation-line
    span #{__('Delegation on this calendar')}

  .delegation-line
    .col-md-5.padding-left-0
      users-autocomplete-input(mutable-users='$ctrl.newUsersGroups')
    .col-md-5
      .select
        select.addDelegation.form-control(ng-model='$ctrl.selection')
          option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === $ctrl.selection") {{delegationType.name}}
    .col-md-2
      .btn.btn-primary.btn-sm(ng-click="$ctrl.addUserGroup()") #{__('Add')}

  hr

  .delegation-line(ng-repeat="delegation in $ctrl.delegations")
    .col-md-1
      a.attendee-avatar(href="", ng-attr-title='delegation.user.displayName')
        img(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/avatars?email={{ delegation.user.email | urlencode }}')
    .col-md-4.name
      span {{ delegation.user.displayName }}
    .col-md-5
      span
        .select
          select.form-control(ng-model='delegation.selection')
            option(ng-repeat="delegationType in ::$ctrl.delegationTypes" value="{{delegationType.value}}" ng-selected="delegationType.value === delegation.selection") {{delegationType.name}}
    .col-md-2
      a(href="", ng-click='$ctrl.removeUserGroup(delegation)')
        i.mdi.mdi-delete

.hidden-md
  .delegation-line
    .btn-group
      button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-expanded="false")
        i.mdi.mdi-account-multiple-plus
        | #{__('Add users and groups delegation')}
      ul.dropdown-menu(role="menu")
        li(ng-repeat="delegationType in ::$ctrl.delegationTypes" ng-if="delegationType.access==='all'")
          a(href="", ui-sref="calendar.edit-delegation")
            | {{delegationType.name}}
