extends /modules/subheader/responsive-subheader.pug

block left
  button.btn.btn-link.hidden-xs(esn-back-button='home')
    .flex-vertical-centered
      i.mdi.mdi-arrow-left.mdi-margin-right
      span #{__('Back')}
  button.btn.btn-link.btn-icon.visible-xs(esn-back-button='home')
    i.mdi.mdi-arrow-left

block right
  button.btn.btn-link.hidden-xs(ng-if="$ctrl.showEditButton", ui-sref="profile.details.edit", ui-sref-opts="{location: 'replace'}")
    .flex-vertical-centered
      i.mdi.mdi-pencil.mdi-margin-right
      span #{__('Edit')}
  button.btn.btn-link.btn-icon.visible-xs(ng-if="$ctrl.showEditButton", ui-sref="profile.details.edit", ui-sref-opts="{location: 'replace'}")
    i.mdi.mdi-pencil
