.col-xs-12.nopadding
  .row
    .col-xs-12
      h2
        i.fa.fa-upload
        | #{__('Applications')}
      div
        application-add-form
      .row(ng-repeat="application in applications")
        application-display(application="application")
