.col-xs-12.col-md-10.nopadding
  .col-xs-12
    h2
      .block-header
        h2 #{__('Applications')}
    div
      application-add-form
    div(ng-repeat="application in applications")
      application-display(application="application")
