.col-xs-12.esn-panel.nopadding
  .row
    .col-lg-12.col-sm-12.col-xs-12
      h2
        i.fa.fa-upload
        | {{ client.name }}
      .well
        button.btn.btn-danger(type='submit', ng-click='revokeTokens()') Revoke all user tokens
        &nbsp;
        button.btn.btn-danger(type='submit', ng-click='resetClientSecret()') Reset client secret

      p
        strong Client ID
        br
        span {{ client.clientId }}
      p
        strong Client Secret
        br
        span {{ client.clientSecret }}

    .col-xs-12
      application-edit-form(client=client)
