.col-xs-12.col-md-10.nopadding
  .row
    .col-xs-12
      h2
        i.mdi.mdi-upload
        | #{__('Applications')}
      div
        application-add-form
      .row(ng-repeat="application in applications")
        application-display(application="application")
