sub-header
  contact-create-subheader

.col-xs-12.no-padding-xs(sub-header-aware)
  .card(ng-submit='accept()')
    .card-body.card-padding
      contact-edition-form(contact='contact', addressbook-path='addressbookPath', contact-state='new')
