extends /modules/subheader/responsive-subheader.pug

block left
  button.btn.btn-link.btn-icon.clickable(esn-back-button='contact', title=__('Back'))
    i.mdi.mdi-arrow-left

block right
  button.btn.btn-link.hidden-xs(ng-click='accept()')
    .flex-vertical-centered
      span #{__('Create')}
      i.mdi.mdi-check.mdi-margin-left

  button.btn.btn-link.btn-icon.visible-xs(ng-click='accept()')
    i.mdi.mdi-check
