.cc-sync
  .block-header
    h2 #{__('Sync an Android device with OpenPaaS')}

  .sync-android-guide.card(ng-include="'/sync/android/guide'")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')
