.inbox-root.ui-view.col-xs-12.nopadding(name="root")
  .subheader-aware.inbox-main
    .col-md-3.hidden-xs.hidden-sm(ng-include="'/unifiedinbox/views/sidebar/desktop-menu.html'")
    .col-xs-12.col-md-8.no-padding-xs
      .ui-view.inbox-main-col(name="main")
