.subheader-aware.inbox-main
  .col-md-3.hidden-xs.hidden-sm(sidebar-mailboxes-loader, ng-include="'/unifiedinbox/views/sidebar/desktop-menu.html'")
  .col-xs-12.col-md-9.no-padding-xs
    .ui-view(name="main")
