.calendar-header-mobile {
  width: 100%;

  .calendar-controls {
    transition: 1s background;
    .btn {
      box-shadow: none;
    }

    a {
      i.mdi-menu-down {
        .transition(all 300ms linear);
      }
      &.toggled {
        i.mdi-menu-down {
          .rotateZ3d(180deg);
        }
      }
    }
  }

  a {
    background: red;
  }

  .left {
    .flex-start;
    .flex-vertical-centered;

    .date-indicator {
      text-transform: uppercase;
      color: @m-white;
      font-weight: bold;
    }
  }

  .mdi-calendar-today {
    margin-left: 3px;
  }

  .btn {
    padding: 6px 8px;

    &.mini-calendar-caret {
      padding: 6px 0px;
    }
  }
}

@swipe-arrows-max: 767px;

@media (max-width: @swipe-arrows-max) {
  .calendar-header-mobile {
    a[calendar-view-translation] {
      display: none;
    }
  }
}
