.attendee-avatar {
  .checkbox {
    position: absolute;
    bottom: -22px;
    right: -20px;
  }
  img {
    border: 1px solid black;
    border-radius: 2px;
  }
}

@media (min-width: @screen-sm-min) {
  .attendee-avatar {
    .checkbox {
      bottom: -2px;
    }
  }
}
