.listview.calendars-list {
  .fg-line {
    top: -6px;
  }

  i {
    font-size: 1.5em;
  }

  .calendar-item {

    .mdi.mdi-settings {
      color: lighten(@secondaryTextColor, 20%);
      &:hover {
        color: @secondaryTextColor;
      }
    }

    .mdi.mdi-checkbox-blank-outline {
      color: @secondaryTextColor;
    }

    .lv-title {
      color: @secondaryTextColor;
    }

    &.calendar-header-title {
      margin-top: 15px;
      margin-bottom: 10px;
      border-left: 5px solid @primaryColor;

      .media {
        margin-left: -12px;
        min-width: 240px;

        .pull-left .mdi {
          font-size: 35px;
          margin-top: -3px;
          color: @secondaryTextColor;
        }

        .pull-right .mdi {
          font-size: 25px;
          cursor: pointer;
          color: lighten(@secondaryTextColor, 10%);
          &:hover {
            color: darken(@secondaryTextColor, 20%);
          }
        }

        .pull-left {
          padding-right: 0;
        }

        .media-body .lv-title {
          margin-left: 7px;
          font-size: 20px;
          font-weight: bold;
          color: @primaryColor;
        }
      }
    }

    &.selected-calendar {
      background: @darkenBgColor;
    }
  }
}
