.event-search-item {
  .mdi {
    font-size: 1.4em;
    margin: 0 5px;
  }

  .pull-left {
    .flex();
    height: 40px;
    margin-right: 10px;
    .mdi-calendar {
      font-size: 3em;
    }
  }
}
