.event-recurrence-edition {

  .recurrence-interval-input {
    width: 40px;
    bottom: 6px;
    input {
      text-align: center;
    }
  }

  .event-recurrence-flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .interval, .on-days, .end, {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .interval {
      .col-xs-10 {
        display: flex;
        justify-content: space-start;
        span {
          margin-left: 10px;
        }
      }
    }

    .on-days {
      .labels {
        justify-content: space-between;
        .checkbox {
          margin-left: 5px;
        }
      }
    }

    .end {
      .radios {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .radio-inline {
          margin-left: 0;
        }

        .radio input[type="number"], .radio input[type="text"] {
          opacity: 1;
          cursor: text;
          text-align: center;
        }

        label {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  .event-recurrence-flex-container {
    margin-left: 50px;
  }
}
