.mail-to-attendees {
  .flex-row;
  .flex-vertical-centered;
  color: @accentColor;
  float: right;
  margin-right: 0;
  font-size: 15px;
  .mdi {
    color: @accentColor;
    font-size: 1.5em;
    margin-left: 5px;
  }
}
