.mail-to-attendees {
  .flex-row;
  .flex-vertical-centered;
  float: right;
  font-size: 1.2em;

  span {
    color: @accentColor;
    float: right;
  }

  a {
    color: @accentColor;
    .mdi {
      font-size: 2em;
    }
  }
}
