.event-full-form-subheader
  .flex-vertical-centered.flex-space-between(ng-if='isOrganizer')
    .left
      button.btn.btn-primary(type='button', ng-click="goToCalendar()")
        i.mdi.mdi-close
      button.btn.btn-primary(ng-if='!isNew(editedEvent)', type='button', ng-click="goToCalendar(deleteEvent)")
        i.mdi.mdi-delete
    .right
      button.btn.btn-primary(ng-if='isNew(editedEvent)', type='button', ng-disabled="restActive", ng-click='goToCalendar(submit)')
        | #{__('Create')}
        i.mdi.mdi-check
      button.btn.btn-primary(ng-if='!isNew(editedEvent)', type='button', ng-disabled="restActive", ng-click='goToCalendar(submit)')
        | #{__('Save')}
        i.mdi.mdi-check
  .flex-vertical-centered.flex-space-between(ng-if='!isOrganizer')
    span.title #{__('Consult')}
    button.btn.btn-primary(type='button', ng-click="goToCalendar()")
      i.mdi.mdi-close
