div.btn-group
  button.btn.btn-primary.btn-lg(type="button", modal-launcher, template="/views/modules/community/community-create-modal", ng-click="showModal()")
    i.mdi.mdi-plus.hidden-sm.hidden-md.hidden-lg &nbsp;new community
    span.hidden-xs #{__('Create a community')}
  button.btn.btn-primary.dropdown-toggle.btn-lg(type="button",data-toggle="dropdown", aria-expanded="false")
    span.caret
    span.sr-only Toggle Dropdown
  ul.dropdown-menu(role="menu")
    li
      a(href="", modal-launcher, template="/projects/views/project-create-modal", ng-click="showModal()")  #{__('Create a project')}
