div(ng-switch='account.provider')
  social-account(ng-switch-when='twitter', type='twitter', account='account')
  social-account(ng-switch-when='google', type='google', account='account')
  social-account(ng-switch-when='facebook', type='facebook', account='account')
  social-account(ng-switch-when='github', type='github', account='account')
