.fab(click-outside='hide()')
  button.btn.btn-float.bgm-accent.m-btn(type="button", ng-click="onClick()")
    i.mdi.mdi-plus
  .modal-accounts-list
    ul(dynamic-directive='accounts-item-anchorpoint')
