.inbox-message-body-html
  .inbox-message-body-html-autoscale(ng-if="!$ctrl.autoScaleDisabled && $ctrl.message.scaled")
    .inbox-message-body-html-autoscale-message #{__('This message was scaled down.')}
    a.btn.btn-link.inbox-message-body-html-autoscale-disable(ng-click="$ctrl.disableAutoScale()") #{__('Cancel')}

  // The email is displayed in an iframe because it's the easiest way to display raw HTML content
  // without having to deal with XSS security. The iframe is sandboxed so that even if there's style injection
  // or a malicious script running inside the email, this won't pollute the ESN...
  iframe.inbox-message-body-html-iframe(
    sandbox="allow-scripts allow-popups allow-popups-to-escape-sandbox",
    src="/unifiedinbox/app/components/message-body/html/message-body-html-iframe.html"
  )
