div.esn-email
  h4.media-heading
    a(href="#") {{message.author.firstname}} {{message.author.lastname}} #{__('has shared an email')}
    small
      | &nbsp;-&nbsp;
      a(href="/#messages/{{message._id}}")
        span(am-time-ago="message.timestamps.creation")

  div.email-message
    div.message-title
      span {{message.parsedHeaders.subject}}

    .row.header
      a.avatar(href='#', title='{{message.parsedHeaders.from.name}} <{{message.parsedHeaders.from.address}}>')
        img(src='/images/user.png')
        span.label.label-danger.emaillabel From

      .from
        span {{message.parsedHeaders.from.name}}
        a(href='mailto:{{message.parsedHeaders.from.address}}') {{message.parsedHeaders.from.address}}
      .date
        b {{message.parsedHeaders.date | amCalendar}}

    .row.to
      ul.emails-list.list-inline
        li(ng-repeat="to in message.parsedHeaders.to")
          a.avatar(href='#', title='{{to.name}} <{{to.address}}>')
            img(src='/images/user.png')
            span.label.label-primary.emaillabel To
          div.ellipsis
            {{to.name}}
          span.ellipsis
            a(ng-href='mailto:{{to.address}}') {{to.address}}

    .row.cc
      ul.emails-list.list-inline
        li(ng-repeat="cc in message.parsedHeaders.cc")
          a.avatar(href='#', title='{{cc.name}} <{{cc.address}}>')
            img(src='/images/user.png')
            span.label.label-info.emaillabel Cc
          div.ellipsis
            {{cc.name}}
          span
            a.ellipsis(ng-href='mailto:{{cc.address}}') {{cc.address}}

    .row.body
      blockquote
        p.multilines.esn-email-body(data-ng-show='message.body.text' ng-bind-html="message.body.text | linky")