div(ng-class="{'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  a.pull-left.message-avatar(href='#')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div.esn-email
    h4.media-heading
      a(href="#") {{message.author.firstname}} {{message.author.lastname}} #{__('has shared an email')}
      message-date-link(message='message', activitystream='activitystream')
    activity-stream-origin(ng-if='parentMessage', streams='streams', message='message', activitystream='streamable')
    div.email-message
      div.message-title
        span {{message.parsedHeaders.subject}}

      .row.header
        a.avatar(href='#', title='{{message.parsedHeaders.from.name}} <{{message.parsedHeaders.from.address}}>')
          img(src='/images/user.png', ng-src="/api/avatars?objectType=user&email={{message.parsedHeaders.from.address}}")
          span.label.label-danger.emaillabel From

        .from
          span {{message.parsedHeaders.from.name}}
          a(href='mailto:{{message.parsedHeaders.from.address}}') {{message.parsedHeaders.from.address}}
        .date
          b {{message.parsedHeaders.date | amCalendar}}

      .row.to
        ul.emails-list
          li(ng-repeat="to in message.parsedHeaders.to")
            profile-minicard(user='to', label='To', labelclass='label-primary')

      .row.cc
        ul.emails-list
          li(ng-repeat="cc in message.parsedHeaders.cc")
            profile-minicard(user='cc', label='Cc', labelclass='label-info')

      .row.body
        blockquote
          p.multilines.email-message-body(data-ng-show='message.body.text || message.body.html' ng-bind-html="(message.body.text || message.body.html) | linky")
    message-bottom-links
    message-attachments(ng-show='message.attachments && message.attachments.length > 0', message='message')
    message-comments
