div(ng-class="{'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  a.pull-left(href='#')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div.media-body
    div
      h4.media-heading
        i.mdi.mdi-email(ng-show='message.source === "email"', title='sent via email reply')
        a(href="#") {{message.author.firstname}} {{message.author.lastname}}
        message-date-link(message='message', activitystream='activitystream')
      activity-stream-origin(ng-if='parentMessage && !message.isOrigin', streams='message.streamOrigins')
      message-shared(message='message')
      display-position(position='message.position')
      p.multilines
        text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
      .row

    message-bottom-links
    message-attachments(message='message')
    message-oembeds(message='message')
    message-comments
