div(ng-class="{'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  a.pull-left.message-avatar(href='#')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div.media-body
    div
      h4.media-heading
        i.fa.fa-envelope.message-source-email(ng-show='message.source === "email"', title='sent via email reply')
        a(href="#") {{message.author.firstname}} {{message.author.lastname}}
        a.message-date(href="/#messages/{{message._id}}/activitystreams/{{activitystream.activity_stream.uuid}}" title="{{::message.published | amDateFormat:'MMM D YY, h:mm a'}}")
          small(am-time-ago="message.published")
      activity-stream-origin(ng-if='parentMessage && !message.isOrigin', streams='message.streamOrigins')
      include ../templates/includes/shareMessage
      display-position(position='message.position')
      p.multilines
        text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
      .row

    include ./includes/messagesBottomLinks
    include ./includes/attachments.jade
    include ./includes/oembed.jade
    include ./includes/comments.jade
