div.t-view(data-tv-type="text" ng-class="{'just-posted': message._id === lastPost.messageId, 'esn-panel': parentMessage, 'thread': parentMessage}")
  .tv-header.media
    a.tvh-user.pull-left(href='#')
      img.img-responsive(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
    .media-body.p-t-5
      i.fa.fa-envelope.message-source-email(ng-show='message.source === "email"', title='sent via email reply')
      strong {{message.author.firstname}} {{message.author.lastname}}
      br
      include ./includes/dateLink
      .share
        include ./includes/messagesBottomLinks
      activity-stream-origin(ng-if='parentMessage && !message.isOrigin', streams='message.streamOrigins')
  .tv-body
    display-position(position='message.position')

    p.multilines
      text-parser(parsers='{{message.parsers}}', text='{{message.content}}')
    .row
      include ./includes/attachments.jade
    .row
      include ./includes/oembed.jade

  .tv-comments
    include ./includes/comments.jade
