div
  h4.media-heading
    a(href="#") {{message.author.firstname}} {{message.author.lastname}}
    small
      | &nbsp;-&nbsp;
      a(href="/#messages/{{message._id}}")
        span(am-time-ago="message.published")

  div.ellipsis(ng-controller='whatsupMapController')
    a.map(href='', ng-show='message.position', ng-click='toggleMapDisplay(message.position)')
      i.fa.fa-map-marker
      span(ng-show="message.position.display_name") #{__('Near')} {{message.position.display_name}}
    leaflet(ng-if="showMeMap", markers="markers", center="center", height="200px", width="100%")

  p.multilines {{message.content}}