infinite-list.list-emails

  .groupedEmails(ng-repeat="group in groupedThreads" ng-if="group.elements.length > 0")
    .block-header
      h2 {{::group.name}}

    .card.listview.lv-bordered.lv-lg
      .lv-body
        .lv-item.media(ng-repeat="thread in group.elements")
          div.clickable(ng-click="ctrl.openThread(thread)")
            .badge-container
              i.mdi.mdi-email
            .media-body(ng-class="::{bold: thread.email.isUnread}")
              .flex-space-between
                .flex-start.ellipsis
                  .lv-title {{::thread.email.subject}}
                  .badge-number(ng-if='thread.messageIds.length > 1') ({{ thread.messageIds.length }})
                .date-container
                  i.email-status-icon.mdi.mdi-attachment(ng-if='::thread.email.hasAttachment')
                  email-star(email='thread.email')
                  span.date {{::thread.email.date | date: group.dateFormat}}
              emailer.lv-title(emailer="::thread.email.from")
              .clearfix
            .lv-small.preview {{::thread.email.preview}}

  ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  inbox-fab
  fab-scroll-top
