a.user-notification-toggler(href="", ng-click="open()")
  i.mdi.mdi-bell
  i.unread-count(ng-if="getNumberOfNotifications() > 0", ng-class="{'important': hasImportantNotifications()}") {{ getNumberOfNotifications() }}
