div
   .row
      .col-xs-12
         user-button-event-create(user='user', ng-click='createEvent()')
   .vertiz-space
   .row
      .col-xs-12
         span {{alertMessage}}
   .vertiz-space
   .row
      .col-xs-12
         div(ui-calendar="" class="calendar" ng-model="eventSources")

