div
  button.btn.btn-primary.btn-lg(type="button", modal-launcher, template="/calendar/views/partials/event-quick-form-modal", ng-click="showModal()")
    i.mdi.mdi-plus.hidden-sm.hidden-md.hidden-lg
    span.hidden-xs #{__('Create Event')}