.col-xs-12
  .block-header
    h2 {{ $ctrl.application.name }}

  .row
    .well.text-center
      button.btn.btn-danger.m-5(type='submit', ng-click='$ctrl.revokeTokens()') #{__('Revoke users tokens')}
      button.btn.btn-danger.m-5(type='submit', ng-click='$ctrl.resetClientSecret()') #{__('Reset client secret')}

  .row
    p
      strong #{__('Client ID')}
      br
      span {{ $ctrl.application.clientId }}
    p
      strong #{__('Client Secret')}
      br
      span {{ $ctrl.application.clientSecret }}

  .row
    .well
      esn-oauth-application-edit-form(application="$ctrl.application")
