// redefine angularstrap/bootstrap-additions here

.datepicker.dropdown-menu {
  width: 250px;
  height: 370px;
  button {
    outline: none;
    border: 0px;
    padding: 4px;
  }
  tbody button {
    padding: 4px;
  }
}

