
#calendar-widget {
  margin-bottom: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#fc-actions {
  position: absolute;
  top: 24px;
  right: 12px;
}

.fc {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}

.fc td {
  border-color: #f0f0f0;
  text-align: center !important;
}

.fc th {
  background: #f32c1e;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  padding: 6px 0;
}

.fc table tr > td:first-child {
  border-left-width: 0;
}

.fc .ui-widget-header {
  border-width: 0;
}

.fc-toolbar {
  background-color: #f44336;
  margin-bottom: 0;
  padding: 20px 7px 19px;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.fc-toolbar h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 7px;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.fc-toolbar .ui-button {
  border: 0;
  background: 0 0;
  padding-left: 5px;
  padding-right: 5px;
  outline: none !important;
  text-align: center;
}

.fc-toolbar .ui-button > span {
  position: relative;
  font-family: 'Material-Design-Icons';
  //font-family: 'Material Design Iconic Font';
  font-size: 20px;
  color: #FFF;
  line-height: 100%;
  width: 30px;
  padding-top: 5px;
  display: block;
  margin-top: 2px;
}

.fc-toolbar .ui-button > span:before {
  position: relative;
  z-index: 1;
}

.fc-toolbar .ui-button > span.ui-icon-circle-triangle-w:before {
  content: "\e8a1";
  //content: "\f297";
}

.fc-toolbar .ui-button > span.ui-icon-circle-triangle-e:before {
  content: "\e8a5";
  //content: "\f298";
}

.fc-toolbar .ui-button > span:after {
  content: "";
  width: 0;
  position: absolute;
  top: 50%;
  height: 0;
  border-radius: 50%;
  left: 50%;
  z-index: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fc-toolbar .ui-button:hover > span:after {
  width: 31px;
  height: 31px;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}

.fc-event {
  padding: 0;
  font-size: 11px;
  border-radius: 0;
  border: 0;
}

.fc-event .fc-title {
  padding: 2px 0;
  display: block;
}

.fc-event .fc-time {
  float: left;
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  margin: 0 0 0 -1px;
}

.fc-view,
.fc-view > table {
  border: 0;
  overflow: hidden;
  /*
    @media @min-992 {
	    width: ~"calc(100% + 1px)";
    }
    */
}

.fc-view > table > tbody > tr > .ui-widget-content {
  border-top: 0;
}

div.fc-row {
  margin-right: 0 !important;
  border: 0 !important;
}

.fc-right {
  color: @white;
  font-variant: small-caps;
  font-size: 1.2em;
}