.RoundedShape(@radius:@defaultRadius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.ShadowedShape(@shadow:@defaultShadow){
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}

.ResizeImage(@width, @height) {
  img {
    width: @width;
    height: @height;
  }
}

.invisible {
  visibility: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
