// Linagora custom css
//

.esn-welcome-home-container {
  width: 600px !important;
}

.btn {
  width: 100% !important;
}

.esn-welcome {
  margin: 20px auto;
  padding-bottom: 0 !important;
}

@media (min-width: 998px) {
  .esn-welcome {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

.linagora-logo-container {
  font-size: 0.35em !important;
  margin: 20px auto;
  -webkit-transition:font-size 0.5s;
  transition:font-size 0.5s;
}

@media (min-width: 768px) {
  .linagora-logo-container {
    font-size: 0.8em !important;
  }
}

@media (min-width: 992px) {
  .linagora-logo-container {
    font-size: 0.7em !important;
  }
}

@media (min-width: 1200px) {
  .linagora-logo-container {
    font-size: 0.8em !important;
  }
}
