@import "../components/bootstrap-material-design/less/material-fullpalette";

// Override colors from frontend/components/bootstrap-material-design/less/_variables.less
@primary: @blue;
@info: @secondary-blue;
//@warning: @deep-orange;
//@danger: @red;

.radio.radio-primary {
  padding-left: 0px;
}