@import "../components/bootstrap-material-design/less/material";

@material-font-path: '/components/bootstrap-material-design/fonts/';

/*
.radio.radio-primary {
  padding-left: 0px;
}

.label-default {
  background-color: @middle-dark-grey;
}
*/

/*
 * When using .floating-label a .form-control-wrapper is created.
 * The margin allow the floating label to not overlap element above.
 */
.form-control-wrapper {
  margin-top: 10px;
}

.fab {
  color: @white;
  font-size: 28px;
}

.fab-fixed-bottom {
  position: fixed;
  bottom: 40px;
  z-index: 1;
  right: 30px;
}
