@import "../components/bootstrap-material-design/less/material";

// Override colors from frontend/components/bootstrap-material-design/less/_variables.less
@primary: @blue;
@info: @secondary-blue;
//@warning: @deep-orange;
//@danger: @red;

.radio.radio-primary {
  padding-left: 0px;
}

.label-default {
  background-color: @middle-dark-grey;
}

/*
 * When using .floating-label a .form-control-wrapper is created.
 * The margin allow the floating label to not overlap element above.
 */
.form-control-wrapper {
  margin-top: 10px;
}