@sidebar-width: 250px;
@profile-height: 129px;
@profile-avatar-size: 47px;

#sidebar {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
  top: 65px;
  height: ~"calc(100% - 65px)";
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
  z-index: 5;
  width: @sidebar-width;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;

  &.toggled {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  > .sidebar-inner {
    height: 100%;
    overflow-y: auto;
    width: @sidebar-width + 50px;

    > .si-inner {
      width: @sidebar-width;


      .profile-menu::before .profile-menu::after{
        content: " ";
        display: table;
      }

      .profile-menu > a {
        display: block;
        height: @profile-height;
        margin-bottom: 5px;
        width: 100%;
//        background: url(../img/profile-menu.png) no-repeat left top;
//        background-size: 100%;
      }

      .profile-pic {
        padding: 12px;

        img{
          width: @profile-avatar-size;
          height: @profile-avatar-size;
          border-radius: 50%;
          border: 3px solid rgba(0, 0, 0, 0.14);
          box-sizing: content-box;
        }
      }

      .profile-info {
        background: rgba(0, 0, 0, 0.37);
        padding: 7px 14px;
        color: #fff;
        margin-top: 20px;
        position: relative;
      }
    }

  }

}
