@import "../components/bootstrap/less/bootstrap";
@icon-font-path: '/components/bootstrap/dist/fonts/';

/*
 * LESS Plugins
 */
@import '../components/material-admin/less/inc/less-plugins/for';

/*
 * Variable and Mixin
 */

@import '../components/material-admin/less/inc/variables';
@import '../components/material-admin/less/inc/mixin';

/*
 * Load material-admin related LESS files
 */
@import '../components/material-admin/less/inc/generics';
@import '../components/material-admin/less/inc/bootstrap-overrides';
@import '../components/material-admin/less/inc/base';


/*
 * Custom LESS files
 */
@import "./variables";
@import "./commons";

html, body {
  height: 100%;
}

// Used in selectors
.just-posted {
  animation: swing 1s;
  -webkit-animation: swing 1s;
}

// Used in selectors
.form-container {
}

// Used in selectors
header.topbar {
}

// Used in selector
.esn-navbar-wrapper {
}

// Used in selector
.esn-item {
}
