@defaultFont: 14px "RobotoDraft","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

@white: #fff;
@grey: #eff0f4;
@middle-light-grey: #eeeff3;
@light-grey: #f8f8f8;
@very-light-grey: #f5f5f5;
@middle-grey: #c0c0c0;
@middle-dark-grey: #bfbfbf;
@dark-grey: #5C5C5C;
@blue: #1E88E5;
@secondary-blue: #2196F3;
@yellow: #eecb25;
@secondary-yellow: #64B5F6;
@green: #abc85c;
@dark-green: #16803B;
@red: #bc015c;
@secondary-red: #e40c24;
@black: #232323;
@transparent: rgba(255,255,255,0);

@createHeaderBackground: #EEE;
@createHeaderTitle: #666;

@defaultRadius: 0px;
@defaultShadow: 1px 1px 0 #ddd;
@defaultBottomShadow: 0px 1px 0 #ddd;
@defaultFontColor: #343434;
@defaultBorderColor: #dce4e7;
@defaultBorder: solid @defaultBorderColor 1px;
@defaultFontSize: 13px;

@defaultImageSizeBig: 150px;
@defaultImageSizeLarge: 96px;
@defaultImageSizeIntermediate: 72px;
@defaultImageSizeMedium: 48px;
@defaultImageSizeSmall: 32px;
@defaultImageSizeTiny: 20px;

@defaultPaddingButton: 2px 12px;

@site-background: @grey;
@header-background: @black;
@inner-widget-background: #eeeeee;
@button-standard-background: @yellow;
@button-standard-border-color: #e1c023;

@widget-background: @light-grey;
@widget-my-communities-color: #ebb251;
