@import '../components/material-admin/less/inc/variables';
@primaryColor: @m-blue;
@darkPrimaryColor: darken(@primaryColor, 10%);
@lightPrimaryColor: lighten(@primaryColor, 10%);
@textPrimaryColor: @m-white;  // Text color for @primaryColor background

@accentColor: @m-amber;
@brand-primary: @primaryColor; // Override default bootstrap primary

@defaultFont: 14px "RobotoDraft","Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
@text-color: lighten(@m-black, 20%);
@secondaryTextColor: lighten(@text-color, 20%);
