doctype html
html.login-content
  include ../commons/utils.pug
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/generated/css/welcome/styles.css')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/angular-component/dist/angular-component.min.js')
    script(src='/components/angular-messages/angular-messages.min.js')
    script(src='js/material.js')
    script(src='/components/material-admin/js/modules/form.js')
    script(src='js/password-reset/app.js')
    script(src='js/constants.js')
    script(src='js/modules/escape-html.js')
    script(src='js/modules/notification.js')
    script(src='js/modules/login.js')
    script(src='js/modules/form-helper.js')
    script(src='js/modules/modernizr.js')
    script(src='js/modules/http.js')

  body.login(ng-app='passwordResetApp')
    .aligner(ng-view ng-cloak)
