pre {{ email.textBody }}
br
br
br

p {{ marker }}
cite #{__('On')} {{ email.quoted.date | date:dateFormat:tz }}, #{__('from')} {{ email.quoted.from.email }}:

br
br

blockquote {{ email.quoted.textBody | inboxQuote }}
