p
  br

cite
  | ------- #{__('Forwarded message')} -------
  br
  | Subject: {{ email.quoted.subject }}
  br
  | Date: {{ email.quoted.date | date:dateFormat:tz }}
  br
  | From: {{ email.quoted.from.email }}
  br
  | {{ email.quoted.to | emailerList:'To: '}}
  br
  | {{ email.quoted.cc | emailerList:'CC: '}}

blockquote {{ email.quoted.htmlBody || (email.quoted.textBody | nl2br) }}
