.col-xs-12.col-md-10.esn-panel
  .row
    h2.esn-communities-header
      ul.list-inline
        li
          i.mdi.mdi-cloud
          | #{__('Module Manager')}
        li.pull-right
          appstore-button-submit
  .vertiz-space

  .row.alert.alert-info(ng-show="loading", role="alert")
    p #{__('Loading modules...')}
  .row.alert.alert-danger(ng-show="error && !loading", role="alert")
    p #{__('Error while loading modules !')}
  .row.alert.alert-info(ng-show="!loading && !error && applications.length === 0", role="alert")
    p #{__('There are no modules yet.')}
  .vertiz-space

  .row
    div(ng-hide="loading").controls.text-center
      appstore-app-display(application="application", ng-repeat="application in applications | orderBy:'title'")
