.col-xs-12.col-md-10.esn-panel
  
  .col-lg-2.col-md-3.col-xs-4
    a(href='#/appstore/apps/{{::application._id}}')
      img.thumbnail.nopadding(ng-src='/appstore/api/apps/{{::application._id}}/avatar', src='/appstore/images/application.png')

  .col-lg-10.col-md-9.col-xs-8
    .row
      h2
        a(href='#/appstore/apps/{{::application._id}}')
          strong {{::application.title}}
          small &nbsp;{{::application.version}}

    .row
      blockquote
        p.application-description.multilines(ng-show='application.description') {{::application.description}}

    .row
      ul.list-inline(appstore-buttons-group)
        li
          appstore-switch-deploy(application="application", version="1.0.0", domain-deployment="domainDeployment")
        li
          appstore-label-domain-deploy(application='application')
