.row
  .col-xs-12
    div.conference-video#multiparty-conference
      .row
        conference-user-video(video-id="video-thumb0", attendee="getName(attendees[0])",  easyrtc='easyrtc')
      .row
        conference-user-control-bar(users="users", easyrtc='easyrtc')
      .row
        conference-attendee-video(video-id="video-thumb1", attendee="getName(attendees[1])")
        conference-attendee-video(video-id="video-thumb2", attendee="getName(attendees[2])")
      .row
        conference-attendee-video(video-id="video-thumb3", attendee="getName(attendees[3])")
        conference-attendee-video(video-id="video-thumb4", attendee="getName(attendees[4])")
        conference-attendee-video(video-id="video-thumb5", attendee="getName(attendees[5])")
      .row
        conference-attendee-video(video-id="video-thumb6", attendee="getName(attendees[6])")
        conference-attendee-video(video-id="video-thumb7", attendee="getName(attendees[7])")
        conference-attendee-video(video-id="video-thumb8", attendee="getName(attendees[8])")
  info-notification
    live-conference-notification(room='{{conference._id}}')
