sub-header
  block subheader

infinite-list(load-more-elements='loadMoreElements()').list-emails

  .groupedEmails(ng-repeat="group in groupedElements" ng-if="group.elements.length > 0")
    .block-header
      h2 {{::group.name}}

    .card.listview.lv-bordered.lv-lg
      .lv-body
        .lv-item.media.inbox-list-item(ng-repeat="item in group.elements | filter: listFilter | orderBy: '-date'")
          block item

  ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  inbox-fab
  fab-scroll-top
