.inbox-subheader.row
  .col-md-3.hidden-xs
  .col-md-8.col-xs-12.no-padding-xs
    .flex-space-between.inbox-subheader-inner
      .left-container.flex-vertical-centered
        block left
      block right
