.popover.user-notification-popover(tabindex="-1", force-close-on-links-click, force-margin-left="10")
  .popover-title.text-center #{__('Notifications')}
    a.pull-right(href="", ng-show="false") #{__('Mark as read')}
  .popover-content
    esn-user-notification-list(scroll-inside-container='true')
  .popover-footer
    a(ui-sref="user-notification.list") #{__('See all')}
