.popover.user-notification-popover(tabindex="-1", force-margin-left="10")
  .popover-title.text-center #{__('Notifications')}
    a.pull-right(href="", ng-show="false", ng-click="$hide()") #{__('Mark as read')}
  .popover-content
    esn-user-notification-list(scroll-inside-container='true', hide-popover='$hide()')
  .popover-footer
    a(ui-sref="user-notification.list", ng-click="$hide()") #{__('See all')}
