.col-xs-12.esn-panel
  h3 #{__('Invite people of your organization')}
  invite-members-input(domain='domain', validate-email='validateEmailForInternalUser')

.col-xs-12.vertiz-space

.col-xs-12.esn-panel
  h3 #{__('Invite external people')}
  invite-members-input(domain='domain', validate-email='validateEmailForExternalUser')
