.esn-user-notification {
  .card {
    margin-top: 5px;
    margin-bottom: 5px;

    .card-header {
      padding: 10px;
    }
  }

  img {
    .avatar(24px);

    margin: 5px;
  }

  button {
    margin: 5px;
  }
}
