@import './modules/listEmails';
@import './modules/listThreads';
@import './modules/viewEmail';
@import './modules/composer';
@import './modules/header';
@import './modules/configuration';
@import './modules/aside';
@import './modules/tags-input';
@import './modules/attachment';
@import './modules/listTwitter';

.comma {
  margin-right: 2px;
}

.emailer {
  display: inline-block;
  word-break: break-word;

  .email {
    margin-left: 5px;
  }

}

.actions {
  a {
    cursor: pointer;
  }
}

.inbox-main {
  width: 100%;

  .email-status-icon {
    font-size: 20px;
    vertical-align: middle;

    margin-left: 10px;

    &.mdi-star {
      color: @primaryColor;
    }

    &.mdi-star-outline {
      color: lighten(@m-gray, 10%);
    }

    &.mdi-star-off {
      color: @m-gray;
    }
  }

  .list-image {
    float: left;
    height: 40px;

    img {
      height: 40px;
      width: 40px;
    }
  }

  .avatarify {
    @media (min-width: @screen-md-min) {
      padding-left: 50px;
      background: ~"url('/images/user.png') no-repeat center left/40px";
    }
  }

  .indicators {
    margin-top: 5px;

    .mdi-paperclip {
      font-size: 18px;
    }
  }
}

.inbox-main-content {
  color: @secondaryTextColor;
  font-size: 1.4em;

  width: 100%;
  padding: 15px;

  hr {
    border-color: @secondaryTextColor;
  }

  .clickable {
    position: relative;
  }
}

.inbox-icon {
  margin-right: 5px;
}

.inbox-main-col {
  margin-top: 0;

  .card {
    margin-bottom: 20px;
  }

  .block-header {
    margin: 20px 0 10px 0;
    padding: 0 15px;

    h2 {
      font-size: 1em;
      color: lighten(@secondaryTextColor, 20%);
      text-transform: capitalize;
    }
  }
}

@media (min-width: @screen-sm-min) {

  .inbox-main-content, .inbox-desktop-menu {

    .clickable:hover {
      color: @text-color;
    }

  }

  .inbox-main-col {
    margin-top: 25px;
  }

}
