@import '../../../../frontend/css/commons';

.comma {
  margin-right: 2px;
}

.avatarify {
  @media (min-width: @screen-md-min) {
    padding-left: 50px;
    background: ~"url('/images/user.png') no-repeat center left/40px";
  }
}

.groupedEmails {

  .mdi.mdi-attachment {
    font-size: 20px;
    vertical-align: bottom;

    margin-right: 5px;
  }

  .preview {
    margin-top: 10px;
  }

}

.emailer {
  display: inline-block;

  .email {
    margin-left: 5px;
  }

}

.actions {
  float: right;

  a {
    cursor: pointer;
  }

}

.email-view {

  .subject {
    color: @text-color;
  }

  .headers {
    font-size: 13px;
    color: @secondaryTextColor;

    .mdi.mdi-clock {
      margin-left: 5px;
    }

    .line-header {
      margin-right: 5px;
      font-style: italic;
    }
  }

  .lv-avatar img {
    margin-right: 10px;
  }

  .lv-footer {
    position: relative;
  }

  .lv-footer textarea {
    width: 100%;
    font-size: 13px;
    border: 0px none;
    padding: 10px 8px;
    resize: none;
    height: 60px;
  }

  .lv-footer button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0px none;
    height: 100%;
    width: 60px;
    font-size: 25px;
    background-color: #F5F5F5;
    color: #2196F3;
  }

  .lv-footer button:hover {
    background-color: #F2F2F2;
  }

  .listview .lv-footer {
    margin-top: 0px;
    padding: 0px;
  }

  .lv-avatar a {
    margin-left: 5px;
  }

  .email-body {
    padding: 5px;
  }

  .html-email-body {
    width: 100%;

    border: none;
  }

  .attachments {
    border: 1px solid @secondaryTextColor;
    border-radius: 5px;

    .title {
      font-size: 13px;
      display: block;
    }
  }

  .attachment {

    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;

    background-color: @primaryColor;
    color: @textPrimaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 5px;
    height: 64px;
    display: inline-block;
    width: 95%;
    max-width: 300px;

    .icon {
      position: absolute;
      top: 8px;
      left: 5px;
      width: 48px;
      height: 48px;
    }

    .metadata {
      overflow: hidden;
      color: rgba(255, 255, 255, 0.9);
      padding-top: 16px;
      padding-left: 55px;

      & > h2 {
        margin: 0;
        line-height: 100%;
        font-size: 14px;
        font-weight: 300;
        color: @textPrimaryColor;
      }

      & > small {
        margin-bottom: 2px;
        display: block;
      }

      & > h2,
      & > small {
        .text-overflow();
      }
    }

    &:before {
      .transition(width);
      .transition-duration(200ms);
      .backface-visibility(hidden);
      content: "";
      width: 0;
      height: 100%;
      background: rgba(0,0,0,0.1);
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      &:before {
        width: 58px;
      }
    }
  }
}

.compose {

  .compose-header {
    background-color: @body-bg;
    padding-top: 10px;

    @media(min-width: @screen-sm-min) {
      padding-top: 0;
    }

    .row {
      margin: 0;
    }

    input {
      background-color: inherit;
      height: 25px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .picture {
      .hidden-xs;
      .text-center;
      padding: 5px 5px 0 5px;
    }

    .picture img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }

    .recipients {
      padding-right: 0;
    }

    .more-recipients {
      font-size: 2em;
      cursor: pointer;
      padding-left: 0;
      text-align: end;

      &.isCollapsed {
        transform: rotate(180deg);
        padding-right: 0;
      }
    }
  }

  .compose-subject {
    padding: 0 5px 0 5px;
    height: auto;
  }

  .compose-body {
    min-height: 110px;
    padding: 5px;
  }

  .btn-group {
    float: right;
  }
}