.contact-root.row.full-width.no-padding-xs(sub-header-aware)
  .col-md-3.col-xl-2.hidden-xs.contact-aside
    contact-sidebar
  .col-md-9.col-xl-10.col-xs-12.contact-main-content
    .ui-view(name="main", noanimation)
