.clickable.swipe(ng-click="ctrl.openThread(item)", swipe-right="onSwipeRight", icon-left="mdi-check", swipe-left="onSwipeLeft", icon-right="mdi-view-module")
  .list-image.badge-container
    i.mdi.mdi-email
  .media-body(ng-class="{bold: item.email.isUnread}")
    .flex-space-between
      .flex-start.ellipsis
        .lv-title {{ ::item.email.subject }}
        .badge-number(ng-if='item.messageIds.length > 1') ({{ item.messageIds.length }})
      .date-container {{ ::item.email.date | date: group.dateFormat }}
    .flex-space-between
      emailer.lv-title(emailer="::item.email.from")
      inbox-indicators(item="item.email")
  .lv-small.preview {{ ::item.email.preview }}
