.col-xs-12.esn-panel
  .vertiz-space

  .row.alert.alert-info(ng-show="loading", role="alert")
    p
      i.fa.fa-cog.fa-spin
      | #{__('Loading modules...')}
  .row.alert.alert-danger(ng-show="error && !loading", role="alert")
    p #{__('Error while loading modules !')}
  .row.alert.alert-info(ng-show="!loading && !error && applications.length === 0", role="alert")
    p #{__('There are no modules yet.')}
  .vertiz-space

  .row(ng-if="applications")
    div(ng-repeat="application in applications | orderBy:'title'")
      community-app-display(community="community", application="application")
