.esn-app-display
  .col-lg-4.col-md-6.col-sm-12.col-xs-12
    .thumbnail
      img(ng-src="/appstore/api/apps/{{::application._id}}/avatar", src="/images/application.png" style="height: 200px; width: 200px; display: block;")
      .caption
        h3
          a(href='#/appstore/apps/{{::application._id}}')
            span {{::application.title}} &nbsp;
            small {{::application.version}}

        p.description {{::application.description | characters:128 :false }}

        p.text-center
          appstore-button-install(community='community', application='application')
          &nbsp;
          appstore-button-uninstall(community='community', application='application')
          &nbsp;
          appstore-button-update(community='community', application='application')
