.collaboration-members-list
  infinite-list(load-more-elements='ctrl.loadMoreElements()', scroll-inside-container="ctrl.scrollInsideContainer")
    .collaboration-member-list-item(ng-repeat="item in ctrl.elements | orderBy: '-date'" ng-if="ctrl.elements.length > 0" ng-switch="item.objectType")
      //- HACK need to refactor member-display to be able to display collaborations too using aggregators for example
      esn-collaboration-member(ng-switch-when="user", collaboration="ctrl.collaboration", member="item.user")
      community-display(ng-switch-when="community", community='item.community', actions='false')
    .list-empty(ng-show="!ctrl.elements.length && ctrl.infiniteScrollCompleted")
      i.mdi.mdi-account-outline
      .message #{__("No members")}
    ul.nav.nav-pills.nav-stacked(ng-if='ctrl.infiniteScrollDisabled')
      li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
