.collaboration-members-list {
  .flex;
  .flex-column;

  .collaboration-member {
    .flex;

    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .list-empty {
    .all-centered;
    .flex-column;

    i {
      color: @accentColor;
      font-size: 8em;
      opacity: 0.7;
    }

    .message {
      color: @secondaryTextColor;
      font-size: 16px;
    }
  }
}
