.media.notification-content.esn-panel
  div(ng-show='error')
    p #{__('Error while getting notifications')}
  div(ng-show='loading && !error')
    p
      i.fa.fa-cog.fa-spin
      | #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-href='/#/collaborations/{{::collaboration.objectType}}/{{::collaboration._id}}')
      img.media-object(ng-src='/api/avatars?objectType={{::collaboration.objectType}}&id={{::collaboration._id}}', src='/images/community.png')
    .media-body
      .notification-head.ellipsis
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
        a(ng-href="/#/collaborations/{{::collaboration.objectType}}/{{::collaboration._id}}") {{::collaboration.title}}
      .notification-body
        span #{__('Your request has been accepted, welcome to the community')} !
