.media.notification-content
  div(ng-show='error')
    p #{__('Error while getting notifications')}
  div(ng-show='loading && !error')
    p
      i.fa.fa-cog.fa-spin
      | #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-href='/#/communities/{{::community._id}}')
      img.media-object(ng-src='/api/avatars?objectType=community&id={{::community._id}}', src='/images/community.png')
    .media-body
      .notification-head.ellipsis
        a(ng-href="/#/communities/{{::community._id}}") {{::community.title}}
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
      .notification-body
        span #{__('Your request to join the community has been declined')}...
