.media.notification-content.esn-panel
  div(ng-show='error')
    p #{__('Error while getting notifications')}
  div(ng-show='loading && !error')
    p
      i.fa.fa-cog.fa-spin
      | #{__('Loading notifications')}
  div(ng-hide='loading || error')
    a.pull-left(ng-show='context', ng-href='{{::context.url}}')
      img.media-object(ng-src='{{::context.avatarUrl}}')
    a.pull-left(ng-hide='context', ng-href='{{::subject.url}}')
      img.media-object(ng-src='{{::subject.avatarUrl}}')
    .media-body
      .notification-head.ellipsis
        a(ng-show='context', ng-href="{{::context.url}}") {{::context.displayName}}
        span.pull-right.date.hidden-xs(am-time-ago="::notification.timestamps.creation")
      .notification-body
        span
          a(ng-href="{{::subject.url}}") {{::subject.displayName}}
          &nbsp;
          span {{::verb}}
          &nbsp;
          span {{::complement}}
      .notification-description(ng-show='notification.description')
        span {{::notification.description}}
      .notification-actions
        span(ng-repeat='action in notification.action')
          a(ng-href='{{::action.url}}', target='_blank')
            button.btn.btn-info(type="submit") {{::action.display.text}}
        &nbsp;
