.clickable.inbox-item-with-icon.text-danger(title="#{__('Your account %s is currently unavailable.', '{{ ::account.name }}')} #{__('You can click to retry')}")
  .badge-container
    i.inbox-icon.mdi.mdi-alert-circle
    span.menu-item-inner
  .menu-item
    bdi {{ ::account.name }}
  span.menu-item-after
