summernote.compose-body(ng-model="email.htmlBody", on-init= "onInit(evt)", config="summernoteOptions", ng-class="{ 'isCollapsed': isCollapsed }", placeholder="#{__('Start writing your email here')}")
