.calendars-configuration-header
  .calendar-subheader-inner
    button.btn.btn-link.btn-icon.button(href='', ng-click='$ctrl.cancel()')
      i.mdi.mdi-close
    .col-xs-9.nopadding
      .title
        | #{__('Manage calendars')}
