.email-view.thread-view
  .thread-header.visible-md.visible-lg
    .flex-space-between.flex-vertical-centered
      button.btn.btn-default(type='button', ui-sref="^()")
        i.mdi.mdi-arrow-left-bold
        | #{__(' Back')}
      .header-label {{ ::thread.subject }}
      button.btn.btn-primary(type='button', action-list, action-list-url='/unifiedinbox/views/view-thread/action-list.html', title="#{__('More')}")
        | #{__(' More')}
        i.mdi.mdi-dots-vertical

  email(ng-repeat='email in thread.emails', email='email')

  ng-include(src="'/unifiedinbox/views/partials/email-footer'")
