.email-view.thread-view
  .thread-header.visible-md
    .flex-space-between
      div
        button.btn.btn-default(type='button', ui-sref="^()")
          i.mdi.mdi-arrow-left-bold
          | #{__(' Back')}
      div
        .header-label {{ ::thread.subject }}
      div
        button.btn.btn-primary(type='button', action-list, action-list-url='/unifiedinbox/views/view-thread/action-list.html', title="#{__('More')}")
          | #{__(' More')}
          i.mdi.mdi-dots-vertical

  .thread-title.visible-xs
    h4 {{ ::thread.subject }}

  email(ng-repeat='email in thread.emails', email='email')

  ng-include(src="'/unifiedinbox/views/partials/email-footer'")
