.inbox-subheader.row
  inbox-subheader-back-button(ui-sref="^")
  .title.ellipsis {{ ::thread.subject }}
  a.submit.button(href='', action-list, action-list-url="/unifiedinbox/views/view-thread/action-list.html", title="#{__('More')}")
    i.mdi.mdi-dots-vertical
