.inbox-subheader.row
  inbox-subheader-back-button(ui-sref="unifiedinbox.threads({ mailbox: ctrl.mailboxId })")
  .title.ellipsis {{ ::ctrl.thread.subject }}
  a.submit.button(href='')
    i.mdi.mdi-dots-vertical
