.contact-toggle-switch
  button.list-item.btn.btn-link.btn-icon.waves-notransition(ng-if='!toggleContactDisplay', ng-click="updateDisplay(true)", title=__('List view'))
    i.mdi.mdi-view-list
  button.card-item.btn.btn-link.btn-icon.waves-notransition(ng-if='toggleContactDisplay', ng-click="updateDisplay(false)", title=__('Grid view'))
    i.mdi.mdi-view-module
