ng-include(src="'/contact/app/contact/list/contact-list-action-drop-menu.html'")
.contact-list-item(ng-click='displayContact()')
  .pull-left.touch-zone
    contact-photo.media-object(contact='contact', list-view='true', avatar-size='{{::avatarSize}}')
  .media-body.touch-zone
    .lv-title.col-xs-11(bs-tooltip, title="{{::displayShell.getDisplayName()}}")
      h4.media-heading.m-b-0(
        ng-bind-html="::displayShell.getDisplayName() | esnHighlight: keySearch"
      )
        | {{::displayShell.getDisplayName()}}
    ul.lv-attrs.col-xs-11.contact-list-item-attrs.m-l-10
      li(ng-repeat="attrs in displayShell.getInformationsToDisplay()")
        a(ng-click="actionClick($event, attrs.action)" ng-href="{{::attrs.action}}" ng-bind-html="::attrs.id | esnHighlight: keySearch", op-inbox-compose, op-inbox-compose-users="[contact]")
          i.mdi.contact-attr-icon(ng-class="attrs.icon")
          |  {{::attrs.id}}

    .lv-attrs.col-xs-11.contact-list-item-attrs.m-l-10(ng-if='hasMatch')
      .contact-list-item-highlight
        .p-t-5(ng-repeat="atr in datas | orderBy: 'index' | limitTo: '2'")
          .contact-item-highlight(ng-if="socialTypeOrder.indexOf(atr.type) > -1")
            i.mdi.contact-attr-icon(ng-class="atr.icon")
            a(ng-href="{{atr.data|prefixLink:atr.type}}", target="_blank" ng-bind-html="::atr.data | esnHighlight: keySearch")
          .contact-item-highlight(ng-if="socialTypeOrder.indexOf(atr.type) === -1 && ['mdi-web'].indexOf(atr.icon) > -1")
            i.mdi.contact-attr-icon(ng-class="atr.icon")
            a(ng-href="{{atr.data|prefixLink:'http'}}", target="_blank" ng-bind-html="::atr.data | esnHighlight: keySearch")
          .contact-item-highlight(ng-if="['mdi-web'].indexOf(atr.icon) === -1 && socialTypeOrder.indexOf(atr.type) === -1")
            i.mdi.contact-attr-icon(ng-class="atr.icon")
            p(ng-bind-html="::atr.data | esnHighlight: keySearch")
