include ./header
.esn-home-container
  .container
    .row
      .col-sm-2.widget.leftPane.hidden-xs.nopadding Left Widget
      .col-sm-8.col-xs-12
        .row(ng-view)
      .col-sm-2.widget.rightPane.hidden-xs.nopadding Right Widget
