.col-xs-12.widget.community-summary
    community-description(community="community")
.col-xs-12
    hr
.col-xs-12
    activity-stream(activitystream-uuid='{{community.activity_stream.uuid}}')
    activity-stream-notification(activitystream-uuid='{{community.activity_stream.uuid}}')
