.col-xs-12
    community-description(community="community")
.row(ng-if='canRead()')
  .row
    .col-xs-12
      community-actions-toolbar(community="community")
  .row
    .col-lg-9.col-md-9.col-sm-9.col-xs-12
      // TODO Remove this when the injection module has
      // the method to inject inside all domains.
      activity-stream(activitystream='community', writable='community.writable', streams='streams', calendar-id='community._id')
    .col-lg-3.col-md-3.col-sm-3.hidden-xs
      collaboration-members-widget(object-type="community", collaboration="community", in-slices-of='4')
      .vertiz-space
      collaboration-membership-requests-widget(ng-if="showMembershipRequestsWidget()" object-type="community", collaboration="community")
      .vertiz-space
      collaboration-invite-users(object-type="community", collaboration="community")
      .vertiz-space
      injections-widget(injection-anchor-id="communityPageRightPanel", injection-subject="community")
      .vertiz-space
.col-xs-12(ng-if='!canRead()')
  p.text-center #{__('You are no allowed to see the content of this community.')}
