.col-xs-12.widget.nopadding
  .row
    .col-xs-12
      h2
        i.fa.fa-users
        | #{__('Communities')}
      div.well
        a.btn.btn-info(href="#/communities/create") Create a new community
      .row
        p List of communities