.col-xs-12.esn-panel.community-summary
    community-description(community="community")
.row(ng-if='canRead()')
  .col-lg-9.col-md-9.col-sm-9.col-xs-12.esn-component-container
    activity-stream(activitystream-uuid='{{community.activity_stream.uuid}}')
    activity-stream-notification(activitystream-uuid='{{community.activity_stream.uuid}}')
  .col-lg-3.col-md-3.col-sm-3.hidden-xs.rightPane()
    .esn-panel
      community-members-widget(community='community')
    .vertiz-space
    .esn-panel(ng-if='isCommunityManager()')
      community-membership-requests-widget(community='community')
.col-xs-12.esn-panel(ng-if='!canRead()')
  p.text-center.community-not-allowed #{__('You are no allowed to see the content of this community.')}
