.col-xs-12.esn-panel.community-summary
    community-description(community="community")
.col-xs-12
    hr
.row(ng-if='canRead()')
  .col-lg-10.col-md-9.col-sm-8.col-xs-12
    activity-stream(activitystream-uuid='{{community.activity_stream.uuid}}')
    activity-stream-notification(activitystream-uuid='{{community.activity_stream.uuid}}')
  .col-lg-2.col-md-3.col-sm-4.hidden-xs
    .esn-panel.rightPane
      community-members-widget(community='community')
.col-xs-12.esn-panel(ng-if='!canRead()')
  p.text-center.community-not-allowed #{__('You are no allowed to see the content of this community.')}
