.col-xs-12.widget.nopadding(invitation-conference-notification)
  .row
    .col-xs-12

      h2
        i.fa.fa-comments-o
        | #{__('Conferences')}

      div.well
        button.btn.btn-primary(type='submit', ng-click='create()') #{__('Create a new conference')}

      .row(ng-repeat="conference in conferences")
        conference-display(conference="conference")
