div
  header(class="topbar" role="navigation")
    .container-fluid
      a(href="#/")
        img(src="/images/logo.png")

  api-notification
  div
    nav(class="navbar navbar-default" role="navigation" data-offset-top="44" bs-affix)
      esn-main-navbar
  
  sidebar
