h1.text-center #{__('application is loading...')}

div.text-center We encoutered a problem to load the application: <strong>{{session.error.error}} {{session.error.message}}</strong>.
div.text-center
  code.text-danger {{session.error.details}}

p(ng-show='session.error.displayLogout')
  div.text-center
    a(href='/logout') #{__('Logout')}
  
