h1.text-center #{__('application is loading...')}

div.text-center We encoutered a problem to load the application: <strong>{{init.error.error}} {{init.error.message}}</strong>.
div.text-center
  code.text-danger {{init.error.details}}
