.col-xs-12.widget.nopadding
  div(ng-controller="memberscontroller")
    //.row
    //  .members-search-form
    //    h2
    //      i.fa.fa-male
    //      | Members
    //    search-form(search-spinner-key="membersSpinner")
    .members-infinite-list
      infinite-list
        div.row(ng-repeat="member in members")
          member-display(member="member")