.col-xs-12.nopadding
  div(ng-controller="memberscontroller")
    .row
      .col-xs-12
        h2
          i.mdi.mdi-account
          | #{__("Members")}
        search-form(search-spinner-key="membersSpinner")
        .row.alert.alert-danger(ng-show="error", role="alert")
          p #{__('Error while searching members')}.
    div
      infinite-list
        .row(ng-repeat="member in members")
          hr
          member-display(member="member")
        .vertiz-space
