.col-xs-12
    div(ng-controller="memberscontroller")
        div(style='position: fixed; background-color: white; z-index: 1030; top: 46px;')
            h2 Members
            search-form(search-spinner-key="membersSpinner")
        infinite-list
            div(ng-repeat="member in members")
                member-display(member="member")