.col-xs-12.esn-panel.nopadding
  div(ng-controller="memberscontroller")
    .row
      .col-xs-12
        h2
          i.fa.fa-male
          | Members
        search-form(search-spinner-key="membersSpinner")
    .members-infinite-list
      infinite-list
        .row(ng-repeat="member in members")
          member-display(member="member")
        .vertiz-space