aside#sidebar(collaborations-event-listener, sidebar, click-outside="clickOutside()")
  div(ng-controller='ASTrackerController')
    .esn-panel.widget
      list-community-activity-streams
    .vertiz-space
    .esn-panel.widget
      list-project-activity-streams
    .vertiz-space
