.attendee-avatar(ng-attr-title='{{attendee.fullmail}}')
  img.nopadding(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/users/{{attendee.id}}/profile/avatar')
  i.fa.fa-check-square-o(ng-show='attendee.clicked')
  i.fa.fa-square-o(ng-show='!attendee.clicked')
