extends ./layout
block content
  div.container
    .row
      .col-xs-6
        include ./welcome/welcome
      .col-xs-6
        .row
          include ./welcome/login
        .row
          include ./welcome/signup
