extends ./layout
block content
    h1 Your feed
    p
        if user
            .alert.alert-success.animated
                i.fa.fa-check
                strong #{__('You are connected as %s',  user.username || user.email || user.id)}
        else
            .alert.alert-info
                a(href='/login') #{__('Please sign in')}