extends ./layout
block content
    h1 Your feed
    p
        if user
            .alert.alert-success.animated
                i.fa.fa-check
                strong You are connected as #{user.username || user.emails[0] || user.id}&nbsp;
        else
            .alert.alert-info
                a(href='/login') Please sign in