form(name='form')
  fieldset(ng-disabled='loginIn')
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-account
      .fg-line
        input.form-control(type='email', ng-model='credentials.username', name='username', id='username', placeholder="#{__('Email')}", autofocus=true, required)
    .input-group.m-b-20
      span.input-group-addon
        i.mdi.mdi-lock
      .fg-line
        input.form-control(type='password', ng-model='credentials.password', name='password', id='password', placeholder="#{__('Password')}", required, autocomplete='{{autocomplete}}')
    .clearfix
    .checkbox
      label
        input(type='checkbox', ng-model='credentials.rememberme', name='rememberme', id='rememberme')
        i.input-helper
        |                     #{__('Remember me')}
    button.btn.btn-login.btn-danger.btn-float(type='submit', ng-click='autofill(); login(form)', ng-disabled='loginTask.running')
      i.mdi.mdi-arrow-right
