.row
  .col-xs-12(ng-if='!canRead()')
    p.text-center.community-not-allowed #{__('You are no allowed to see the members of this project')}
.row(ng-if="canRead()", ng-controller="projectMembersController")
  .col-xs-12.alert-danger(ng-show="error", role="alert")
    p #{__('Error while getting project members')}.
  .col-xs-12
    .members-infinite-list
      infinite-list
        .row.members-list-section.internal
          .col-xs-12
            .row.members-list-item(ng-repeat="member in members")
              member-display(member="member")
  .col-xs-12
    .throbber-container.text-center
      div.throbber(openpaas-logo-spinner, spinner-key='membersSpinner')
