div.nopadding.esn-community

  .col-lg-2.col-sm-3.col-xs-4

    a(href='#/project/{{project._id}}')
      img.thumbnail.nopadding(fallback-src='/project/images/project.png', src='/project/images/project.png', ng-src='/project/api/projects/{{project._id}}/avatar')

  .col-lg-10.col-sm-9.col-xs-8
    h4.media-heading
      a(href='#/project/{{project._id}}')
        strong {{project.title}}
      small &nbsp; {{project.type}}
    ul.list-inline
      li.pull-left
        i.fa.fa-users
        span(ng-if='project.members_count !== 1') {{project.members_count || 0}} #{__('members')}
        span(ng-if='project.members_count === 1') 1 #{__('member')}
      .clearfix

    .row
      .col-xs-12.col-sm-6.nopadding-left
        label #{__('From')}
        .form-group
          .input-group
            .input-group-addon
              i.fa.fa-calendar
            input.form-control(type="text", value="{{project.startDate | amDateFormat:'MMM DD YYYY'}}" disabled)
      .col-xs-12.col-sm-6.nopadding-left
        label #{__('To')}
        .form-group
          .input-group
            .input-group-addon
              i.fa.fa-calendar
            input.form-control(type="text", value="{{project.endDate | amDateFormat:'MMM DD YYYY'}}" disabled)

    .clearfix

    p.hidden-xs.community-description(ng-show='project.description') {{project.description | characters:256 :false }}
