infinite-list

  .card.listview.lv-bordered.lv-lg
    .lv-body
      .lv-item.media(ng-repeat="item in tweets")
        div.clickable
          .list-image.avatarify
            img(ng-src='{{item.author.avatar}}')
            i.mdi.mdi-twitter-box
          .media-body(ng-class="::{bold: item.isUnread}")
            .flex-space-between
              .flex-start.ellipsis
                .lv-title {{ ::item.author.displayName }}
              .date-container {{ ::item.date | date: group.dateFormat }}
            .flex-space-between
              .lv-title(ng-bind-html="::item.author.screenName | autolink")
          .lv-small(ng-bind-html="::item.text | autolink")

  ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  inbox-fab
  fab-scroll-top
