sub-header
  inbox-identities-subheader

.inbox-identities
  inbox-identity(ng-repeat="identity in $ctrl.identities track by identity.id", identity-id="{{ identity.id }}" ui-sref="unifiedinbox.configuration.identities.identity({ identityId: identity.id })")

fab(ui-sref="unifiedinbox.configuration.identities.add")
