.inbox-message-body
  inbox-message-body-html(ng-if="$ctrl.message.htmlBody", message="$ctrl.message")
  .lv-item.multilines(ng-if="!$ctrl.message.htmlBody", esn-string-to-dom="$ctrl.message.textBody | escapeHtml | autolink")
