.row.mail-to-attendees.col-xs-8.offset-xs-4
  button.btn.btn-accent.btn-link(ng-href="mailto:{{vm.getEmailAddressesFromUsers(vm.event.attendees)}}", op-inbox-compose)
    label
      | #{__('Mail to Attendees')}
    i.mdi.mdi-email
