.row.cal-mail-to-attendees.text-center
  button.btn.btn-accent.btn-link(ng-href="mailto:{{ctrl.getEmailAddressesFromUsers(ctrl.event.attendees)}}", op-inbox-compose)
    label
      | #{__('Mail to Attendees')}
    i.mdi.mdi-email
