.mail-to-attendees {
  float: right;

  button {
    .flex-vertical-centered;

    .mdi {
      font-size: 2em;
    }

    label {
      .clickable;
    }
  }
}

@media (min-width: @screen-md-min) {
  .mail-to-attendees {

    button {

      &:hover {
        color: @m-white;
        background-color: @m-amber;
        box-shadow: none;
      }
    }
  }
}