contact-addressbook-settings-main {
  .form-group {
    padding-right: 0;
  }

  .title-header {
    .flex-row;
    .flex-vertical-centered;

    i {
      color: @secondaryTextColor;
      font-size: 1.5em;
      padding-right: 10px;
    }

    h4 {
      font-weight: 400;
      font-size: 15px;
      color: @secondaryTextColor;
    }
  }
}
