div.col-xs-12.nopadding
  .col-xs-12
    hr
  .col-lg-9.col-sm-10.col-xs-12
    a.pull-left(href='#')
      img.media-object(src='/images/tux.png')
    div.media-body
      h4.media-heading
        | {{ application.name }}
      p
        strong redirectUri:
        span {{ application.redirectUri }}
        br
        strong clientId:
        span {{ application.clientId }}
        br
        strong clientSecret:
        span {{ application.clientSecret }}
