@facebookBlue: #3b5998;
@twitterMainColor: #4099FF;
@googleMainColor: #DD4B39;

.login-oauth {

  a.facebook-login {
    background-color: @facebookBlue;
    &:hover {
      background-color: lighten(@facebookBlue, 10%);
    }
  }

  a.twitter-login {
    background-color: @twitterMainColor;
    &:hover {
      background-color: lighten(@twitterMainColor, 10%);
    }
  }

  a.google-login {
    background-color: @googleMainColor;
    &:hover {
      background-color: lighten(@googleMainColor, 10%);
    }
  }
}