.attendee-list-item.col-xs-12.col-sm-4
  .col-xs-2
    a.attendee-avatar(href="", ng-attr-title='{{::ctrl.attendee.name}}')
      esn-avatar(avatar-email="::ctrl.attendee.email", display-user-status="true")
    .organizer(ng-if='ctrl.isOrganizer')
      i.mdi.mdi-pencil
  .ellipsis.col-xs-8
    span {{::ctrl.attendee.name}}
  .col-xs-2
    a.attendee-send-email(ng-href="mailto:{{::ctrl.attendee.email}}" op-inbox-compose op-inbox-compose-display-name="{{::ctrl.attendee.name}}")
        i.mdi.mdi-email
