.event-full-form-subheader
  .flex-vertical-centered.flex-space-between
    a.btn.btn-primary.flex-vertical-centered(href='', ng-click='goToCalendar();')
      i.mdi.mdi-arrow-left
      | #{__('Back')}
    span.all-centered
      | #{__('Consult')}
    button.btn.btn-primary(ng-if="!isEdit", ng-click="changeConsultState()")
      | #{__('Save')}
      i.mdi.mdi-pencil
    button.btn.btn-primary(ng-if="isEdit", ng-click="changeConsultState()")
      | #{__('Save')}
      i.mdi.mdi-check
