.event-consult-form-footer.form-group.row.flex-vertical-centered
  span.col-xs-4 #{__('Will you attend?')}
  .col-xs-2
    button.btn.btn-default(type='button', ng-click='changeParticipation("ACCEPTED")', ng-class='{ "active": invitedAttendee.partstat == "ACCEPTED" }') #{__('Yes')}
  .col-xs-3
    button.btn.btn-default(type='button', ng-click='changeParticipation("TENTATIVE")', ng-class='{ "active": invitedAttendee.partstat == "TENTATIVE" }') #{__('Maybe')}
  .col-xs-2
    button.btn.btn-default(type='button', ng-click='changeParticipation("DECLINED")', ng-class='{ "active": !invitedAttendee || invitedAttendee.partstat == "DECLINED" }') #{__('No')}