.card.m-b-0
  .card-header
    .media
      a.pull-left(ng-href='#/profile/{{::entry.actor._id}}')
        img.lv-img(src='/images/user.png', ng-src='/api/users/{{::entry.actor._id}}/profile/avatar')
      .media-body
        h2(ng-if='entry.target[0]._id === user._id')
          a(ng-href="#/profile/{{::entry.actor._id}}") {{::entry.actor.displayName}}
          span &nbsp;#{__('started to follow you')}
        h2(ng-if='entry.actor._id === user._id')
          span &nbsp;#{__('You started to follow')}
          a(ng-href="#/profile/{{::entry.target[0]._id}}") &nbsp;{{::entry.target[0].displayName}}
        small
          span(am-time-ago="::entry.published")
