.accounts.col-xs-12
  .row
    .block-header.flex-space-between.flex-vertical-centered.flex-wrap
      h2 #{__('Accounts Management')}
      dynamic-fab-dropup(anchor='accounts-item-anchorpoint')
  .empty-container(ng-if='accounts && !accounts.length')
    .message
      .empty-icon.mdi.mdi-database-plus
      div
        p.empty-text !{__('No accounts, click %s to add a new one', '<span class="mdi mdi-plus"></span>')}
  .vertiz-space
  .col-xs-12.card(ng-if='accounts && accounts.length')
    account-displayer(account='account', ng-repeat='account in accounts')
