.accounts.col-xs-12
  .row.all-centered
    .block-header.flex-space-between.flex-vertical-centered.flex-wrap
      h2 #{__('Accounts')}
      fab-account-dropup
  .vertiz-space
  .row
    .col-xs-12
      .account-error-container
  .vertiz-space
  .row
    .col-xs-12
      span {{accounts | json}}
