.accounts.col-xs-12
  .row
    .block-header.flex-space-between.flex-vertical-centered.flex-wrap
      h2 #{__('Accounts Management')}
      dynamic-fab-dropup(anchor='accounts-item-anchorpoint')
  .vertiz-space
  .row
    .col-xs-12
      .account-error-container
  .vertiz-space
  .row.card(ng-if='accounts && accounts.length')
    .col-xs-12(ng-repeat='account in accounts')
      account-displayer(account='account')
