ng-form(name="form")
  .card
    .card-header
      h2 #{__('Time format')}
    .card-body.card-padding
      .row
        .col-md-6
          esn-datetime-time-format-selector(use-24hour-format="$ctrl.datetime.use24hourFormat")
