a
  button.like-button.no-effect(ng-click='liked ? unlike(): like()', ng-class="{'animated bounceIn': liked && bounce}")
    i.mdi(ng-class="{'mdi-heart': liked, 'mdi-heart-outline': !liked}")
    span.total-likes {{ totalLikes }}
