<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  Thanks for signing up to the OpenPaaS Network!
  Please confirm your email address and complete your registration by clicking the link below:

  <a href='<%= url %>'>Click here to complete the signup process and start using OpenPaaS!</a>
</p>

Sincerely,
The OpenPaaS Team!
