div(data-ng-switch='message.objectType')
  whatsup-message(data-ng-switch-when='whatsup', message='message', activitystream='activitystream')
  email-message(data-ng-switch-when='email', message='message', activitystream='activitystream')
  event-message(data-ng-switch-when='event', message='message', activitystream='activitystream')
  organizational-message(data-ng-switch-when='organizational', message='message', activitystream='activitystream')
