.card.wall-posting(ng-controller='messageEditionController')
  .error
  .card-body.card-message-edition
    .tab-content.p-0(data-ng-switch='type')
      whatsup-edition(data-ng-switch-when='whatsup', type="type")
      poll-edition(data-ng-switch-when='poll', type="type")
      cal-event-message-edition(data-ng-switch-when='event', calendar-home-id="community._id", activitystream="activitystream")
      injections-widget(injection-anchor-id="messageEditionMessageTypeSwitch", injection-subject="community")

  ul.list-unstyled.clearfix.wpb-actions
    li.wpba-attrs
      ul.list-unstyled.list-inline.m-l-0.m-t-5
        li
          a(data-wpba="image", data-toggle="tab", href="", ng-click='show("whatsup")', set-focus="textarea-whats-up-composer")
            i.mdi.mdi-pencil
        li
          a(data-wpba="video", data-toggle="tab", href="", ng-click='show("poll")', set-focus="textarea-poll-composer")
            i.mdi.mdi-chart-bar
        cal-event-message-edition-button(ng-if="false")
        injections-widget(injection-anchor-id="messageEditionMessageTypeButton", injection-subject="community")
