div
  a.pull-left(href='#')
    .media-object
      esn-avatar(avatar-id="::message.author._id", display-user-status="true")
  div.media-body
    message-template-displayer(message='message' writable='writable' streams='streams', activitystream='activitystream')
