div
  a.pull-left(href='#')
    .media-object
      esn-avatar(user-id="message.author._id")
  div.media-body
    message-template-displayer(message='message' writable='writable' streams='streams', activitystream='activitystream')
