div(data-ng-switch='message.objectType')
  whatsup-message-preview(data-ng-switch-when='whatsup', message='message')
  email-message-preview(data-ng-switch-when='email', message='message')
  poll-message-preview(data-ng-switch-when='poll', message='message')
  message-preview(data-ng-switch-default, message='message')
