div.esn-panel.thread(ng-class="{'just-posted': message._id === lastPost.messageId}")
  a.pull-left(href='#')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div.media-body
    h4.media-heading
      a(href="#") {{message.author.firstname}} {{message.author.lastname}}
      small
        | &nbsp;-&nbsp;
        a(href="/#messages/{{message._id}}")
          span(am-time-ago="message.published")
    p.multilines(ng-bind-html="message.content | linky:'_blank'")
    include ./messagesBottomLinks

    div.media.message-comment(ng-hide='!message.responses || message.responses.length === 0', ng-repeat='response in message.responses')
      whatsup-message(message='response')
    div.media.message-add-comment
      whatsup-add-comment(ng-show="writable")
