div.esn-panel.message-panel.whatsup-form.form-container(ng-controller='messageEditionController')
  .error
  ul.list-inline
    li
      button.btn.btn-link(type='button', ng-click='show("whatsup")')
        i.fa.fa-pencil
    li
      button.btn.btn-link(type='button', ng-click='show("event")')
        i.fa.fa-calendar
  div(data-ng-switch='type')
    whatsup-edition(data-ng-switch-when='whatsup')
    event-edition(data-ng-switch-when='event')
