div(data-ng-switch='message.objectType')
  whatsup-message(data-ng-switch-when='whatsup', message='message', streams='streams')
  email-message(data-ng-switch-when='email', message='message', streams='streams')
  event-message(data-ng-switch-when='event', message='message', streams='streams')
