div.widget.thread.row
  div.col-md-12
    whatsup-message(message='message')

  div.col-md-12
    div.col-md-12(ng-hide='!message.responses || message.responses.length === 0')
      div.inner-widget.message-comment(ng-repeat='response in message.responses')
        whatsup-message(message='response')
    div.col-md-12.inner-widget.message-add-comment
      whatsup-add-comment
