div.widget.whatsup-form.form-container(ng-controller='messageController')
  #error
  form(name='whatsupform')
    .form-group
      textarea.whatsup-input.form-control(ng-model='whatsupmessage', ng-focus='expand()', ng-blur='shrink()', placeholder="#{__('Publish a new whatsup message')}", rows="{{rows}}")
    .form-group
      .pull-left
        button.btn.btn-primary(type='submit', ng-click='sendMessage()') #{__('Publish')}
        &nbsp;
        button.btn.btn-default(type='reset', ng-click='resetMessage()') #{__('Cancel')}
