div.form-container(ng-controller='messageCommentController')
  #commenterror
  form(name='whatsupcommentform')
    .form-group
      textarea.whatsupcomment-input.form-control(ng-model='whatsupcomment', ng-focus='expand($event)', ng-blur='shrink($event)', placeholder="#{__('Add a comment')}", rows="2")
    .form-group
      .pull-right
        button.btn.btn-primary(type='submit', ng-click='addComment(message)') #{__('Comment')}
        &nbsp;
        button.btn.btn-default(type='reset', ng-click='resetComment()') #{__('Cancel')}
