div.media
  a.pull-left(href='#')
    img.media-object(src='/images/user.png', width='64', height='64', ng-src='/api/users/{{message.author._id}}/profile/avatar')
  div.media-body
    h4.media-heading
      a(href="#") {{message.author.firstname}} {{message.author.lastname}}
      small &nbsp; on {{message.published}}
    p {{message.content}}
    p.pull-right
      button.btn.btn-link(type='button')
        span.glyphicon.glyphicon-comment
        | &nbsp; #{__('Comment')}