div.login-bg.form-container(ng-controller='messageController')
    #error
    form(name='whatsupform')
        .form-group
            textarea.form-control(ng-model='whatsupmessage', placeholder="#{__('Publish a new whatsup message')}")
        .form-group
            .pull-left
                button.btn.btn-primary(type='submit', ng-click='sendMessage()') #{__('Publish')}
                &nbsp;
                button.btn.btn-default(type='reset', ng-click='resetMessage()') #{__('Cancel')}
