<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  Thanks for signing up to the OpenPaas Network!
  Please confirm your email address and complete your registration by clicking the link below:

  <a href='<%= url %>'>Click here to complete the signup process and start using OpenPaas!</a>
</p>

Sincerely,
The OpenPaas Team!
