<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  Thanks for signing up to the Hiveety Network!
  Please confirm your email address and complete your registration by clicking the link below:

  <a href='<%= url %>'>Click here to complete the signup process and start using Hiveety!</a>
</p>

Sincerely,
The Hiveety Team!
