.row.cal-event-date-consultation
  .col-xs-12
    cal-event-search-card.hidden-xs(event='ctrl.event', start='ctrl.startVerbose', end='ctrl.endVerbose')
    cal-event-search-card.hidden-md(event='ctrl.event', start='ctrl.start', end='ctrl.end')
