.row.event-date-consultation
  .col-xs-12
    cal-event-search-card.hidden-xs(event='vm.event', start='vm.startVerbose', end='vm.endVerbose')
    cal-event-search-card.hidden-md(event='vm.event', start='vm.start', end='vm.end')
