.col-xs-12
  .block-header
    h2 #{__('Applications')}
  div(ng-if="$ctrl.loading")
    .loading-indicator
      .text-center(openpaas-logo-spinner, spinner-start-active="1", spinner-size="0.5")
  div
    fab(ng-click="$ctrl.openModal()")
  .empty-container(ng-if="$ctrl.applications.length === 0")
    .message
      .empty-icon.mdi.mdi-brush
      div
        p.empty-text !{__('No application, click %s to add a new one', '<span class="mdi mdi-plus"></span>')}
  .empty-container(ng-if="!$ctrl.applications && !$ctrl.loading")
    .message
      .empty-icon.mdi.mdi-close-circle
      div
        p.error-text !{__('Cannot get user applications, try again later!')}
  div(ng-repeat="application in $ctrl.applications")
    esn-oauth-application-card(application="application")
