extends /modules/subheader/responsive-subheader

block left
  inbox-subheader-close-button.hidden-md
  .title #{__('Vacation settings')}

block right
  inbox-subheader-save-button(esn-submit="ctrl.updateVacation()")