extends ../../layout/responsive-subheader

block left
  inbox-subheader-close-button(ui-sref='unifiedinbox').hidden-md
  .title #{__('Vacation settings')}

block right
  inbox-subheader-save-button(esn-submit="updateVacation()")