@import './about/community-about.less';
@import './list/community-list.less';
@import './list/filter/community-list-filter.less';
@import './pending-invitation/community-pending-invitation.less';
@import './remove/community-remove-modal.less';
@import './members/community-members.less';
@import './view/community-view.less';
@import './view/header/community-view-header.less';
@import './view/tabs/community-view-tabs.less';

.communities-list {
  margin-top: 15px;

  .listview {
    .btn {
      .ellipsis;
    }
  }

  md-menu-bar.md-default-theme md-menu.md-open > button, md-menu-bar md-menu.md-open > button, md-menu-bar.md-default-theme md-menu > button:focus, md-menu-bar md-menu > button:focus {
    background: transparent;
  }
}

.communities-display {
  .lv-title {
    font-weight: bold;
  }

  .description {
    color: @secondaryTextColor;
  }
}

.block-header {
  margin-top: 30px;
}

.community-description {
  margin: 10px;

  .text {
    margin-left: 4px;
    position: relative;
    max-height: 96px;
    text-align: justify;
    overflow: hidden;
    white-space: pre-line;
    line-height: 16px;

    &:before {
      content: '\2026';
      position: absolute;
      right: 0;
      bottom: 0;
      background: @m-white;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1.2ch;
      height: 17px;
      background: @m-white;
    }
  }
}


.esn-members-badge {
  margin: 5px;
  position: absolute;
  color: @text-color;
  background-color: @accentColor;
  padding: 1px 3px;
  right: 3px;
  border-radius: 50%;
  font-size: 0.5em;
}

.listview {
  .lv-img-xl {
    width: 80px;
    height: 80px;
  }

  .lv-img-md {
    width: 48px;
    height: 48px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .esn-members-badge {
    font-size: 1em;
  }

  .listview {
    .lv-img-xl {
      width: 128px;
      height: 128px;
    }

    .lv-img-md {
      width: 80px;
      height: 80px;
    }
  }

  .community-description {
    margin: 14px;

    .text {
      margin-left: 14px;
      margin-bottom: 10px;
      max-height: 144px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
