.profile-tabs
  ul.esn-tab
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="profile.details.view", ui-sref-opts="{location: 'replace'}")
        | #{__('Profile')}
    li(dynamic-directive="profile-tabs")
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="profile.details.followers", ui-sref-opts="{location: 'replace'}")
        | #{__('Followers')} ({{$ctrl.user.followers}})
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="profile.details.followings", ui-sref-opts="{location: 'replace'}")
        | #{__('Followings')} ({{$ctrl.user.followings}})
    li.btn-wave(ng-if="$ctrl.me", ui-sref-active="active")
      a(href="", ui-sref="profile.details.timeline", ui-sref-opts="{location: 'replace'}")
        | #{__('Timeline')}
.ui-view(name="details")
