ng-form(name="form")
  .card
    .card-header
      h2 #{__('Language')}
        small(ng-if='$ctrl.mode === "domain"') #{__('This language will be used for all domain users if we can not detect their preferred language')}
    .card-body.card-padding
      .row
        .col-md-6
          md-input-container
            md-select(ng-model="$ctrl.language")
              md-option(ng-value="language.key" ng-repeat="language in $ctrl.languages")
                | {{::language.label}}
