.col-xs-12.nopadding.esn-community
  a.btn.btn-info(ng-href='/#/communities/{{community._id}}/calendar')
    | #{__('Calendar')} &nbsp;
    i.fa.fa-calendar
  &nbsp;
  a.btn.btn-info(ng-href='/#/appstore/communities/{{community._id}}/apps')
    | #{__('Module Manager')} &nbsp;
    i.fa.fa-cubes
  injections-widget(injection-anchor-id="communityPageActionsToolbar", injection-subject="community")
