div(ng-controller="communityAStrackerController")
    div.title
        i.fa.fa-users
        | #{__('My communities')}
    hr
    div(ng-show='error') {{error}}
    ul.nav.nav-pills.nav-stacked(ng-hide='error')
        li(ng-repeat="activityStream in activityStreams")
            a.ellipsis(href='{{activityStream.href}}' ng-click='getUnreadUpdate(activityStream.uuid)' title='{{activityStream.display_name}}')
                img(src='/images/community.png' ng-src='{{activityStream.img}}')
                | {{activityStream.display_name}}
                span.badge.pull-right(ng-hide='activityStream.unread_count === 0') {{activityStream.unread_count}}
