extends ../subheader/centered-subheader.pug

block left
  button.btn.btn-icon.btn-link.button.hidden-md(contextual-sidebar)
    i.mdi.mdi-menu
  span.title.extra-title.ellipsis #{__('Communities')}

block right
