div
  .row
    .col-xs-12
      community-button-event-create(community='community', ng-click='createEvent()')
  .vertiz-space
  .row
    .col-xs-12
      span {{alertMessage}}
  .vertiz-space
  .row
    .col-xs-12
      div(ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources")
