.community-membership-requests-widget
  .title #{__('Membership requests')}
  hr

  .row.alert.alert-danger(ng-show="error", role="alert")
    p #{__('Error while getting memberships')}.

  .row(ng-show="loading")
    i.fa.fa-cog.fa-spin
    | #{__("Loading membership requests")}

  .row(ng-show="requests && !error")
    ul.nav.nav-pills.nav-stacked(ng-repeat="request in requests | filter: {workflow: 'request'}")
      li
        .col-xs-3.nopadding
          community-member-avatar(member="request", community="community")
        .col-xs-9.nopadding.text-center
          community-membership-requests-actions(user='request.user', community='community')
