div
  .title.ellipsis #{__('Membership requests')}
  hr

  .row.alert.alert-danger(ng-show="error", role="alert")
    p #{__('Error while getting memberships')}.

  .row
    ul.nav.nav-pills.nav-stacked(ng-show="loading")
      li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  .row(ng-show="requests && !error")
    .row(ng-repeat="request in requests | filter: {workflow: 'request'}")
      .vertiz-space
      .col-xs-12.nopadding
        .col-xs-3.nopadding
          community-member-avatar(member="request", community="community")
        .col-xs-9.nopadding
          .col-xs-12.nopadding
            h5.media-heading.ellipsis
              user-profile-link(user="request.user")
          .col-xs-12.nopadding
            span
              community-membership-requests-actions(user='request.user', community='community')
