div.nopadding.esn-community

  .col-lg-2.col-sm-3.col-xs-4

    a(href='#/communities/{{community._id}}')
      img.thumbnail.nopadding(src='/images/community.png', ng-src='/api/communities/{{community._id}}/avatar')

  .col-lg-10.col-sm-9.col-xs-8
    h4.media-heading
      a(href='#/communities/{{community._id}}')
        strong {{community.title}}
      small &nbsp; {{community.type}}
    ul.list-inline
      li.pull-left
        i.fa.fa-users
        span(ng-if='community.members_count !== 1') {{community.members_count || 0}} #{__('members')}
        span(ng-if='community.members_count === 1') 1 #{__('member')}
      li.pull-right
        community-button-join(community='community', user='user', on-join='joinSuccess(community)', on-fail='joinFailure(community)')
        community-button-leave(community='community', user='user', on-leave='leaveSuccess(community)', on-fail='leaveFailure(community)')
      .clearfix
    p.hidden-xs.community-description(ng-show='community.description') {{community.description | characters:256 :false }}
