.community-members-widget
  .title
    i.fa.fa-users
    | #{__('Members')}
  hr
  .row.no-padding
    ul.list-inline
      li(ng-repeat="member in members")
        a(ng-href="#/profile/{{member.user}}")
          img(ng-src="/api/users/{{member.user}}/profile/avatar", width="48", height="48")
  .row.text-center
    a(href='#') #{__('More')}...