span
  span.visible-xs.visible-sm.visible-md
    a.btn.btn-success.btn-square(href="" ng-click="accept()" ng-disabled="sending || done", bs-tooltip, data-title="#{__('Accept')}", data-placement="bottom")
      i.fa.fa-check
    &nbsp;
    a.btn.btn-danger.btn-square(href="" ng-click="decline()" ng-disabled="sending || done", bs-tooltip, data-title="#{__('Decline')}", data-placement="bottom")
      i.fa.fa-close

  span.visible-lg
    a.btn.btn-success(href="" ng-click="accept()" ng-disabled="sending || done") #{__('Accept')}
    &nbsp;
    a.btn.btn-danger(href="" ng-click="decline()" ng-disabled="sending || done") #{__('Decline')}
