.row
  .col-xs-12.esn-panel.community-summary
    community-description(community="community")

  .vertiz-space

  .row

    .row(ng-show='isCommunityManager()')
      ul.nav.nav-pills.nav-justified
        li(ng-class="{active: selected === 'members' || selected === undefined}")
          a(ng-click="selected = 'members'", href="") #{__('Members')}
        li(ng-class="{active: selected === 'membership'}")
          a(ng-click="selected = 'membership'", href="") #{__('Pending')}

    .row(ng-if='selected === "members" || selected === undefined')
      include ./community-members-list

    .row(ng-if='selected === "membership"')
      include ./community-pending-invitation-list
