.community-members-widget
  .title
    i.fa.fa-users
    | #{__('Members')}
  hr

  .row
    .row(ng-repeat="row in members | inSlicesOf: 3")
      .col-xs-4.nopadding(ng-repeat="member in row")
        community-member-avatar(member="member")

  .row.text-center
    a(ng-href='#/communities/{{community._id}}/members') #{__('More')}...