.row
  .col-xs-12.esn-panel(ng-if='!isCommunityManager()')
    p.text-center.community-not-allowed #{__('You are not allowed to see the pending invitations of this community')}

.row(ng-if="isCommunityManager()", ng-controller="communityPendingMembershipRequestsController")

  .col-xs-12.alert.alert-info(ng-show="loading", role="alert")
      p #{__('Loading pending invitations')}...
  .col-xs-12.alert.alert-danger(ng-show="error", role="alert")
    p #{__('Error while loading invitations')}.

  .col-xs-12.esn-panel(ng-show="!error")
    .row(ng-repeat="request in invitationRequests = (requests | filter: {workflow: 'invitation'})")
      community-pending-invitation-display(request="request", community="community")
      .vertiz-space
    .row(ng-show="invitationRequests.length === 0")
      .vertiz-space
      .col-xs-12.alert.alert-info(role="alert")
        p #{__('No pending invitations')}
    .vertiz-space
