extends ../subheader/centered-subheader.pug

block left
  button.btn.btn-link.hidden-xs(href='', esn-back-button='community')
    .flex-vertical-centered
      i.mdi.mdi-arrow-left.mdi-margin-right
      span #{__('Back')}
  button.btn.btn-link.btn-icon.visible-xs(href='', esn-back-button='community')
    i.mdi.mdi-arrow-left
  span.title.extra-title.ellipsis {{ ::community.title }}

block right
