.community-member-avatar
  a(ng-href="#/profile/{{member.user}}", href="#", title='{{member.user}}', bs-tooltip='tooltip')
    img(ng-src="/api/users/{{member.user}}/profile/avatar", src="/images/user.png")
