div.nopadding.esn-member

  .col-md-2.col-xs-3.nopadding
    a(href='#/communities/{{community._id}}')
      img.thumbnail.nopadding(src='/images/community.png', ng-src='/api/communities/{{community._id}}/avatar')

  .col-md-10.col-xs-9
    h4.media-heading
      a(href='#/communities/{{community._id}}')
        strong {{community.title}} &nbsp;
        small {{community.type}}
    ul.list-inline
      li.pull-left
        i.fa.fa-users
        span {{community.members.length}} #{__('members')}
      li.pull-right
        a.btn.btn-primary.nomargin(href="#/communities/{{community._id}}")
          span #{__('Join')}
      .clearfix
    p.hidden-xs.community-description(ng-show='community.description') {{community.description | characters:256 :false }}
  .col-lg-3.col-sm-4.col-xs-12
    button.btn.btn-primary(type='submit', ng-show='canJoin(community)', ng-click='join(community)', ng-disabled='joining === community._id') #{__('Join')}...