.row
  .col-xs-12.esn-panel.community-summary
    community-description(community="community")

  .col-xs-12.esn-panel(ng-if='!canRead()')
    p.text-center.community-not-allowed #{__('You are no allowed to see the members of this community')}

.row(ng-if="canRead()", ng-controller="communityMembersController")
  .col-xs-12.alert-danger(ng-show="error", role="alert")
    p #{__('Error while getting community members')}.
  .col-xs-12.esn-panel
    .members-infinite-list
      infinite-list
        .row(ng-repeat="member in members")
          member-display(member="member.user", community="community")
        .vertiz-space
    .throbber-container.text-center
      div.throbber(openpaas-logo-spinner, spinner-key='membersSpinner')
