div.col-xs-12.nopadding.esn-community
  .col-lg-2.col-sm-3.col-xs-4
    a(href='#/communities/{{community._id}}')
      img.thumbnail(src='/images/community.png', ng-src='/api/communities/{{community._id}}/avatar')
    .text-center
      span.label.label-default {{community.type}}
  .col-lg-7.col-sm-5.col-xs-8
    h4.media-heading
      a(href='#/communities/{{community._id}}') {{community.title}}
      small &nbsp; {{community.type}}
    ul.list-inline
      li.pull-left
        span.label.label-primary {{community.members.length}} #{__('members')}
      li.pull-left(ng-show="isCreator()")
        span.label.label-warning #{__('Creator')}
      .clearfix
    blockquote.hidden-xs.community-description(ng-show='community.description')
      p(ng-hide='truncate && truncate === true') {{community.description}}
  .col-lg-3.col-sm-4.col-xs-12.vertiz-space
    community-button-join(community='community', user='user', on-join='reload(community)', on-fail='joinFailure(community)')
    community-button-leave(community='community', user='user', on-leave='onLeave(community)', on-fail='leaveFailure(community)')