.col-xs-12.nopadding
  // TODO Remove this when the injection module has
  // the method to inject inside all domains.
  calendar-community-button-toolbar
  injections-widget(injection-anchor-id="communityPageActionsToolbar", injection-subject="community")
