.col-xs-12.nopadding.esn-community
  // TODO Remove this when the injection module has
  // the method to inject inside all domains.
  a.btn.btn-info(ng-href='/#/calendar/communities/{{community._id}}')
    | #{__('Calendar')} &nbsp;
    i.fa.fa-calendar
  &nbsp;
  a.btn.btn-info(ng-href='/#/appstore/communities/{{community._id}}/apps')
    | #{__('Module Manager')} &nbsp;
    i.fa.fa-cubes
  injections-widget(injection-anchor-id="communityPageActionsToolbar", injection-subject="community")
