.row
  .row
    .col-xs-12.esn-panel.community-summary
      community-description(community="community")

  .vertiz-space

  .row.esn-panel.members-list
    .col-xs-12

      .row(ng-show='isCommunityManager()')
        ul.nav.nav-pills.nav-justified
          li(ng-class="{active: selected === 'members' || selected === undefined}")
            a(ng-click="selected = 'members'", href="") #{__('Members')}
          li(ng-class="{active: selected === 'membership'}")
            a(ng-click="selected = 'membership'", href="") #{__('Invitations sent')}
          li(ng-show='hasNonUserMembers' ng-class="{active: selected === 'nonusermembers'}")
            a(ng-click="selected = 'nonusermembers'", href="") #{__('Other Participants')}

      .row(ng-if='selected === "members" || selected === undefined')
        collaboration-members-list(readable='canRead()', collaboration='community', collaboration-type='community', object-type-filter='user', spinner-key='spinnerKey')

      .row(ng-if='selected === "membership"')
        community-pending-invitation-list

      .row(ng-if='selected === "nonusermembers"')
        collaboration-members-list(readable='canRead()', collaboration='community', collaboration-type='community', object-type-filter='!user', spinner-key='spinnerKey', member-count='hasNonUserMembers')
