div.col-xs-12.nopadding.esn-member
  .col-lg-2.col-sm-3.col-xs-4
    a(href='#/communities/{{community._id}}')
      img.thumbnail(src='/images/community.png', ng-src='/api/communities/{{community._id}}/avatar')
    .text-center
      span.label.label-default {{community.type}}
  .col-lg-7.col-sm-5.col-xs-8
    h4.media-heading
      a(href='#/communities/{{community._id}}') {{community.title}}
    span.label.label-primary {{community.members.length}} #{__('members')}
    blockquote.hidden-xs.community-description(ng-show='community.description')
      p(ng-show='truncate && truncate === true') {{community.description | characters:256 :false }}
      p(ng-hide='truncate && truncate === true') {{community.description}}
  .col-lg-3.col-sm-4.col-xs-12
    a.btn.btn-primary(href='#/communities/{{community._id}}')
      | #{__('Join')}