.community-member-avatar
  a(ng-href="#/profile/{{member.user._id}}", href="#", title='{{tooltip.title}}', data-animation="am-flip-x", data-placement="bottom", bs-tooltip="tooltip")
    img(ng-src="/api/users/{{member.user._id}}/profile/avatar", src="/images/user.png")
    .creator(title='Creator', ng-show='creator')