div(ng-show='canCancelRequestMembership()')
  div #{__('Your membership request is pending')}
  button.btn.btn-default(type='submit', ng-click='cancelRequestMembership()', ng-disabled='disabled') #{__('Cancel request')}
