.inbox-aside.inbox-desktop-menu
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        .lv-item.clickable.menu-root.menu-heading
          .title(ui-sref='unifiedinbox')
            .text #{__('Unified Inbox')}
        ng-include(src="'/unifiedinbox/views/sidebar/twitter/desktop.html'")
        ng-include(src="'/unifiedinbox/views/sidebar/email/desktop.html'")