.inbox-aside.inbox-desktop-menu
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        .lv-item.clickable.menu-root.menu-heading
          .title(ui-sref='unifiedinbox')
            .text #{__('Unified Inbox')}
        inbox-sidebar-twitter(template="desktop")
        inbox-sidebar-email(template="desktop")
