.clickable(title="{{ ::mailbox.name }}")
  .badge-container
    .badge(ng-hide='mailbox.unreadMessages === 0') {{ mailbox.unreadMessages }}
    i.inbox-icon(ng-class='mailboxIcons')
  .mailbox-name
    span.mailbox-name-inner
      bdi {{ ::mailbox.qualifiedName }}
    span.mailbox-name-after
