.inbox-aside
  .lv-item.clickable.menu-root.menu-heading
    .title(ui-sref='unifiedinbox')
      .text #{__('Unified Inbox')}
  inbox-sidebar-twitter(template="aside")
  inbox-sidebar-email(template="aside")
