.inbox-aside(ng-class="{ 'is-vacation-activated' : inbox.vacationActivated }")
  .lv-item.clickable.menu-root.menu-heading
    .title(ui-sref='unifiedinbox')
      .text #{__('Unified Inbox')}
  .inbox-sidebar-dd(dynamic-directive='inbox-sidebar')
  inbox-sidebar-twitter
  inbox-sidebar-email
  inbox-sidebar-configuration-button
