.inbox-aside
  .lv-item.clickable.menu-root.menu-heading
    .title(ui-sref='unifiedinbox')
      .text #{__('Unified Inbox')}
  hr
  ng-include(src="'/unifiedinbox/views/sidebar/sidebar-menu-twitter.html'")
  ng-include(src="'/unifiedinbox/views/sidebar/sidebar-menu-mail.html'")
