.calendar-edit-header
  .flex-space-between.flex-vertical-centered
    .left
      button.btn.btn-primary(ng-click="cancelMobile()")
        i.mdi.mdi-close
    .right
      button.btn.btn-primary(ng-if='!newCalendar', ng-click='submit()')
        | #{__('Save')}
        i.mdi.mdi-check
      button.btn.btn-primary(ng-if='newCalendar', ng-click='submit()')
        | #{__('Create')}
        i.mdi.mdi-check
