sub-header
  calendars-edition-header

.block-header.hidden-xs
  h2 #{__('Calendars configuration')}

.calendars-edit.card
  .card-body
    .listview
      .lv-body
        a.lv-item(href="", ng-click="add()")
          .media
            .pull-left
              i.mdi.mdi-plus
              span #{__('New')}
        hr
        a.lv-item(href="", ng-repeat="calendar in calendars", ng-click='modify(calendar)')
          .media
            .pull-left
              i.mdi.mdi-label(ng-style="{'color': calendar.color}")
              span {{::calendar.name}}
