.calendar-edit-header
  .flex-space-between.flex-vertical-centered
    .left
      button.btn.btn-primary(ng-click="cancel()")
        i.mdi.mdi-close
        | #{__('Cancel')}
    .right
      button.btn.btn-primary(ng-click='submit()')
        | #{__('Save')}
        i.mdi.mdi-check
