.calendars-configuration-header
  .flex-start.flex-vertical-centered
    .col-xs-3.nopadding
      a.btn.btn-primary.flex-vertical-centered(href='', ng-click='vm.cancel()')
        i.mdi.mdi-arrow-left
        | #{__('Back')}
    .col-xs-6.nopadding
      span.all-centered
        | #{__('Manage calendars')}
