<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  We would like to inform you that the password reset issued on the OpenPaaS platform has correctly been taken into account.
</p>
<p>
  You can sign in at <%= url %>.
</p>
<p>
  Please do not reply to this email.
</p>

Sincerely,
The OpenPaaS Team!
