div(profile-popover-card='{ source: "contact", property: "id" }' profile-popover-card-placement="left" profile-popover-card-show-mobile)
  a
    img(ng-class="{'esn-avatar': listView, 'clickable': editable}" ng-src='{{displayShell.getAvatar(avatarSize)}}' fallback-src="{{displayShell.getDefaultAvatar()}}", alt=__("Profile Picture"))
    i.mdi.i-contact-list(ng-class="displayShell.getOverlayIcon()")
  a.edit-hint(ng-if='editable')
    i.mdi.mdi-camera
    span(data-ng-switch='contactState')
      span(data-ng-switch-when='edit') #{__('Update profile picture')}
      span(data-ng-switch-when='new') #{__('Add a profile picture')}
