.attendee-item
  a.avatar(href="", ng-attr-title='{{::ctrl.attendee.name}}')
    img(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/avatars?email={{ctrl.attendee.email|urlencode}}')
    .organizer(ng-if='ctrl.isOrganizer')
      i.mdi.mdi-pencil
  .name
    span {{::ctrl.attendee.name}}
  .actions
    a.send-email(ng-href="mailto:{{::ctrl.attendee.email}}" op-inbox-compose op-inbox-compose-display-name="{{::ctrl.attendee.name}}")
      i.mdi.mdi-email
