sub-header
  .admin-view-subheader.flex-vertical-centered.hidden-md
    a(href='', contextual-sidebar, data-content-template="/admin/views/sidebar/admin-sidebar")
      i.mdi.mdi-menu
.admin-root.full-width.row.no-padding-xs
  .col-md-3.hidden-xs
    admin-sidebar
  ui-view.col-xs-12.col-md-8.no-padding-xs(noanimation)
