i.clickable.mdi.mdi-file-outline.visible-xl(ng-if="$root.inbox.rightSidebar.isVisible", esn-back-button='unifiedinbox', title="#{__('Hide all email attachments')}")
i.clickable.mdi.mdi-file-outline.visible-xl(ng-if="!$root.inbox.rightSidebar.isVisible", ui-sref=".attachments", title="#{__('Show all email attachments')}")
i.clickable.mdi.mdi-file-outline.hidden-xl(title="#{__('Show attachments')}", contextual-sidebar, data-content-template="/unifiedinbox/views/components/sidebar/attachment/sidebar-attachment.html", data-placement="right", data-controller="inboxListSidebarAttachmentController", data-controller-as="ctrl")
