.col-sm-offset-3.col-sm-5.col-xs-12.form-container
  form(name='applicationsForm', action='/oauth/authorize/decision', method='post')
    legend
      .text-center
        img(src="/images/logo.png")
        p #{__('A new application is requesting an authorization')}
    .col-sm-6.col-xs-12
      p
        strong Application Name
        | : #{client.name}
      p
        strong redirectUri
        | : #{client.redirectUri}
    input(name="transaction_id", type="hidden", value='#{transactionId}')
    .col-sm-6.col-xs-12.text-center
      .row.form-group
        input.btn.btn-primary(type="submit", value="Allow", id="allow")
      .row.form-group
        input.btn.btn-cancel(type="submit", value="Deny", name="cancel", id="deny")
