doctype html
html
  include ../commons/utils
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.core.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.buttons.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.picon.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.history.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    +injectCSSFromModules('oauth', cssInjections)
    +injectJSFromModules('oauth', jsInjections)
  body
    #wrap
      .vertiz-space
      include ./dialog
