div(ng-switch='notification.category')
  community-subscription-request-user-notification(ng-switch-when='community:subscriptionRequest', notification='notification')
  external-user-notification(ng-switch-when='external', notification='notification')
  external-user-notification(ng-switch-default, notification='notification')

