.calendar
  mini-calendar-mobile(calendar-home-id="calendarHomeId").initial-state.hidden-md.hidden-lg
  .text-center
    .throbber(openpaas-logo-spinner, spinner-size='0.5', spinner-key='calendar')
  esn-calendar.main-calendar(config='uiConfig.calendar', calendar-ready='calendarReady', ng-class="{activeCalendar: hideCalendar}", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()", ng-swipe-disable-mouse)
  cal-event-create-button(ng-show="$state.includes('calendar.main')", calendar-home-id="calendarHomeId")
