.cc-sync
  .block-header
    h2 #{__('Sync Outlook with OpenPaaS')}

  .sync-android-guide(ng-include="'/sync/outlook/guide'")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')
