ul.message-bottom-links.list-inline
  li
    button.btn.btn-link(type='button')
      | #UI
  li
    button.btn.btn-link(type='button')
      | #barcamp
  li.pull-right
    button.btn.btn-link(type='button')
      | #{__('Useful')} &nbsp;
      i.fa.fa-comment
  li.pull-right
    button.btn.btn-link(type='button')
      | #{__('Comment')} &nbsp;
      i.fa.fa-comment
  li.pull-right
    button.btn.btn-link(type='button')
      | #{__('Share')} &nbsp;
      i.fa.fa-comment
