.search-header {

  .popover {
    max-width: 100vw;

    &.bottom {
      margin-top: 60px;

      & > .arrow {
        display: none;
      }
    }

    .popover-content {
      padding: 5px 2px 0 2px;
    }

    .search-settings-body {
      margin-top: 12px;
    }

    .search-settings-footer {
      padding: 10px;
      text-align: right;
      border-top: 1px solid transparent;

      .footer-left, .footer-right {
        .flex-vertical-centered;
        .flex-grow;
      }

      .footer-left {
        .flex-start;
      }

      .footer-right {
        .flex-end;
      }
    }

    .mdi {
      font-size: 1.8em;
      vertical-align: middle;

      &.close-settings {
        color: @primaryColor;
      }
    }

    .checkbox {
      min-width: 180px;
      margin-left: 15px;
      margin-top: 3px;
      margin-bottom: 3px;
      padding-left: 0;

    }
  }
}

@media (max-width: @screen-md-min) {
  .search-header {
    .popover {
      left: 0 !important;
    }
  }
}

@media (min-width: @screen-md-min) {
  .search-header {
    .popover {
      width: 500px;

      &.bottom {
        margin-top: 0;
      }

      .popover-content {
        padding: 1px 0 0 0;
      }
    }
  }
}

@media (min-width: @screen-xl-min) {
  .search-header {
    .popover {
      width: 750px;

      &.bottom {
        margin-top: 0;
      }

      .popover-content {
        padding: 5px 4px 0 4px;
      }
    }
  }
}