@inboxAsideFontSize: 1.6em;
@inboxAsideHeadingFontSize: 1.8em;
@inboxAsideIconFontSize: 2.2em;
@inboxAsideMailboxNameHeight: 30px;

.inbox-aside {

  color: @secondaryTextColor;

  .clickable {
    line-height: @inboxAsideIconFontSize;

    &.selected {
      background-color: @darkenBgColor;

      .mailbox-name .mailbox-name-after:after {
        background-color: @darkenBgColor;
      }
    }
  }

  .inbox-icon {
    font-size: @inboxAsideIconFontSize;
    vertical-align: bottom;
  }

  .mailbox-name {
    background-color: inherit;
    overflow: hidden;
    direction: rtl;
    height: @inboxAsideMailboxNameHeight;
    text-align: left;
    line-height: @inboxAsideMailboxNameHeight;

    .mailbox-name-inner {
      white-space: nowrap;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      height: @inboxAsideMailboxNameHeight + 1;
    }

    .mailbox-name-after {
      width: 1px;
      height: @inboxAsideMailboxNameHeight + 1;
      display: inline-block;
      position: relative;
    }

    .mailbox-name-after:after {
      content: "…";
      width: auto;
      background-color: white;
      margin-right: 6px;
      position: absolute;
      bottom: @inboxAsideMailboxNameHeight + 1;
      left: 0;
      height: @inboxAsideMailboxNameHeight + 1;
      min-width: 1px;
    }
  }

  .listview:not(.lv-lg):not(.lv-message) {
    .lv-item:not(.menu-heading) {
      padding: 2px 30px 2px 20px;
    }
  }

  &.inbox-desktop-menu {
    margin-top: 20px;
    max-width: 300px;

    .listview:not(.lv-lg):not(.lv-message) {
      .lv-item.menu-heading {
        padding: 8px 0 8px 15px;
      }
    }

    .menu-heading {
      .flex;

      border-left: 5px solid @primaryColor;

      .add-folder {
        .transition(0.25s ease-out);
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }

        .inbox-icon {
          margin: 0;
        }
      }

      .title {
        .flex;
        .flex-shorthand(1);

        .text {
          .flex-shorthand(1);

          margin-left: 5px;
          font-weight: bold;
          font-size: @inboxAsideFontSize;
          color: @primaryColor;
        }
      }
    }

    .settings-overlay {
      font-size: @inboxAsideIconFontSize;
    }

    .mailbox-name {
      .mailbox-name-after:after {
        background-color: @body-bg;
      }
    }

    .clickable.selected {
      .mailbox-name .mailbox-name-after:after {
        background-color: @darkenBgColor;
      }
    }
  }

}
