.email-view, .attachments-zone {

  .attachments {
    .flex-start;
    .flex-wrap;

    padding: 5px;
    border: none;
    background-color: @m-white;

    .attachment {
      .flex-space-between;

      position: relative;
      border-radius: 4px;
      margin: 5px;
      height: 60px;
      width: 300px;
      color: lighten(@secondaryTextColor, 10%);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

      &:hover {
        color: @secondaryTextColor;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

        .icon {
          background-color: lighten(@body-bg, 2%);
        }
      }

      .progress {
        position: absolute;

        width: 0;
        height: 100%;
        z-index: 0;
        background-color: lighten(@body-bg, 2%);
      }

      .icon {
        .all-centered;

        background-color: @lightenBgColor;

        img {
          z-index: 1;
          margin: 5px;
          width: 40px;
          height: 40px;
        }
      }

      .metadata {
        .flex-column;
        .flex-horizontal-centered;
        .flex-grow;

        text-align: left;
        overflow: hidden;
        margin: 0 5px;
        z-index: 1;

        .name {
          font-size: 1.2em;
          line-height: 1.2em;
          font-weight: bold;
        }
      }

      .actions {
        .all-centered;

        .mdi {
          font-size: 2em;
          vertical-align: sub;
        }

      }

    }
  }

}
