@autocompleteFontSize: 10px;
@attachments-zone-min-height: 80px;
@composer-header-min-height: 65px;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
composer, composer-desktop {
  .flex-column;
  .flex-shorthand(1);

  .compose {
    .flex-column;
    .flex-shorthand(1);

    .compose-header {
      min-height: @composer-header-min-height;
      background-color: @body-bg;

      .row {
        margin: 0;
      }

      input {
        background-color: inherit;
        height: 27px;
      }

      .form-group {
        margin-bottom: 0;
      }

      .picture {
        .text-center;
        padding: 5px 5px 0 5px;

        img {
          .esn-avatar;
        }
      }

      .recipients {
        padding-right: 0;

        .form-group {
          .flex-vertical-centered;

          opacity: 1;
          transition: opacity 0.2s ease-out;

          &.ng-hide {
            opacity: 0;
          }
        }
      }

      .more-recipients {
        font-size: 2em;
        cursor: pointer;
        padding-left: 0;
        text-align: end;
        transition: transform 0.2s ease-out;

        a > i {
          font-size: 0.6em;
        }
      }

    }

    email-body-editor {
      .flex;
      .flex-shorthand(1);
    }

    .compose-subject {
      padding: 0 5px 0 5px;
      height: auto;
    }

    .compose-body {
      .flex-column;
      .flex-shorthand(1);

      padding: 5px;
      border: none;
    }

    .panel-heading.note-toolbar .note-alignment .dropdown-menu {
      min-width: 190px;
      background-color: @primaryColor;
    }

    .note-placeholder {
      z-index: 10;
    }

    .note-editor {
      .flex-column;
      .flex-shorthand(1);

      border: 0;

      .note-editing-area {
        .flex-shorthand(1);

        .note-editable {
          p {
            margin-bottom: 0;
          }
        }
      }

      &.fullscreen {

        .note-editing-area .note-editable {
          position: relative;
        }

      }

      .note-resizebar {
        display: none;
      }

      .note-popover .note-image-popover {
        background-color: @primaryColor ;
      }

      .btn-group:not(.dropdown-menu) .btn-default {
        color: @textPrimaryColor;
        background-color: @primaryColor;
        border: 0;
        border-radius: 0;
        .caret {
          border-top-color:  @textPrimaryColor;
        }
        &.active {
          background-color: lighten(@primaryColor, 10%);
          color: @primaryColor;
          z-index: 0;
        }
      }
      .open > .dropdown-toggle {
        background-color: lighten(@primaryColor, 10%);
        color: @textPrimaryColor;
        &.btn-default:hover, &.btn-default:focus {
          background-color: lighten(@primaryColor, 10%);
          color: @textPrimaryColor;
        }
      }
      &.panel.panel-default {
        margin-bottom: 0;
      }
    }
    .compose-body .panel-default > .panel-heading {
      padding: 5px;
      background-color: @primaryColor ;
      border-radius: 0;
      &.note-toolbar > .btn-group {
        margin-top: 0;
      }
    }

    .btn-group:not(.bootstrap-select) {
      box-shadow: none;
    }

    .tooltip .fade .bottom .in {
      background-color: lighten(@primaryColor, 10%);
    }

    .compose-footer {
      .align-self(flex-end);

      margin-right: 5px;

      .btn {
        box-shadow: none;
      }

      .mdi-paperclip {
        font-size: 1.5em;
      }

      .mdi-send {
        margin-left: 5px;
      }
    }
  }
}

composer {

  width: 100%;

  .compose {

    .compose-body, .note-editor {
      // This will make the textarea wide enough to overflow the screen,
      // but be short enough so that when it is focused, the automatic scroll when the
      // virtual keyboard appears does not hide the caret.
      min-height: ~"calc(100vh - @{header-height} - @{sub-header-height} - @{composer-header-min-height} - @{attachments-zone-min-height})";
      overflow: auto;
      resize: none;
    }

    .edit-quoted-mail {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 3;

      padding: 5px 10px;

      border-top-left-radius: 5px;
      background-color: @primaryColor;
      opacity: 0.8;

      a {
        color: @textPrimaryColor;
      }
    }

  }

}

.attachments-zone {
  min-height: @attachments-zone-min-height;
  background-color: @m-white;
}

composer-desktop {

  .compose {

    .note-editor {

      .note-editing-area {
        .fill-parent-block;

        top: 40px;
        overflow: auto;

        .note-editable {
          min-height: ~'calc(100% - @{attachments-zone-min-height})';
          overflow: hidden;

          blockquote {
            margin: 10px 0;
          }
        }
      }

    }

  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  composer, composer-desktop {

    .note-editor {

      .btn-group:not(.dropdown-menu) .btn-default {

        &:hover {
          background-color: lighten(@primaryColor, 10%);
          color: @primaryColor;
        }

      }

    }

  }

}
