@autocompleteFontSize: 10px;
@attachments-zone-min-height: 80px;
@composer-header-min-height: 65px;
@summernotePlaceholderZIndex: 10;

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
composer, composer-desktop {
  .flex-column;
  .flex-shorthand(1);

  .compose {
    .flex-column;
    .flex-shorthand(1);

    .compose-header {
      .flex-space-between;
      .flex-vertical-centered;

      background-color: @m-white;

      .row {
        margin: 0;
      }

      .fields {
        .flex-column;
        .flex-shorthand(1, 1);

        padding-right: 0;

        .form-group {
          .flex-vertical-centered;

          margin: 0;

          > .inbox-recipients {
            .flex-shorthand(1);

            width: 10px;
          }

          > .control-label {
            min-width: 50px;
            margin: 0;
            padding: 0 0 0 10px;
            text-align: left;
            color: @secondaryTextColor
          }

          &.select {
            select {
              height: 30px;
              line-height: 30px;
              overflow: hidden;
            }

            &::before {
              height: 30px;
            }
          }
        }
      }

      .inbox-more-recipients {
        color: @secondaryTextColor;
        cursor: pointer;
        padding-left: 0;
        text-align: center;
        min-width: 40px;
        margin: 0 0 auto 0;

        &.active, &:hover {
          color: @text-color;
        }

        i {
          font-size: 2em;
        }
      }

    }

    email-body-editor {
      .flex-column;
      .flex-shorthand(1);

      background-color: @m-white;
    }

    .compose-subject {
      padding: 0 10px;
      height: 32px;
      border-top: 1px solid lighten(@m-gray, 30%);
      color: @text-color;
    }

    .compose-body {
      .flex-column;
      .flex-shorthand(1);

      padding: 5px 10px;
      border: none;
    }

    .note-editor {
      .flex-column;
      .flex-shorthand(1);

      border: 0;

      p {
        margin-bottom: 0;
      }

      .panel-heading.note-toolbar {
        background-color: inherit;
        border: 0;

        .dropdown-menu {
          overflow-y: auto;
          z-index: @summernotePlaceholderZIndex + 1;

          &.dropdown-style {
            .flex-space-around;
            .flex-flow(row wrap);
            .flex-vertical-centered;

            width: @overlayMinWidth - 15px; // Makes the dropdown fit the composer when it's at its min-width
          }
        }

        .note-alignment .dropdown-menu {
          min-width: 141px;
          padding: 5px;
        }

        .btn-group {
          box-shadow: none;

          .btn-default {
            background-color: @body-bg;
            color: @secondaryTextColor;
            border: 0;
            border-radius: 0;

            &.active, &:hover {
              background-color: @darkenBgColor;
              color: @text-color;
            }
          }
        }
      }

      .note-placeholder {
        z-index: @summernotePlaceholderZIndex;
      }

      .note-editing-area {
        .flex-shorthand(1);
      }

      .note-resizebar {
        display: none;
      }

      &.panel.panel-default {
        margin-bottom: 0;
      }
    }

    .compose-footer {
      .align-self(flex-end);

      width: 100%;
      padding: 2px;

      .btn {
        box-shadow: none;
      }

      .compose-right-footer {
        margin-left: auto;
      }

      .badge-container {
        padding-right: 0;

        .composer-badge {
          background: @primaryColor;
          top: 8px;
          right: 11px;
          font-weight: bold;
          line-height: 16px;
          height: 16px;
          min-width: 16px;

          &.error {
            background: @m-red;
          }
        }

        .uploading {
          animation: flashing-desktop 2.5s infinite linear;
        }
      }

      .btn-default {
        padding-left: 5px;
        padding-right: 5px;
        color: @secondaryTextColor;
        margin-right: 5px;

        &.active, &:hover {
          color: @text-color;
        }

        .mdi {
          font-size: 1.6em;
          vertical-align: middle;
        }
      }

      .mdi-send {
        margin-left: 5px;
        font-size: 1.6em;
        vertical-align: middle;
      }
    }
  }
}

composer {

  width: 100%;

  .compose {

    .compose-body, .note-editor {
      min-height: 100px;
      overflow: auto;
      resize: none;

      &.expanded {
        // This will make the textarea wide enough to overflow the screen,
        // but be short enough so that when it is focused, the automatic scroll when the
        // virtual keyboard appears does not hide the caret.
        min-height: ~"calc(100vh - @{header-height} - @{sub-header-height} - @{composer-header-min-height} - @{attachments-zone-min-height})";
      }
    }

    .inbox-composer-original-message {
      .edit-quoted-mail {
        margin-right: 10px;
      }
    }

  }

}

.attachments-zone {
  min-height: @attachments-zone-min-height;
  background-color: @m-white;
}

composer-desktop {

  .compose-header {
    margin: 3px 0;
  }

  .compose {

    .note-editor {

      .note-editing-area {
        .fill-parent-block;

        top: 40px;
        overflow: auto;

        .note-editable {
          min-height: ~'calc(100% - @{attachments-zone-min-height})';
          overflow: hidden;

          blockquote {
            margin: 5px 0;
            padding: 0 0 0 10px;

            border-left: 4px solid @darkenBgColor;
          }

          pre {
            white-space: pre-wrap;

            border: none;
            background: none;
            margin: 1em 0;
            padding: 0;
          }
        }
      }

    }

  }

}
