@inboxConfigurationFontSize: 1.6em;

.inbox-main-content {

  &.configuration {

    .clickable {
      line-height: @inboxConfigurationFontSize;
    }

    .inbox-icon {
      font-size: @inboxConfigurationFontSize;
      vertical-align: bottom;
    }

    .badge {
      display: none;
    }

    .mailboxes-list {

      .clickable {
        margin-bottom: 10px;
      }

      .mailbox-name {
        .ellipsis;
      }
    }

    .button-bar .btn.underlined-button {
      margin: 0;
      font-size: 15px;
      padding: 10px 10px 10px 0;
    }

    .other-actions {
      input {
        margin-left: 10px;
      }
    }
  }

}

@media(min-width: @screen-md-min) {

  .inbox-main-content {
    &.configuration {
      .form-group {
        width: 40%;
      }
    }
  }
}
