@inboxConfigurationFontSize: 1.6em;

.inbox-main-content {

  &.configuration {

    .clickable {
      line-height: @inboxConfigurationFontSize;
    }

    .inbox-icon {
      font-size: @inboxConfigurationFontSize;
      vertical-align: bottom;
    }

    .badge {
      display: none;
    }

    .mailboxes-list {

      .clickable {
        margin-bottom: 10px;
      }

      .mailbox-name {
        .ellipsis;
      }
    }

    .button-bar {
      direction: rtl;

      .btn {
        margin: 0 5px;
      }
    }
  }
  
}

@media(min-width: @screen-md-min) {

  .inbox-main-content {
    &.configuration {
      .form-group {
        width: 40%;
      }
    }
  }
}
