#sub-header {
  .filter-button {
    .inline-flex;
    .align-items(center);
    text-align: right;

    width: 35px;
    font-size: 14px;
    text-transform: capitalize;
    color: @textPrimaryColor;
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;

    &.filtered {
      border-bottom: 2px solid @accentColor;
      .mdi-filter {
        color: @accentColor;
      }
    }

    .filter-label {
      text-align: left;
      margin: 0 5px 0 15px;
    }

    .caret {
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }
  }

  @media (min-width: @screen-md-min) {

    .filter-button {
      width: auto;
    }
  }
}
