@dropdownItemHeight: 35px;
@checkboxSize: 17px;

#header {

  #sub-header > * {
    width: 100%;
  }

  .inbox-subheader {
    .button {
      opacity: 1;
    }

    .text-header {
      font-size: 1.4em;
      color: @textPrimaryColor;
    }

    .title {
      .text-header;

      text-align: center;
      margin-left: 25px;
      margin-right: 25px;
    }

    .select-recipient {
      width: 60px;
      margin: 0;

      &.select:not(.fg-line):before {
        background-color: transparent;
        background-image: url('../../../unifiedinbox/images/select.png');
        background-size: 12px 12px;
        top: 2px;
      }

      .form-control:not(.fc-alt) {
        border-bottom: none;
      }

      select {
        .text-header;

        height: 27px;
        background-color: transparent;

        option {
          color: @text-color;
        }
      }
    }

    .inbox-composer-buttons {
      .btn {
        padding: 0 0 0 5px;
      }

      .btn-with-badge {
        padding-left: 20px;
      }

      .badge-container {
        padding-right: 0;

        .composer-badge {
          background: @accentColor;
          top: 9px;
          font-weight: bold;
          right: 16px;
          line-height: 19px;

          &.error {
            background: @m-red;
          }
        }

        .uploading {
          animation: flashing-mobile 2.5s infinite linear;
        }
      }
    }

    .inbox-subheader-buttons {
      .mdi {
        margin-left: 10px;
      }
    }

    .inbox-subheader-inner {
      padding: 0 10px;

      & > .left-container {
        // See http://stackoverflow.com/questions/26465745/ellipsis-in-flexbox-container
        min-width: 0;

        :not(.inbox-selection-aware-subheader):first-child {
          .flex-noshrink;
        }
      }
    }

    .inbox-selection-aware-subheader {
      .flex-vertical-centered;

      min-width: 0;
    }
  }
}

@media (min-width: @screen-md-min) {
  #header {
    .inbox-subheader:not(.inbox-subheader-fullwidth) {
      .title:not(.extra-title) {
        margin-left: 0; // Because the padding of the 'inner' class below is now enough
      }

      .inbox-subheader-inner {
        padding: 0 25px;
      }
    }
  }
}
