#header {

  #sub-header > * {
    width: 100%;
  }

  .inbox-subheader {

    .button {
      position: absolute;
      top: 10px;
      opacity: 1;
      padding: 0 5px;

      &.submit {
        right: 0;
      }
    }

    .title {
      text-align: center;
      font-size: 1.4em;
      margin-left: 40px;

      color: @textPrimaryColor;
    }

    &.composer {
      .mdi-send {
        font-size: 1.6em; // send icon seems bigger than other, so we reduce its size
      }
    }

    &.configuration {

    }
  }

}