#header {

  #sub-header > * {
    width: 100%;
  }

  .inbox-subheader {

    .button {
      position: absolute;
      top: 10px;
      opacity: 1;
      padding: 0 5px;

      &.submit {
        right: 0;
      }
    }

    .title {
      text-align: center;
      font-size: 1.4em;
      margin-left: 40px;
      margin-right: 35px;
      color: @textPrimaryColor;
    }

    inbox-filter-button {
      margin-right: 15px;
    }

    &.composer {
      .action {
        padding: 0 5px 0 0;
      }
    }

    .left-container {
      .close.button {
        top: 0;
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  #header {
    .inbox-subheader {
      inbox-filter-button {
        margin-right: 30px;
      }
    }
  }
}
