@inboxDraggingItemBgColor: #FFF9C4;

.inbox-root {
  .inbox-list {
    .inbox-empty-container-message {
      .all-centered;

      height: 70vh;
      color: @secondaryTextColor;
      font-size: 1.4em;
      text-align: center;

      .inbox-empty-icon {
        color: @accentColor;
        font-size: 8em;
        opacity: 0.7;
      }

      &.inbox-error-message {
        .inbox-empty-icon {
          color: @state-danger-text;
        }
      }

      .message {
        margin-bottom: 10px;

        .inbox-clear-filters {
          margin-left: 10px;
        }
      }

      .inbox-dnd-info-message {
        .RoundedShape(5px);

        border: 1px solid @darkenBgColor;

        .mdi {
          margin: 5px 10px;
          font-size: 1.8em;
          color: @primaryColor;
        }
      }
    }

    &.offscreen {
      display: none;
    }
  }

  .inbox-items-group {
    .inbox-list-item, .inbox-message-list-item, .inbox-twitter-list-item {
      padding: 0;

      &.selected {
        background-color: @darkenBgColor;
      }

      .inbox-list-item-content {
        padding: 7px 10px;

        .media-body {
          .flex-space-between;
          .flex-shorthand(1, 1);
          .flex-vertical-centered;
        }

        .badge-number {
          margin-right: 5px;
          color: lighten(@text-color, 30%);
        }

        .inbox-list-item-subject-and-from {
          .flex-column;

          min-width: 0;

          .inbox-preview-inline {
            display: none;
          }
        }

        .inbox-list-item-date-and-indicators {
          .flex-column;
          .flex-shorthand(1);

          .date-container {
            margin-left: 5px;
            text-align: right;
          }
        }

        .preview {
          font-size: 12px;
          color: @lighterSecondaryTextColor;

          margin-top: 5px;
          min-width: 0;
        }

        .list-image {
          .flex-noshrink;
          .user-select(none);

          height: 40px;
          width: 52px;

          img {
            .avatar(40px);
          }

          .inbox-image-with-overlay {
            position: relative;

            .inbox-overlay {
              .avatar(14px);

              position: absolute;
              bottom: 0;
              right: 0;
            }
          }

          .checkbox {
            .input-helper::before, .input-helper::after {
              top: 10px;
              left: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  .inbox-root {
    .inbox-items-group {
      .inbox-list-item, .inbox-message-list-item, .inbox-twitter-list-item {
        .inbox-list-item-content {
          padding: 10px 15px;

          &.dragging {
            background-color: @inboxDraggingItemBgColor;
          }
        }
      }
    }
  }
}

@media (min-width: @screen-xl-min) {
  .inbox-root {
    .inbox-items-group {
      .inbox-list-item, .inbox-message-list-item, .inbox-twitter-list-item {
        .inbox-list-item-content {
          padding: 3px 10px;

          .inbox-preview-block {
            display: none;
          }

          .inbox-list-item-subject-and-from {
            .flex-row-reverse;

            .inbox-from {
              min-width: 230px;
              max-width: 230px;
              margin: auto 5px auto 0;

              .email {
                display: none;
              }
            }

            .inbox-preview-divider {
              margin: 0 5px;
            }

            .inbox-preview-inline {
              display: inline;
              font-weight: normal;
            }
          }

          .inbox-list-item-date-and-indicators {
            .flex-row-reverse;

            .date-container {
              min-width: 80px;
            }
          }

          .list-image {
            height: 28px;
            width: 40px;

            img {
              .avatar(28px);
            }

            .inbox-image-with-overlay {
              .inbox-overlay {
                .avatar(12px);
              }
            }

            .checkbox {
              .input-helper::before, .input-helper::after {
                top: 5px;
                left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
