@transition-sidebar: padding 300ms cubic-bezier(0.4,0.0,0.2,1);

.inbox-root {
  .inbox-list {
    .transition(@transition-sidebar);

    .inbox-empty-container-message {
      .all-centered;

      height: 70vh;
      color: @secondaryTextColor;
      font-size: 1.4em;
      text-align: center;

      .inbox-empty-icon {
        color: @accentColor;
        font-size: 8em;
        opacity: 0.7;
      }

      &.inbox-error-message {
        .inbox-empty-icon {
          color: @state-danger-text;
        }
      }

      .message {
        margin-bottom: 10px;

        .inbox-clear-filters {
          margin-left: 10px;
        }
      }

      .inbox-dnd-info-message {
        .RoundedShape(5px);

        border: 1px solid @darkenBgColor;

        .mdi {
          margin: 5px 10px;
          font-size: 1.8em;
          color: @primaryColor;
        }
      }
    }

    &.offscreen {
      display: none;
    }

    &.has-sidebar-open {
      width: 100%;
      float: left;
      padding-right: 18vw;
      .transition(@transition-sidebar);
    }
  }

  .inbox-infinite-list {
    height: ~"calc(100vh - @{header-height} - @{sub-header-height})";

    &.is-vacation-activated {
      height: ~"calc(100vh - @{header-height} - @{sub-header-height} - @{sub-header-vacation-height})";
    }
  }

  .inbox-items-group {
    min-height: 34px; // Size of the smallest possible card

    .card {
      margin-bottom: 1px;
    }

    .inbox-list-item {
      padding: 0;
      min-height: 88px;
      max-height: 88px;

      &.selected {
        background-color: @darkenBgColor;
      }

      .inbox-list-item-content {
        padding: 7px 10px;
        width: 100%;

        .media-body {
          .flex-space-between;
          .flex-shorthand(1, 1);
          .flex-vertical-centered;
        }

        .badge-number {
          margin-right: 5px;
          color: lighten(@text-color, 30%);
        }

        .inbox-list-item-subject-and-from {
          .flex-column;

          min-width: 0;

          .inbox-preview-inline {
            display: none;
          }
        }

        .inbox-list-item-date-and-indicators {
          .flex-column;
          .flex-shorthand(1);

          .date-container {
            margin-left: 5px;
            text-align: right;
          }
        }

        .preview {
          font-size: 12px;
          color: @lighterSecondaryTextColor;

          margin-top: 4px;
          min-width: 0;
        }

        .inbox-preview-block {
          position: relative;
          line-height: 16px;
          max-height: 32px;
          text-align: justify;
          overflow: hidden;

          &:before {
            content: '\2026';
            position: absolute;
            right: 0;
            bottom: 0;
            background: @m-white;
          }

          &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 1.2ch;
            height: 17px;
            background: @m-white;
          }
        }

        .list-image {
          .flex-noshrink;
          .user-select(none);

          height: 40px;
          width: 52px;

          img {
            .avatar(40px);
          }

          .inbox-image-with-overlay {
            position: relative;

            .inbox-overlay {
              .avatar(14px);

              position: absolute;
              bottom: 0;
              right: 0;
            }
          }

          .checkbox {
            .input-helper::before, .input-helper::after {
              top: 10px;
              left: 10px;
            }
          }
        }
      }
    }
  }
}

.inbox-root {
  .inbox-infinite-list {
    .inbox-items-group {
      .lv-item:hover.inbox-list-item {
        .inbox-preview-block {
          &:before, &:after {
            background: lighten(@body-bg, 1%);
          }
        }

        .clickable.inbox-list-item-content:hover {
          .inbox-preview-block {
            &:before, &:after {
              background: @darkenBgColor;
            }
          }
        }
      }
    }
  }
}

body.header-hidden {
  .inbox-root {
    .inbox-infinite-list {
      height: ~"calc(100vh - @{sub-header-height})";
    }
  }
}

@media (min-width: @screen-md-min) {
  .inbox-root {

    .has-sidebar-open {

      .inbox-infinite-list {
        margin-right: 0;
      }

      .md-virtual-repeat-container .md-virtual-repeat-offsetter {
        padding-right: 0;
      }
    }

    .md-virtual-repeat-container .md-virtual-repeat-offsetter {
      padding-right: 15px;
    }

    .inbox-infinite-list {
      margin-right: -15px;

      .inbox-items-group {
        .inbox-list-item {
          .inbox-list-item-content {
            &.dragging {
              background-color: lighten(@accentColor, 20%);
              .cursor-grab;
            }

            &.dragging:active {
              .cursor-grabbing;
            }
          }
        }
      }
    }
  }
}

@media (min-width: @screen-xl-min) {
  .inbox-root {
    .inbox-items-group {
      .inbox-list-item {
        min-height: 34px;
        max-height: 34px;

        .inbox-list-item-content {
          padding: 3px 10px;

          .inbox-preview-block {
            display: none;
          }

          .inbox-list-item-subject-and-from {
            .flex-row-reverse;

            .inbox-from {
              min-width: 230px;
              max-width: 230px;
              margin: auto 5px auto 0;

              .email {
                display: none;
              }
            }

            .inbox-preview-divider {
              margin: 0 5px;
            }

            .inbox-preview-inline {
              display: inline;
              font-weight: normal;
            }
          }

          .inbox-list-item-date-and-indicators {
            .flex-row-reverse;

            .date-container {
              min-width: 80px;
            }
          }

          .list-image {
            height: 28px;
            width: 40px;

            img {
              .avatar(28px);
            }

            .inbox-image-with-overlay {
              .inbox-overlay {
                .avatar(12px);
              }
            }

            .checkbox {
              .input-helper::before, .input-helper::after {
                top: 5px;
                left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
