.twitter-list-item {

  .list-image {

    .twitter-icon-overlay {
      position: absolute;
      bottom: 0;
      right: 15px;
      font-size: 13px;
      color: @primaryColor;
      background-color: @m-white;
    }

  }

  .preview {
    margin-top: 10px;
  }

}
