@tagsInputLineHeight: 36px;

.inbox-tags-input {

  .host {
    margin: 0;
  }

  .tags {

    max-height: 60px; // ~2 lines of tags

    .tag-item {
      .flex-shrink(0);
      .ShadowedShape(none);

      margin: 1px;
      padding: 4px 8px;

      font-size: @autocompleteFontSize;
      text-transform: none;
      color: @secondaryTextColor;
      background-color: @body-bg;

      &:hover, &.focused {
        color: @text-color;
        background-color: @darkenBgColor;
      }

      &.selected, &:active, &:active:hover {
        color: @text-color;
        background-color: darken(@darkenBgColor, 3%);
      }

      .remove-button {
        color: inherit;
        background-color: inherit;
      }
    }

  }

  .autocomplete {
    .suggestion-list {
      max-height: ~"calc(100vh - @{header-height} - @{sub-header-height} - @{tagsInputLineHeight})";

      .suggestion-item {
        color: @secondaryTextColor;

        &.selected {
          color: @text-color;
          background-color: @darkenBgColor;

          em {
            color: inherit;
            background-color: inherit;
          }
        }

        em {
          font: inherit;
          font-weight: bold;
        }

        .auto-complete-match {
          img {
            .avatar(35px);
          }

          .row {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

composer, composer-desktop {

  .inbox-tags-input {

    .tags {
      .flex;

      .input {
        .flex-shrink(0);

        height: 25px;
        text-align: right;
      }

      .tag-list {
        .flex;
        .flex-shorthand(1, 1);

        overflow: hidden;
      }

    }

  }

}

composer {

  .inbox-tags-input {

    .tags .tag-list .tag-item {
      line-height: 1.8em;

      .remove-button {
        display: none; // Hide the remove-button (X) of ngTagsInput for mobile devices in display mode
      }

    }

  }

}

composer-desktop {

  .inbox-tags-input {

    .autocomplete {
      .suggestion-list {
        max-height: 300px;
      }
    }

    .tags {
      display: block;

      .input {
        text-align: left;
      }

      .tag-list {
        display: inline;
        width: auto;
        overflow: auto;
      }
    }

  }

}
