.inbox-root {
  .inbox-vacation-indicator {
    .all-centered;
    .inbox-ng-leave;

    text-align: center;
    font-weight: bold;
    background-color: @accentColor;
    max-height: 30px;

    .inbox-disable-vacation:not(:hover) {
      color: @primaryColor;
    }
  }

  .inbox-configuration-vacation {
    .inbox-toggle-switch {
      color: lighten(@text-color, 50%);

      span {
        padding-left: 2px;
        padding-right: 6px;
      }

      .toggle-switch {
        transform: scale3d(.8, .8, 1);

        .ts-helper {
          margin: 0 10px 0 10px;
        }
      }

      .toggle-active {

        &.vacation-enabled {
          color: @m-blue;
        }

        &.vacation-disabled {
          color: @secondaryTextColor;
        }
      }
    }

    fieldset, .vacation-end-date {

      &:not([disabled]) {
        color: @text-color;
      }

      &[disabled] {
        color: lighten(@secondaryTextColor, 25%);
      }
    }

    .responsive-form-group {
      .flex-start;
      .align-items(center);
    }

    .form-group {
      margin-bottom: 15px;
    }

    .field-label {
      .flex-noshrink;

      padding-right: 15px;
    }

    .ng-invalid.fg-line:not([class*=has-]):after {
      background: @m-red;
    }

    .btn:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker) {
      box-shadow: none;
    }
  }
}

@media (min-width: @screen-md-min) {
  .inbox-root {
    .inbox-vacation-indicator {
      margin: 0 -15px;
    }

    .inbox-configuration-vacation {
      .responsive-form-group, .field-label {
        display: block;
      }

      .form-group {
        margin-bottom: 30px;
      }
    }
  }
}
