.inbox-root {
  .inbox-vacation-indicator {
    .all-centered;
    .inbox-ng-leave;

    text-align: center;
    font-weight: bold;
    background-color: @accentColor;
    max-height: 30px;

    .inbox-disable-vacation:not(:hover) {
      color: @primaryColor;
    }
  }
}

@media (min-width: @screen-md-min) {
  .inbox-root {
    .inbox-vacation-indicator {
      margin: 0 -15px;
    }
  }
}
