.email-view {

  .card {
    &.isCollapsed {
      .from span.line-header,
      .to,
      .cc,
      .email-header-right .actions,
      .email-header-right .flex-space-between.horiz-space email-star,
      .email-body,
      .lv-footer {
        display: none;
      }
    }

    &:not(.isCollapsed) {
      .avatarify .preview {
        display: none;
      }
    }
  }

  .subject {
    color: @text-color;
  }

  .email-header {
    .flex-space-between;
    .SecondaryColor;

    padding: 10px;
    background-color: @lightenBgColor;
    border-bottom: 1px @body-bg solid;

    .avatarify {
      height: 100%;
      width: 75%;

      .preview {
        min-height: 20px;
        color: lighten(@secondaryTextColor, 20%);
      }
    }

    .line-header {
      margin-right: 5px;
      font-style: italic;
    }

    .email-header-right {
      .flex-column;
      .aligner-items-end;

      .action-item {
        .horiz-space;

        & > a > .mdi {
          font-size: 2em;
          vertical-align: sub;
        }

      }
    }
  }

  .lv-footer {
    .flex();
    .flex-vertical-centered();
    .flex-space-between;

    padding: 15px 0 15px 0;
    border-top: 1px solid lighten(@m-gray, 25%);

    .action {
      .all-centered();
      .col-xs-4();

      height: 5em;

      & > a {
        .all-centered();
        .flex-column();

        color: @action-list-icon-color;
        cursor: pointer;
        .label {
          color: @action-list-icon-color;
          font-size: 120%;
        }

        & > i.mdi {
          font-size: 3.3em;
        }

        &:hover {
          color: @action-list-icon-color-dark;
          .label {
            color: @action-list-icon-color-dark;
          }
        }
      }
    }
  }

  .email-body {
    padding: 5px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .html-email-body {
    width: 100%;

    border: none;
  }

}
