.email-view {

  .card {
    &.isCollapsed {
      .from span.line-header,
      .to,
      .cc,
      .email-header-right .actions,
      .email-header-right .flex-space-between.horiz-space email-star,
      .email-body,
      .lv-footer {
        display: none;
      }
    }

    &:not(.isCollapsed) {
      .avatarify .preview {
        display: none;
      }
    }
  }

  .subject {
    color: @text-color;
  }

  .email-header {
    .flex-space-between;
    .SecondaryColor;

    padding: 10px;
    background-color: lighten(@body-bg, 5%);
    border-bottom: 1px @body-bg solid;

    .avatarify {
      height: 100%;
      width: 75%;

      .preview {
        min-height: 20px;
        color: lighten(@secondaryTextColor, 20%);
      }
    }

    .line-header {
      margin-right: 5px;
      font-style: italic;
    }

    .email-header-right {
      .flex-column;
      .aligner-items-end;

      .action-item {
        .horiz-space;

        & > a > .mdi {
          font-size: 2em;
          vertical-align: sub;
        }

      }
    }
  }

  .lv-footer {
    .flex();
    .flex-vertical-centered();
    .flex-space-between;

    padding: 15px 0 15px 0;
    border-top: 1px solid lighten(@m-gray, 25%);

    .action {
      .all-centered();
      .col-xs-4();

      height: 5em;

      & > a {
        .all-centered();
        .flex-column();

        color: @action-list-icon-color;
        cursor: pointer;
        .label {
          color: @action-list-icon-color;
          font-size: 120%;
        }

        & > i.mdi {
          font-size: 3.3em;
        }

        &:hover {
          color: darken(@action-list-icon-color, 15%);
          .label {
            color: darken(@action-list-icon-color, 15%);
          }
        }
      }
    }
  }

  .email-body {
    padding: 5px;
  }

  .html-email-body {
    width: 100%;

    border: none;
  }

  .attachments {
    border: 1px solid @secondaryTextColor;
    border-radius: 5px;

    .title {
      font-size: 13px;
      display: block;
    }
  }

  .attachment {

    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;

    background-color: @primaryColor;
    color: @textPrimaryColor;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 5px;
    height: 64px;
    display: inline-block;
    width: 95%;
    max-width: 300px;

    .icon {
      position: absolute;
      top: 8px;
      left: 5px;
      width: 48px;
      height: 48px;
    }

    .metadata {
      overflow: hidden;
      color: rgba(255, 255, 255, 0.9);
      padding-top: 16px;
      padding-left: 55px;

      & > h2 {
        margin: 0;
        line-height: 100%;
        font-size: 14px;
        font-weight: 300;
        color: @textPrimaryColor;
      }

      & > small {
        margin-bottom: 2px;
        display: block;
      }

      & > h2,
      & > small {
        .text-overflow();
      }
    }

    &:before {
      .transition(width);
      .transition-duration(200ms);
      .backface-visibility(hidden);

      content: "";
      width: 0;
      height: 100%;
      background: rgba(0,0,0,0.1);
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      &:before {
        width: 58px;
      }
    }
  }
}
