@avatarSize: 70px;

.email-view {

  .card {
    .avatarify {
      .from, .to, .cc {
        .flex-start;
      }
    }

    &.isCollapsed {
      .from span.line-header,
      .to,
      .cc,
      .email-header-right .actions,
      .email-header-right .flex-space-between.horiz-space inbox-star,
      .email-body,
      .lv-footer {
        display: none;
      }
    }

    &:not(.isCollapsed) {
      .avatarify .preview {
        display: none;
      }
    }
  }

  .subject {
    color: @text-color;
  }

  .email-header {
    .flex-space-between;
    .SecondaryColor;

    padding: 10px;
    background-color: @lightenBgColor;
    border-bottom: 1px @body-bg solid;

    .sender-avatar {
      margin-right: 10px;

      img {
        width: @avatarSize;
        min-width: @avatarSize;
        height: @avatarSize;
      }
    }

    .avatarify {
      .flex-shorthand(1, 1);

      height: 100%;

      .preview {
        min-height: 20px;
        color: lighten(@secondaryTextColor, 20%);
      }
    }

    .line-header {
      margin-right: 5px;
      font-style: italic;
    }

    .email-header-right {
      .flex-column;
      .aligner-items-end;
      .flex-noshrink;

      .action-item {
        padding-left: 5px;

        & > a > .mdi {
          font-size: 2em;
          vertical-align: sub;
        }

      }
    }
  }

  .lv-footer {
    .flex();
    .flex-vertical-centered();
    .flex-space-between;

    padding: 15px 0 15px 0;
    border-top: 1px solid lighten(@m-gray, 25%);

    .action {
      .all-centered();
      .col-xs-4();

      height: 5em;

      & > a {
        .all-centered();
        .flex-column();

        color: @action-list-icon-color;
        cursor: pointer;
        .label {
          color: @action-list-icon-color;
          font-size: 120%;
        }

        & > i.mdi {
          font-size: 3.3em;
        }

        &:hover {
          color: @action-list-icon-color-dark;
          .label {
            color: @action-list-icon-color-dark;
          }
        }
      }
    }
  }

  .email-body {
    padding: 20px 15px;
    overflow: auto;
    min-height: 150px;
    -webkit-overflow-scrolling: touch;
  }

  .html-email-body {
    width: 100%;

    border: none;
  }

  .thread-header {
    .block-header;

    margin-bottom: 10px;

    .header-label {
      color: @m-gray;
      font-size: 18px;
      margin: 0;
      padding: 0 15px;
    }
  }

  .thread-title {
    padding: 10px;

    h4 {
      font-weight: 400;
    }
  }

  .card {
    margin-bottom: 0;
  }

}

@media (min-width: @screen-sm-min) {

  .email-view .card .avatarify{
    width: 75%;
  }

}
