ng-form(name="form")
  esn-form-group.lng-clock-picker-wrapper(label="{{::$ctrl.label}}")
    input.form-control(type="text", aria-expanded="false", ng-model="$ctrl.uiValue", ng-change="$ctrl.onChange()",
    placeholder="{{::$ctrl.placeholder}}", ng-blur="$ctrl.ngBlur", ng-disabled="$ctrl.ngDisabled",
    size="{{::$ctrl.size}}", lng-clockpicker, lng-clockpicker-options="{{::$ctrl.options}}")