.attendee-list-item.col-xs-1
  a.attendee-avatar(href="", ng-attr-title='{{::ctrl.attendee.name}}')
    esn-avatar(avatar-email="::ctrl.attendee.email", display-user-status="true")
    .checkbox(ng-if='!ctrl.readOnly && !ctrl.isOrganizer')
      label
        input.force-position-initial(type="checkbox", ng-if="!ctrl.attendee.clicked")
        input.force-position-initial(type="checkbox", ng-if="ctrl.attendee.clicked", checked)
        i.input-helper
    .organizer(ng-if='ctrl.isOrganizer')
      i.mdi.mdi-pencil