.btn-group
  button(type="button", class="btn dropdown-toggle btn-xs btn-primary", data-toggle="dropdown") {{attendee}}
    | &nbsp;
    span.caret &nbsp;
  ul.dropdown-menu(role="menu")
    li.pull-left
      a(href="/") #{__('Mute')}