sub-header
  view-email-subheader

.email-view
  .thread-header.visible-md
    .flex-start
      inbox-header-back-button
      .header-label {{ ::email.subject }}

  .thread-title.visible-xs
    h4 {{ ::email.subject }}
    
  email(email='email')
  inbox-email-footer(email='email')
