sub-header
  view-email-subheader

.email-view(ng-switch="ctrl.state")
  h4.thread-title {{ ::email.subject }}

  .inbox-list(ng-switch-when="ERROR")
    inbox-list-account-unavailable(account="::ctrl.account")
  div(ng-switch-default)
    email(email='::email')
    inbox-email-footer(email='::email')
inbox-fab.hidden-xs
