extends /modules/subheader/responsive-subheader

block left
  inbox-subheader-back-button

block right
  button.btn.btn-link.btn-icon.button.hidden-xs(ng-disabled="!email.previous", ng-click="ctrl.previous()", title="#{__('Previous')}")
    i.mdi.mdi-chevron-left
  button.btn.btn-link.btn-icon.button.hidden-xs(ng-disabled="!email.next", ng-click="ctrl.next()", title="#{__('Next')}")
    i.mdi.mdi-chevron-right
  inbox-subheader-delete-button(ng-click="ctrl.moveToTrash()")
  inbox-subheader-mark-as-unread-button(ng-click="ctrl.markAsUnread()")
  inbox-subheader-more-button(action-list="/unifiedinbox/views/email/view/action-list-subheader.html")
