sub-header(ng-if="!inbox.list.isElementOpened")
  unified-view-subheader

.inbox-list-preview-pane.ui-view(name="preview-pane", noanimation)
.inbox-list-sidebar.ui-view(name="sidebar", ng-class="{ offscreen : !inbox.rightSidebar.isVisible || inbox.list.isElementOpened }")

.inbox-list(ng-switch="ctrl.state", ng-class="{ 'has-sidebar-open': inbox.rightSidebar.isVisible }")

  inbox-list-account-unavailable(ng-switch-when="ERROR", account="::ctrl.account")

  .inbox-infinite-lis-container(ng-switch-default, ng-if="!inbox.list.isElementOpened")
    inbox-list-header(item="inboxList[ctrl.topIndex]", filters="filters")
    .inbox-infinite-list(md-virtual-repeat-container, md-top-index="ctrl.topIndex", ng-class="{ 'is-vacation-activated' : inbox.vacationActivated }")
      .inbox-items-group(md-virtual-repeat="item in inboxListModel", md-on-demand="true")
        .card.listview.lv-bordered.lv-lg
          .lv-body
            .lv-item.media.inbox-list-item
              ng-include(src="item.templateUrl")

      ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
        li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

      div(ng-if="infiniteScrollCompleted && inboxList.length === 0")
        inbox-empty-container-message

  inbox-fab
  fab-scroll-top
