extends /modules/subheader/responsive-subheader

block left
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-subheader-burger-button.hidden-md
      span.title.ellipsis {{ ::ctrl.resolvedContextName || "#{__('Unified Inbox')}" }}
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      button.btn.btn-link.btn-icon(href='', ng-click="ctrl.unselectAllItems()", title="#{__('Cancel')}")
        i.mdi.mdi-close
      span.title.extra-title.ellipsis #{__('%s selected', '{{ ctrl.getSelectedItems().length }}')}

block right
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-list-sidebar-attachment-button(ng-if="ctrl.contextSupportsAttachments")
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      inbox-subheader-delete-button(ng-click="ctrl.moveToTrash()")
      inbox-subheader-mark-as-read-button(ng-click="ctrl.markAsRead()")
      inbox-subheader-more-button(action-list="/unifiedinbox/views/unified-inbox/action-list.html")
