.listview.calendars-list
  cal-user-calendars-list(my-calendars="$ctrl.myCalendars", toggle-calendar="$ctrl.toggleCalendar", select-calendar="$ctrl.selectCalendar", hidden-calendars="$ctrl.hiddenCalendars")
