.listview.calendars-list {

  .fg-line {
    top: -6px;
  }

  i {
    font-size: 1.5em;
  }

  .calendar-item {

    &.calendar-header-title {
      margin-bottom: 5px;
      border-left: 3px solid @primaryColor;

      .media {
        margin-left: -12px;
        min-width: 240px;

        .pull-left .mdi {
          font-size: 20px;
          margin-top: 3px;
          margin-left: 8px;
          color: @secondaryTextColor;
        }

        .pull-left {
          padding-right: 0;
        }

        .media-body .lv-title {
          margin-left: 15px;
          font-size: 1.3em;
          font-weight: bold;
          color: @primaryColor;
        }
      }
    }

    &.calendar-header-title-desktop {
      margin-top: 15px;
      margin-bottom: 10px;
      border-left: 5px solid @primaryColor;

      .media {
        .flex-vertical-centered;

        margin-left: -12px;
        min-width: 240px;

        .calendar-item-left {
          padding-right: 0;

          .mdi {
            font-size: 35px;
            margin-top: -3px;
            color: @secondaryTextColor;
          }
        }


        .calendar-item-right .mdi {
          font-size: 25px;
          cursor: pointer;
          color: lighten(@secondaryTextColor, 10%);

          &:hover {
            color: darken(@secondaryTextColor, 20%);
          }
        }

        .media-body {
          .flex-grow;

          .lv-title {
            margin-left: 7px;
            font-size: 18px;
            font-weight: bold;
            color: @primaryColor;
          }
        }
      }
    }
  }

  .configuration-container {

    .configuration-button {
      margin-bottom: 5px;
    }

    hr {
      padding-bottom: 10px;
    }
  }
}
