div(ng-transclude infinite-scroll='loadMoreElements()', infinite-scroll-distance='{{infiniteScrollDistance}}',
infinite-scroll-disabled='{{infiniteScrollDisabled}}', infinite-scroll-immediate-check='{{infiniteScrollImmediateCheck}}')