div.col-md-12.panel.widget.esn-welcome
  .col-md-6.col-xs-12
    h3 Welcome to OpenPaas
    p We are proud to provide Linagora folks with this tests plateform. Use it, Share and above all let some feedbacks !
  .col-md-6.col-xs-12
    div.linagora-logo-container.text-center
      linagora-logo
  .clearfix
