
// Site Colors
// -----------

@grey: #eff0f4;
@light-grey: #f8f8f8;
@dark-grey: #adadad;
@blue: #4982eb;
@yellow: #eecb25;
@green: #abc85c;
@red: #bc015c;
@black: #232323;

@defaultRadius: 4px;
@defaultShadow: 1px 1px 0 #ddd;
@defaultFontColor: #343434;
@defaultBorderColor: #dce4e7;
@defaultBorder: solid @defaultBorderColor 1px;
@defaultFontSize: 13px;

@defaultImageSizeMedium: 48px;
@defaultImageSizeSmall: 24px;
@defaultImageSizeTiny: 20px;

@defaultPaddingButton: 2px 12px;

@site-background: @grey;
@header-background: @black;
@widget-background: @light-grey;
@inner-widget-background: #eeeeee;
@button-standard-background: @yellow;
@button-standard-boder-color: #ecc925;

// Site Rules
// ----------

body {
  background: @site-background;
}

.btn {
  padding: @defaultPaddingButton;
  font-size: @defaultFontSize;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.widget {
  background: @widget-background;
  border: @defaultBorder;
  .ResizeImage(@defaultImageSizeMedium, auto);
  .RoundedShape();
  .ShadowedShape();
  .btn-primary {
    background: @button-standard-background;
    border-color: @button-standard-boder-color;
    color: @defaultFontColor;
    .RoundedShape();
    .ShadowedShape();
  }
}

.inner-widget {
  background: @inner-widget-background;
  padding: 5px;
}

.thread {
  .media-object {
    margin: 5px;
  }
}

.media {
  .media {
    margin-top: 1px;
  }
}

.message-comment {
  .ResizeImage(@defaultImageSizeSmall, auto);
  .RoundedShape(0);

  span {
    display: none;
  }
}

.message-add-comment {
  margin-bottom: 15px;

  textarea {
    .RoundedShape(0);
  }
}

.message-bottom-links {
  .btn {
    padding: 0;
  }
  margin-bottom: 5px;
  li {
    padding-left: 0px;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

// Helpers
// -------

.RoundedShape(@radius:@defaultRadius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.ShadowedShape(@shadow:@defaultShadow){
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}

.ResizeImage(@width, @height) {
  img {
    width: @width;
    height: @height;
  }
}

.vertical-centered {
  vertical-align: middle;
}