@import "../styles.less";

// Site Colors
// -----------

@grey: #eff0f4;
@light-grey: #f8f8f8;
@dark-grey: #5C5C5C;
@blue: #4982eb;
@secondary-blue: #428BCA;
@yellow: #eecb25;
@green: #abc85c;
@red: #bc015c;
@secondary-red: #e40c24;
@black: #232323;

@defaultRadius: 4px;
@defaultShadow: 1px 1px 0 #ddd;
@defaultFontColor: #343434;
@defaultBorderColor: #dce4e7;
@defaultBorder: solid @defaultBorderColor 1px;
@defaultFontSize: 13px;

@defaultImageSizeBig: 150px;
@defaultImageSizeLarge: 96px;
@defaultImageSizeIntermediate: 72px;
@defaultImageSizeMedium: 48px;
@defaultImageSizeSmall: 32px;
@defaultImageSizeTiny: 20px;

@defaultPaddingButton: 2px 12px;

@site-background: @grey;
@header-background: @black;
@inner-widget-background: #eeeeee;
@button-standard-background: @yellow;
@button-standard-boder-color: #ecc925;

@widget-background: @light-grey;
@widget-my-communities-color: #ebb251;

// Site Rules
// ----------

body {
  background: @site-background;
}

.btn {
  padding: @defaultPaddingButton;
  font-size: @defaultFontSize;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.esn-panel {
  background: @widget-background;
  border: @defaultBorder;
  .ResizeImage(@defaultImageSizeMedium, auto);
  .RoundedShape();
  .ShadowedShape();
  .btn-primary {
    background: @button-standard-background;
    border-color: @button-standard-boder-color;
    color: @defaultFontColor;
    .RoundedShape();
    .ShadowedShape();
  }
  legend {
    .ResizeImage(@defaultImageSizeBig, auto);
  }
}

.esn-widget {
  background: @widget-background;
  border: @defaultBorder;
  .RoundedShape();
  .ShadowedShape();
}

.widget {
  padding-bottom: 10px;
  text-align: left;
  .title {
    padding: 10px 0px 0px 10px;
  }
  hr {
    border: 1px solid;
    margin: 10px;
  }
  ul li {
    .ResizeImage(@defaultImageSizeTiny, auto);
    img {
      margin-right: 5px;
    }
    a {
      padding: 0px 10px 0px 10px;
      color: @defaultFontColor;
      outline: none;
    }
    a:hover {
      border-left: 2px solid;
      border-radius: 0px;
    }
  }
  .badge {
    padding: 2px 4px;
    margin-top: 4px;
    color: @defaultFontColor;
    background-color: @yellow;
  }
  .list-community {
    hr {
      border-color: @widget-my-communities-color;
    }
    ul li a:hover {
      border-left-color: @widget-my-communities-color;
    }
  }
}

.inner-widget {
  background: @inner-widget-background;
  padding-top: 10px;
  padding-left: 5px;
}

.thread {
  padding: 10px;
  .media-body {
    >h4, >p, >ul {
      padding-left: 10px;
    }
  }
}

.media-body {
  overflow: inherit;
  @media (min-width: 992px) {
    overflow: hidden;
  }
  .media {
    margin-top: 0px;
    padding: 0;
  }
}

.media {
  .media {
    margin-top: 0px;
    padding: 0;
  }
  .media-body {
    overflow: inherit;
  }
  @media (min-width: 992px) {
    .media-body {
      overflow: hidden;
    }
  }
}

.message-comment {
  .ResizeImage(@defaultImageSizeSmall, auto);
  .RoundedShape(0);

  span.hideme {
    display: none;
  }
}

.message-add-comment {

  textarea {
    .RoundedShape(0);
  }

  .inner-widget {
    padding: 5px;
  }
}

.message-bottom-links {
  .btn {
    padding: 0;
  }
  margin-bottom: 5px;
  margin-left: 0px;
  li {
    padding-left: 0px;
  }
}

.esn-welcome-header {
  .container {
    .ShadowedShape(0 1px 0 @secondary-red);
  }
  @media (min-width: 992px) {
    margin-bottom: 100px;
  }
  img.logo {
    padding-top: 2px;
    padding-left: 4px;
  }
}

.esn-solid-background {
  margin: 10px auto; // top right bottom left
  max-width: 640px;
  .RoundedShape();
  .ShadowedShape();
}

.esn-welcome {
  .ResizeImage(@defaultImageSizeBig, auto);
}

.esn-conference-container {
  .container-fluid {
    padding: 0;
  }
}

.esn-home-container {
  .container-fluid {
    padding: 0px 10px 0px 10px;
  }
}

@media (min-width: @screen-md-min) {
  .esn-home-container {
    .container-fluid {
      padding: 0px 30px 0px 30px;
    }
  }
}

.esn-component-container {
  padding: 0;
}

.esn-member {
  .ResizeImage(@defaultImageSizeIntermediate, auto);
  .btn {
    width: 100%;
  }
  @media (min-width: 768px) {
    .ResizeImage(@defaultImageSizeLarge, auto);
    .btn {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .thumbnail {
      margin-bottom: 0;
    }
  }
}

.esn-community {
  .ResizeImage(100%, auto);
  .btn.btn-primary {
    width: 100%;
    margin-bottom: 20px;
  }
  .cancel-request-membership {
    text-align: center;
    >div {
      color: @dark-grey;
      font-style: italic;
    }
  }
  @media (min-width: 992px) {
    .ResizeImage(@defaultImageSizeBig, auto);
    .btn.btn-primary {
      margin-bottom: 30px;
    }
    .btn.btn-default {
      margin-top: 10px;
    }
    .thumbnail {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .esn-pull-right-md {
    float: right;
  }
}

.esn-search-form-input {
  .btn {
    padding: 7px 8px;
  }
}

.esn-conference-attendee {
  .ResizeImage(@defaultImageSizeMedium, auto);
  .btn {
    width: 100%;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media (min-width: 992px) {
    .ResizeImage(@defaultImageSizeMedium, auto);
    .btn {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.conference-user-control-bar {
  background-color: #1b1b1b;
  z-index: 3;
  padding: 0.8em;
  top: -5px;

  ul {
    margin:auto;
  }

  .fa-microphone-slash, .fa-eye-slash, .conference-toggle-invite-button:hover, .conference-toggle-video-button:hover, .conference-mute-button:hover {
    color: @yellow !important;
  }

  .conference-toggle-invite-button, .conference-mute-button, .conference-toggle-video-button, .conference-toggle-fullscreen-button {
    color: white;
    z-index: 3;
  }

  .conference-toggle-terminate-call-button {
    color: red;
    z-index: 3;
    .rotate(135deg);
  }

  .fa {
    margin-right: 15px;
  }
}

.row-attendees-bar {
  width: 100%;
  height: 20%;
  z-index: 3;
  @media (min-width: 768px) {
    position: absolute;
    bottom: 55px;
  }
}

.conference-attendees-bar {
  top: -5px;
  @media (min-width: 768px) {
    top: 0px;
  }
  background-color: @light-grey;
  background-color: rgba(27, 27, 27, 0.1);
  width: auto;
  height: 100%;
  padding: 0px;
  margin: 0px;
  white-space: pre-line;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  .content {
    width: auto !important;
    padding-left: 10px;
    padding-top: 5px;
    margin: 0;
    @media (min-width: 768px) {
      position: absolute;
      bottom: 0px;
    }
    li {
      display: table-cell;
      position: relative;
      list-style: none;
      padding-right: 5px;
    }
    .conference-mute-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.conference-video {
  height: 100%;
  position:relative;
  video.thumbhover {
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    opacity: 0.5;
  }
}

.conference-main-video-multi {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.conference-attendee-video-multi {
  width: auto;
  max-height: 100px;
  @media (min-width: 768px) {
    max-height: 105px;
  }
  @media (min-width: 992px) {
    max-height: 120px;
  }
  @media (min-width: 1200px) {
    max-height: 150px;
  }
}

.conference-attendee-name {
  color: white;
  margin: 0;
  @media (min-width: 768px) {
    width: 140px;
  }
  @media (min-width: 992px) {
    width: 160px;
  }
  @media (min-width: 1200px) {
    width: 200px;
  }
}

// Helpers
// -------

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.RoundedShape(@radius:@defaultRadius){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.ShadowedShape(@shadow:@defaultShadow){
  box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  -webkit-box-shadow: @shadow;
}

.ResizeImage(@width, @height) {
  img {
    width: @width;
    height: @height;
  }
}

.rotate(@degrees) {
  transform:rotate(@degrees);
  -ms-transform:rotate(@degrees); /* IE 9 */
  -webkit-transform:rotate(@degrees); /* Opera, Chrome, and Safari */
}

.vertical-centered {
  vertical-align: middle;
}

.contact-page {
  ul.contacts > li {
    transition: background-color 0.4s ease-in;
    -moz-transition: background-color 0.4s ease-in;
    -webkit-transition: background-color 0.4s ease-in;
    -ms-transition: background-color 0.4s ease-in;
  }
  .contact-select{
    background-color: @site-background;
  }
}

.profile-card {
  .widget();
  padding-top: 10px;
  box-shadow: none;
  .row {
    .row();
    padding: 2px;
  }
}

.profile-image {
  img {
    height: 175px;
    width: 175px;
  };
  .btn-primary {
    background: @button-standard-background;
    border-color: @button-standard-boder-color;
    color: @defaultFontColor;
    .RoundedShape();
    .ShadowedShape();
    margin: 10px;
  };
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
}

.community-members-widget {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  .title {
    padding: 10px 0px 0px 10px;
  }
  hr {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.community-membership-requests-widget {
  .community-members-widget();
  .btn-primary {
    background: @btn-primary-bg;
    border-color: @btn-primary-color;
    color: @btn-primary-color;
    .RoundedShape();
    .ShadowedShape();
  }
}

.community-member-avatar {
  .ResizeImage(100%, auto);
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;

  img {
    margin-right: 0px;
    border-radius: 2px;
  }
  a {
    color: @defaultFontColor;
    outline: none;
    opacity: 0.8;
    display: block;
  }
  a:hover {
    opacity: 1;
  }
  .creator {
    background-color: @secondary-blue;
    opacity: 0.9;
    bottom: 0px;
    display: inline-block;
    position: absolute;
    right: 0px;
    box-shadow: 0px 0px 15px -3px black;
    -webkit-box-shadow: 0px 0px 15px -3px black;
    -o-box-shadow: 0px 0px 15px -3px black;
    -ms-box-shadow: 0px 0px 15px -3px black;
    padding: 2px;
    font-size: 0.5em;
    .fa {
      margin-right: 0px;
      color: white;
    }
  }
}

@media(min-width: @screen-md-min) {
  .community-member-avatar .creator{
    font-size: 0.75em;
    padding: 3px;
  }
}

@media(min-width: @screen-lg-min) {
  .community-member-avatar .creator{
    font-size: 1em;
  }
}

.btn-square {
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 4px 0px 0px;
  margin-right: 0px;

  [class^="fa-"], [class*="fa-"] {
    margin-right: 0px;
  }
}
