esn-video-viewer {
  .videogular-container {
    width: 100%;
    margin: auto;
    overflow: hidden;

    videogular {

      vg-media {
        z-index: 14;
      }

      vg-controls {
        z-index: 15;
      }
      
      vg-overlay-play {
        display: block;
        z-index: 14;
      }

      vg-buffering {
        display: block;
        z-index: 13;
        
        .bufferingContainer {
          margin-top: -27px;
        }
      }
    }
  }
}
