.login-content
  .lc-block.zoomIn
    include ./welcome
    hr
    .confirm.alert.alert-success
      h4 #{__('Sign Up is almost complete')}.
      p #{__('Please check your email inbox to confirm your registration')}
