p.text-left
  | Please fill your email to recover your password
.input-group.m-b-20
  span.input-group-addon
    i.mdi.mdi-email
  .fg-line
    input.form-control(type='text', placeholder='Email Address')
a.btn.btn-login.btn-danger.btn-float(href='')
  i.mdi.mdi-arrow-right
