header.topbar.navbar.esn-welcome-header(role="navigation")
  .container
    a(href="#/")
      img.logo(src="/images/logo.png")
    div.pull-right.avatar
      div.dropdown
        button.btn-link.dropdown-toggle(type="button" id="userPreferencesMenu" data-toggle="dropdown")
          | Language: English
          span.caret
        ul.dropdown-menu.dropdown-menu-right(role="menu" aria-labelledby="userPreferencesMenu")
          li
            a(href='/#') Français
          li
            a(href='/#') English
