.container
  include ../../partials/flash
  .row
    .col-xs-12.col-sm-6
      include ./welcome
    .col-xs-12.col-sm-6
        div(esn-login-autofill ng-controller='login')
            include ../../login/partials/login
        div(ng-controller='signup')
            include ./signup
