.login-content(esn-login-autofill, ng-controller='login')

  .lc-block.zoomIn
    include ./welcome

    ul.tab-nav.tn-justified(class="tab-nav", tabindex="2")
      li(data-ng-click="tab(1);", ng-class="{active: isLogin}")
        a #{__('Login')}
      li(data-ng-click="tab(2);", ng-class="{active: isRegister}")
        a #{__('Register')}
    br
    .login(data-ng-if='!step || step === 1')
      include ../../modules/login/login
    .signup(ng-controller='signup' data-ng-if='step === 2')
      include ./signup
