.login-content(esn-login-autofill, ng-controller='login')

  .lc-block.zoomIn
    include ./welcome
    .btn-group.btn-group-justified
      .btn.btn-icon-text.btn-default(data-ng-click="login.step = 1") 
        i.mdi.mdi-login
        | #{__('Login')}
      .btn.btn-icon-text.btn-default(data-ng-click="login.step = 2")
        i.mdi.mdi-account-plus
        | #{__('Register')}
    hr
    .login(data-ng-if='!login.step || login.step === 1')
      include ../../modules/login/login
    .signup(ng-controller='signup' data-ng-if='login.step === 2')
      include ./signup

