form(name='form', ng-submit='signup()')
  .input-group.m-b-20
    span.input-group-addon
      i.mdi.mdi-account
    .fg-line
      input.form-control(type='text', ng-model='settings.firstname', name='firstname', id='firstname', placeholder="#{__('First Name')}", required, esn-track-first-blur)
  .input-group.m-b-20
    span.input-group-addon
      i.mdi.mdi-account
    .fg-line
      input.form-control(type='text', ng-model='settings.lastname', name='lastname', id='lastname', placeholder="#{__('Last Name')}", required, esn-track-first-blur)
  .input-group.m-b-20
    span.input-group-addon
      i.mdi.mdi-email
    .fg-line
      input.form-control(type='email', ng-model='settings.email', name='email', placeholder="#{__('Email')}", autofocus=true, required, esn-track-first-blur)
  .clearfix
  button.btn.btn-login.btn-danger.btn-float(type='submit', ng-disabled='signupTask.running')
    i.mdi.mdi-arrow-right