.welcome
  img.hidden-sm.hidden-md.hidden-lg.welcome-logo(src="/images/gainde2000-white-logo.png", alt='#{__("OpenPaas Logo")}')
  h4 #{__('Communicate, exchange, share documents, agendas and contacts with your team.')}
