.welcome
  .col-md-2.hidden-md.hidden-lg
    img(src="/images/logo.png")
  hr.hidden-md.hidden-lg
  .col-md-8
    h2 #{__('Welcome to OpenPaas')}
    h4 #{__('Communicate, exchange, share documents, agendas and contacts with your team.')}
  .col-md-2.hidden-sm.hidden-xs
    img(src="/images/community.png")
  .clearfix
