.welcome
  img.hidden-sm.hidden-md.hidden-lg.welcome-logo(src="/images/white-logo.svg", alt=__("OpenPaaS Logo"))
  h4 #{__('Communicate, exchange, share documents, agendas and contacts with your team.')}
