div.col-md-12.panel.widget.esn-welcome
  .col-md-7
    h3 #{__('Welcome to OpenPaas')}
    p #{__('Communicate, exchange, share documents, agendas and contacts with your team.')}
  .col-md-5.hidden-xs
    img(src="/images/user.png")
  .clearfix