div
  .row
    .col-xs-12
      event-button-create(user='user')
  .vertiz-space
  .row
    .col-xs-12
      span {{alertMessage}}
  .vertiz-space
  .row
    .col-xs-12
      div(ui-calendar="uiConfig.calendar" class="calendar" ng-model="eventSources" calendar="userCalendar")

