div
  .row
    .fab.fab-fixed-bottom
      event-button-create(user='user')
  .row
    .col-xs-12
      span {{alertMessage}}
  .vertiz-space
  .row
    .col-xs-12
      calendar-display(calendar-id='calendarId', ui-config='uiConfig')
