.container
  .row.container-title
    h2 #{__('My Calendar')}
    .fab.fab-fixed-bottom
      event-button-create(user='user')

  .row.container-main-content
    .col-xs-12.contacts
      .row
        calendar-display(calendar-id='calendarId', ui-config='uiConfig')
