.container
  .row.container-title
    h2
      span(ng-click='toggleCalendarPath()') #{__('My Calendar')}
      span.small(ng-show='showCalendarPath') &nbsp;&nbsp;&nbsp;{{calendarPath}}
    .fab.fab-fixed-bottom
      event-button-create(user='user')

  .row.container-main-content
    .col-xs-12.contacts
      .row
        calendar-display(calendar-id='calendarId', ui-config='uiConfig')
