.calendars-list-item
  a.lv-item
    .media.row
      .col-md-10
        .media(ng-click="$ctrl.onShowHideToggle()")
          .pull-left(ng-if="$ctrl.selected", title="#{__('Hide calendar')}")
            i.mdi.mdi-checkbox-marked-outline(ng-style="{'color': $ctrl.calendar.color}")
          .pull-left(ng-if="!$ctrl.selected", title="#{__('Show calendar')}")
            i.mdi.mdi-checkbox-blank-outline
          .media-body(title="{{ $ctrl.calendar.name }}")
            .lv-title
              span {{ $ctrl.calendar.name }}
            .owner-name(ng-if="$ctrl.ownerDisplayName")
              span {{ ::$ctrl.ownerDisplayName }}
      .col-md-2.hidden-xs(title="#{__('Configuration')}", ng-click="$ctrl.onOptionClick()")
        i.mdi.mdi-settings
