<p>
  Hi <%= firstname %> <%= lastname %>,
</p>
<p>
  A new message is available in the ESN:

  <pre>
  <%= message %>
  </pre>
</p>

Sincerely,
The OpenPaas Team!

<footer>
  Reply to this email directly to answer the message or view it directly <a href="<%= url %>">here</a>.
</footer>