sub-header
  composer-subheader

form.form-horizontal.compose.ng-cloak(sub-header-aware)

  .compose-header
    .fields
      .form-group
        label.control-label #{__('To')}
        recipients-auto-complete(ng-click='openRecipients("to")', ng-model="email.to", template="fullscreen-recipients-auto-complete")
      .form-group(ng-if="!isCollapsed")
        label.control-label #{__('CC')}
        recipients-auto-complete(ng-click='openRecipients("cc")', ng-model="email.cc", template="fullscreen-recipients-auto-complete")
      .form-group(ng-if="!isCollapsed")
        label.control-label #{__('BCC')}
        recipients-auto-complete(ng-click='openRecipients("bcc")', ng-model="email.bcc", template="fullscreen-recipients-auto-complete")
    .more-recipients(ng-class="{ 'isCollapsed': isCollapsed }")
      span(ng-click="isCollapsed = !isCollapsed")
        i.mdi(ng-class="isCollapsed ? 'mdi-chevron-down' : 'mdi-chevron-up'")

  input.form-control.compose-subject(type="text", placeholder="#{__('Subject')}", ng-model="email.subject")

  email-body-editor
  composer-attachments
