tags-input(ng-model='tags', fullscreen-edit='/unifiedinbox/views/composer/recipients-auto-complete.html', empty-placeholder='#{__("Tap to edit")}', non-empty-placeholder='#{__("Edit")}', placeholder="{{ dynamicPlaceholder }}", display-property='displayName', key-property='email', replace-spaces-with-dashes='false')
  auto-complete(source='search($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/attendees.html")
