.action-list(ng-click='$hide(); $event.stopPropagation()')
  .action
    a.flex-vertical-centered(ng-click="destroyDraft()", ng-disabled="isSendingMessage")
      i.mdi.mdi-delete
      span.label #{__('Delete')}