tags-input(ng-model='tags', display-property='displayName', key-property='email', placeholder="#{__('Start typing...')}", replace-spaces-with-dashes='false')
  auto-complete(source='search($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/attendees.html")
