tags-input.inbox-tags-input(ng-model='tags', display-property='name', key-property='email', placeholder="#{__('Start typing...')}", replace-spaces-with-dashes='false', on-tag-adding="onTagAdding($tag)", on-tag-added="onTagAdded($tag)", type='email')
  auto-complete(source='search($query)', min-length='1', debounce-delay='200', max-results-to-show= '20', template="/views/modules/auto-complete/attendees.html")
