.inbox-subheader.composer
  .row
    inbox-subheader-close-button(ng-click='close()')
    .button.submit
      button.attach.btn-link(type="button")
        i.mdi.mdi-paperclip
      a.send(href='', ng-click='send()')
        | #{__('Send')}
        i.mdi.mdi-send.m-l-5.m-r-5
