.inbox-subheader.composer
  .row
    inbox-subheader-close-button(ng-click='close()')
    .button.submit
      button.action.btn.btn-link(feature-flag="linagora.esn.unifiedinbox.composer.attachments", type="button", ng-file-select="ctrl.onAttachmentsSelect($files)", data-multiple="true", ng-disabled="isSendingMessage")
        i.mdi.mdi-paperclip
      button.action.btn.btn-link(ng-click='destroyDraft()', ng-disabled="isSendingMessage")
        i.mdi.mdi-delete
      button.action.send.btn.btn-link(ng-click='send()', ng-disabled="isSendingMessage")
        | #{__('Send')}
        i.mdi.mdi-send.m-l-5.m-r-5
