div(ng-transclude, ng-class="{ 'is-empty': isEmpty }", infinite-scroll='loadMoreElements()', infinite-scroll-listen-for-event='{{ infiniteScrollListenForEvent }}',  infinite-scroll-distance='infiniteScrollDistance', infinite-scroll-disabled='infiniteScrollDisabled', infinite-scroll-immediate-check='{{ infiniteScrollImmediateCheck }}', infinite-scroll-container='infiniteScrollContainer')
