div.inner-widget.media.message-comment(ng-repeat='response in message.responses')
  message-template-displayer(message='response', activitystream-uuid='activitystreamUuid')
div.media.message-add-comment(data-ng-if='writable && parentMessage')
  whatsup-add-comment
