a.message-date(href="/#messages/{{message._id}}/activitystreams/{{activitystream.activity_stream.uuid}}" title="{{::message.published | amDateFormat:'MMM D YY, h:mm a'}}")
  small(am-time-ago="message.published")
