ul.message-bottom-links.list-inline
  li.pull-right(ng-show='::writable')
    share-message-button(share="share()")
  li.pull-right(ng-show='::writable')
    button.btn.btn-link(type='button')
      span.hideme.hidden-sm.hidden-xs #{__('Comment')} &nbsp;
      i.fa.fa-comment
  li.pull-right(ng-show='::writable')
    button.btn.btn-link(type='button')
      span.hideme.hidden-sm.hidden-xs #{__('Useful')} &nbsp;
      i.fa.fa-thumbs-up
  .clearfix
