ul.actions
  li(ng-show='::writable')
    share-message-button(share="share()")
  li(ng-show='::writable')
    a(ng-href="")
      i.mdi.mdi-comment
  li(ng-show='::writable')
    like-button(target-object-type='"esn.message"', target-id='message._id', liked='message.liked')
  li
    a(ng-href="")
      i.mdi.mdi-dots-vertical
  .clearfix
