ul.actions
  li(ng-show='::writable')
    share-message-button(share="share()")
  li(ng-show='::writable')
    a(ng-href="")
      i.mdi.mdi-comment
  li(ng-show='::writable')
    a(ng-href="")
      i.mdi.mdi-thumb-up
  li
    a(ng-href="")
      i.mdi.mdi-dots-vertical
  .clearfix
