div
  div.media(ng-repeat='response in message.responses')
    message-template-displayer(message='response', activitystream='activitystream')
  div.media(data-ng-if='writable && parentMessage')
    whatsup-add-comment
