ul.list-inline
  li.pull-right(ng-show='::writable')
    share-message-button(share="share()")
  li.pull-right(ng-show='::writable')
    button.btn.btn-link(type='button')
      span.hidden-sm.hidden-xs #{__('Comment')} &nbsp;
      i.mdi.mdi-comment
  li.pull-right(ng-show='::writable')
    button.btn.btn-link(type='button')
      span.hidden-sm.hidden-xs #{__('Useful')} &nbsp;
      i.mdi.mdi-thumb-up
  .clearfix
