form(ng-submit='accept()')
  .container
    .row.container-title
      h2 {{contact.displayName}}
    .row.container-main-content
      .row.actions-top
        button.btn.btn-default.btn-raised.btn-cancel(type='button', ng-click='close()') #{__('Cancel')}
        button.btn.btn-primary.btn-raised #{__('Save')}
      .row
        contact-display-editable(contact='contact')
