.col-xs-12.esn-panel.contact-panel
  .vertiz-space
  .row
    span.contact-heading
      i.fa.fa-user
      | #{__('Contacts')}
      a.btn.icon-btn.fa.fa-plus.addcontact-btn(type='button', ng-href='#/contacts/new/{{bookId}}')

    .vertiz-space

  .row
    .col-xs-11
      .row(id="contactletter_{{letter}}" ng-repeat="(letter, contacts) in sorted_contacts")
          h2.letter_divider {{letter}}
          .row(ng-repeat="contact in contacts")
            hr
            contact-list-item
        .vertiz-space
    .col-xs-1
      ul.alphascroll
        li(ng-repeat="letter in categories")
          a(ng-click="scrollToCategory(letter)") {{letter}}