.contacts-list.col-xs-12
  fab(ng-click='openContactCreation()')

  .contacts-header.hidden-xs
    contact-list-header

  .contacts-body.p-t-15
    .row
      .col-xs-12
        .contact-error-container
    .row
      .col-xs-12(infinite-scroll='scrollHandler()' infinite-scroll-distance='1' infinite-scroll-disabled='loadingNextContacts || searchFailure || lastPage')
        contact-list-displayer
        .text-center
          div.throbber(openpaas-logo-spinner, spinner-key='contactListSpinner')
