form(ng-submit='accept()')
  .container
    .row.container-title
      h2 #{__('Create a new contact')}
    .row.container-main-content
      .row.actions-top
        button.btn.btn-default.btn-raised.btn-cancel(type='button', ng-click='close()') #{__('Cancel')}
        button.btn.btn-primary.btn-raised #{__('Create')}
      .row
        contact-display(contact='contact')
