.card(ng-submit='accept()')
  .card-header.contact-header
    .row
      .col-xs-8
        h1 {{contact.displayName}}
      .col-xs-4
        .contact-buttons
          button.btn.btn-default(type='button', ng-click='close()')
            | #{__('Back')}
  .card-body.card-padding
    .contact-error-container
    contact-display(contact='contact', update='true', modify='modify')
