.container
  .row.container-title
    h2
      span(ng-click='toggleContactPath()') #{__('My Contacts')}
      span.small(ng-show='showContactPath') &nbsp;&nbsp;&nbsp;{{contactPath}}
    fab.fab-fixed-bottom(type='create', on-click='openContactCreation()')

  .row.container-main-content
    .col-xs-12.contacts
      .row.search
        input(type="text")
      .row
        contact-list-card(ng-repeat="contact in contacts" contact='contact', book-id="bookId")