form.col-xs-12.esn-panel.contact-display-panel(ng-submit='accept()')
  .vertiz-space
  .row
    .col-sm-7
      span.contact-heading
        | #{__('Create New Contact')}
    .col-sm-5.action-bar
      button.btn.btn-primary.btn-flat.accept-btn
        i.mdi-action-done
      button.btn.btn-primary.btn-flat.starred-btn(type='button', ng-click='contact.starred = !contact.starred')
        i.mdi-action-grade(ng-class='{ checked: contact.starred }')
      button.btn.btn-primary.btn-flat.cancel-btn(type='button', ng-click='close()')
        i.mdi-content-clear
  contact-display(contact='contact')
