.col-xs-12.esn-panel.contact-panel
  .row
    span.contact-heading
      i.fa.fa-user
      | #{__('Contacts')}
      a.btn.icon-btn.fa.fa-plus.addcontact-btn(type='button', ng-href='#/contacts/new/{{bookId}}')

  .row
    .col-xs-11.nopadding
      .row(id="{{prefix}}{{letter}}" ng-repeat="(letter, contacts) in sorted_contacts")
        .row(ng-if='contacts && contacts.length')
          h2.letter_divider {{letter}}
          .row(ng-repeat="contact in contacts")
            hr
            contact-list-item
        .vertiz-space
    .col-xs-1
      alpha-menu(keys="keys", prefix="prefix")