.row.panel-header.contact-list-mobile
    .contact-controls
      button.btn.btn-default(type='button', ng-click='back()')
        i.fa.fa-reply.controls-fa
      a(ng-href='#/contact/mobile/edit/{{::bookId}}/{{::contact.id}}')    
        button.btn.btn-default(type='button')
          i.fa.fa-pencil.controls-fa
      button.btn.btn-default(type='button')
        i.fa.fa-search.controls-fa
      .contact-dropdown.dropdown.pull-right         
        a.moreactions.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
          i.fa.fa-ellipsis-h.controls-fa
        ul.dropdown-menu.dropdown-menu-right(role="menu")
          li
            a(ng-click="deleteContact()") Delete       
    img.full-width(ng-src='{{contact.photo || defaultAvatar}}')
.row.create-content
  .contact-error-container
  .vertiz-space
    div.contact-fn
      span.contact-heading-mobile
        | {{contact.displayName}}
    div(ng-repeat='tel in contact.tel track by $index')      
      a(ng-href='tel:{{tel.value}}')
        button.btn.btn-default.contact-card(type='button')
            i.fa.fa-whatsapp.contact-card-fa
            p.contact-card-infos {{tel.value}}
            p.contact-card-type {{tel.type}}
    div(ng-repeat='email in contact.emails track by $index')      
      a(ng-href='mailto:{{email.value}}')        
        button.btn.btn-default.contact-card(type='button')
            i.fa.fa-at.contact-card-fa
            p.contact-card-infos {{email.value}}
            p.contact-card-type {{email.type}}  
    button.btn.btn-default.contact-card(type='button' ng-repeat='social in contact.social track by $index')
        i.fa.fa-group.contact-card-fa
        p.contact-card-infos {{social.value}}
        p.contact-card-type {{social.type}}        
    a(target="_blank" ng-href='{{contact.orgUri}}')  
      button.btn.btn-default.contact-card(ng-if='contact.orgUri')
        i.fa.fa-globe.contact-card-fa
        p.contact-card-infos {{contact.orgUri}}
        p.contact-card-type Website          
    button.btn.btn-default.contact-card(ng-repeat='address in contact.addresses track by $index')
        i.fa.fa-map-marker.contact-card-fa   
        .contact-card-infos 
          p {{address.street}}
          p {{address.zip}} {{address.city}}
          p {{address.country}}
          p.contact-card-type {{address.type}}
    button.btn.btn-default.contact-card(ng-if='contact.org[0] || contact.orgRole')
        i.fa.fa-suitcase.contact-card-fa
        p.contact-card-infos(ng-if='contact.org[0]') {{contact.org[0]}}
        p.contact-card-infos(ng-if='contact.orgRole') {{contact.orgRole}}
    button.btn.btn-default.contact-card.tags(type='button' ng-if='contact.tags.length!=0')
        i.fa.fa-tags.contact-card-fa
        ul.tag-list.contact-card-infos
          li.tag-item(ng-repeat='tag in contact.tags track by $index') {{tag.text}}     
    button.btn.btn-default.contact-card(ng-if='contact.firstName || contact.lastName || contact.nickname')
        i.fa.fa-user.contact-card-fa
        p.contact-card-infos(ng-if='contact.firstName') First name: {{contact.firstName}}
        p.contact-card-infos(ng-if='contact.lastName') Last name: {{contact.lastName}}
        p.contact-card-infos(ng-if='contact.nickname') Nickname: {{contact.nickname}}
    button.btn.btn-default.contact-card(ng-if='formatedBirthday')
        i.fa.fa-birthday-cake.contact-card-fa
        p.contact-card-infos {{formatedBirthday}}
    .contact-card.contact-card-comments(ng-if='contact.notes')
        i.fa.fa-align-left.contact-card-fa
        p.contact-card-infos {{contact.notes}}        
