.esn-panel.main-panel
  .row.panel-header-no-button
    .col-xs-12.panel-title
      span.contact-heading #{__('Contacts')}
      fab.fab-fixed-bottom(type='create', on-click='openContactCreation()')

  .row.panel-content
    .row.col-xs-12.search
      contact-search-form

    .contact-error-container
    .col-xs-11
      .row(data-contact-index="{{letter}}" ng-repeat="(letter, contacts) in sorted_contacts" on-finish-render)
        .row(ng-if='contacts && contacts.length')
          h2.hidden-xs {{letter}}
          h4.visible-xs {{letter}}
          .row(ng-repeat="contact in contacts")
            hr.hidden-xs
            contact-list-item(contact='contact', book-id="bookId")
    .col-xs-1.nopadding.hidden-xs-height
      alpha-menu(ng-if="showMenu" keys="keys", prefix="prefix")
