sub-header
  contact-edit-subheader.hidden-md

.col-xs-12.col-md-10.no-padding-xs(sub-header-aware)
  .card-contact
    .contact-header.m-b-10.flex-space-between.hidden-xs
      button.btn.btn-default.btn-icon-before(esn-back-button='/contact')
        i.mdi.mdi-reply
        | #{__('Cancel')}
      .header-label #{__('Edit contact')}
      ul.actions.flex-space-around
        li.contact-dropdown.dropdown
          a(href='', data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
            i.mdi.mdi-dots-vertical
          ul.dropdown-menu.dropdown-menu-right
            li
              a(ng-click="deleteContact()") #{__('Delete')}
        li
          button.btn.btn-primary.btn-icon-before(ng-disabled='calling || !loaded', type='button', ng-click='save()')
            i.mdi.mdi-pencil
            | #{__('Save')}

  .card(ng-submit='accept()')
    .card-body.card-padding.contact-body
      .contact-error-container
      contact-edition-form(ng-if='loaded && !error', contact='contact', contact-state='edit')
