.card(ng-submit='accept()')
  .card-header.contact-header
    .row
      .col-xs-8
        h1 #{__('Create a new contact')}
      .col-xs-4
        .contact-buttons
          button.btn.btn-default(type='button', ng-click='close()')
            | #{__('Cancel')}
          button.btn.btn-primary(ng-disabled='calling', type='button', ng-click='accept()')
            | #{__('Create')}
  .card-body.card-padding
    .contact-error-container
    contact-display(contact='contact', update='true', modify='modify')
