.card(ng-submit='accept()')
  .card-header
    .row
      .col-sm-7.col-xs-12
        h1 {{contact.displayName}}
      .col-sm-5.col-xs-12
        .contact-buttons
          button.btn.btn-warning.btn-lg(type='button', ng-click='close()')
            i.mdi.mdi-arrow-left
            | #{__('Back')}  
  .card-body.card-padding
    .contact-error-container
    contact-display(contact='contact', update='true', modify='modify')
