sub-header
  contact-list-subheader

.contacts-list
  fab.contact-fab(ng-if='canCreateContact', ng-click='openContactCreation()')

  .contacts-body.p-t-15
    .row
      .col-xs-12.col-md-8
        .contact-error-container
    .row
      .col-xs-12(infinite-scroll='scrollHandler()' infinite-scroll-distance='1' infinite-scroll-disabled='loadingNextContacts || searchFailure || lastPage')
        contact-list-displayer(ng-if='categories.getNumberOfItems() > 0')
        .text-center
          div.throbber(openpaas-logo-spinner, spinner-key='contactListSpinner')
    .empty-message(ng-if='categories.getNumberOfItems() === 0 && !loadingNextContacts')
      img(src="/contact/images/contacts-icon.svg")
      .message
        | #{__('No contact')}
