sub-header
  contact-create-subheader.hidden-md

.col-xs-12.col-md-10.no-padding-xs(sub-header-aware)
  .card-contact
    .contact-header.m-b-10.flex-space-between.hidden-xs
      button.btn.btn-default.btn-icon-before(type='button', ng-click='close()')
        i.mdi.mdi-reply
        | #{__('Cancel')}
      .header-label #{__('Create a new contact')}
      ul.actions.flex-space-around
        li
          button.btn.btn-primary(ng-disabled='calling', type='button', ng-click='accept()')
            i.mdi.mdi-pencil
            | #{__('Create')}

  .card(ng-submit='accept()')
    .card-body.card-padding
      .contact-error-container
      contact-edition-form(contact='contact', book-name='bookName', contact-state='new')
