form.esn-panel.main-panel(ng-submit='accept()')
  .row.panel-header
    .col-sm-7.col-xs-12.panel-title
      span.contact-heading
        | {{contact.displayName}}
    .col-sm-5.col-xs-12.action-bar
      button.btn.btn-default.btn-raised.btn-cancel(type='button', ng-click='close()') #{__('Cancel')}
      button.btn.btn-primary.btn-raised(type="submit" ng-disabled='calling') #{__('Update')}
  .row.create-content
    .contact-error-container
    .vertiz-space
      contact-display(contact='contact', update='true', modify='modify')
