div(ng-show='position.show')
  div(ng-show='position.load')
    i.fa.fa-spinner.fa-spin
    small #{__('Getting position...')}
  div.ellipsis(ng-controller='whatsupMapController' ng-hide='position.load')
    a.map(href='', ng-click='removePosition()')
      i.fa.fa-remove
    a.map(href='', ng-show='position', ng-click='toggleMapDisplay(position)')
      i.fa.fa-map-marker
      span(ng-show="position.message") #{__('Near')} {{position.message}}
      span(ng-show="!position.message") #{__('Near')} {{position.coords | json}}
    leaflet(ng-if="showMeMap", markers="markers", center="center", height="200px", width="100%")