[Unit]
Description=OpenPaaS ESN

[Service]
ExecStart=/usr/bin/node /usr/share/openpaas/server.js
WorkingDirectory=/usr/share/openpaas
LimitNOFILE=4096
StandardOutput=null
User=openpaas
Group=openpaas
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
