.is-empty
  .inbox-empty-container-message.inbox-error-message
    .message
      .inbox-empty-icon.mdi.mdi-alert-circle
      .message #{__('Your account %s is currently unavailable.', '{{ ::account.name }}')}
      inbox-home-button
