.inbox-empty-container-message(ng-switch="isFilteringActive()")

  .message(ng-switch-when="true")
    .inbox-empty-icon.mdi.mdi-filter-remove-outline
    .message #{__('There is nothing to display')}
    .message
      | #{__('Your active filter is too restrictive.')}
      inbox-clear-filters-button

  .message(ng-switch-when="false")
    ng-include(src="containerTemplateUrl")
