.row
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-alarm
        .fg-line.select
          select.form-control(
            ng-model="ctrl.trigger",
            ng-disabled="!ctrl.canModifyEvent",
            ng-options="item.value as (item.label | esnI18n) for item in ctrl.CAL_ALARM_TRIGGER",
            ng-change="ctrl.setEventAlarm()")
