ng-form(name="form")
  p.text-muted #{__('Choose your working hours')}
  .row
    .col-xs-6
      esn-clock-picker(ng-model="$ctrl.display.start", ng-change="$ctrl.onStartChange()", options="{twelvehour: false}", label="Starts at")
    .col-xs-6
      esn-clock-picker(ng-model="$ctrl.display.end", ng-change="$ctrl.onEndChange()", options="{twelvehour: false}", label="Ends at")
