sub-header
  edit-folder-subheader

.inbox-main-content.configuration.card
  form
    .form-group.fg-line
      .field-name #{__('Rename')}
      input.form-control(ng-model="mailbox.name")
    .form-group.fg-line.select
      .field-name #{__('Is located under')}
      select.form-control(ng-model="mailbox.parentId", ng-options="box.id as box.qualifiedName for box in mailboxes | inboxFilterDescendantMailboxes: mailbox.id | orderBy: ['level', 'name']")
        option(value="") #{__('Unified Inbox')}

    button.submit.btn.btn-primary(href='', ui-sref='.delete') #{__('Delete this folder')}
