extends /modules/subheader/responsive-subheader

block left
  inbox-subheader-close-button
  span.title.ellipsis.extra-title
    | {{ ::mailbox.name }}

block right
  inbox-subheader-save-button(esn-submit="editFolder()")
