extends ../../../layout/responsive-subheader

block left
  inbox-subheader-close-button(ui-sref='unifiedinbox.configuration.folders')
  span.title.ellipsis.extra-title
    | {{ ::mailbox.name }}

block right
  inbox-subheader-save-button(esn-submit="editFolder()")
