.inbox-subheader.configuration.add-folder.row
  inbox-subheader-close-button(ui-sref='unifiedinbox.configuration')
  button.btn.btn-link.submit.button(esn-submit='editFolder()')
    span #{__('Save')}
    i.mdi.mdi-check
