.calendars-configuration {
  hr {
    border-color: @secondaryTextColor;
  }

  &.card {
    .mdi {
      font-size: 1.3em;
      vertical-align: bottom;
      margin-right: 5px;
      color: @secondaryTextColor;
    }

    .no-padding .lv-item {
      padding: 0;
      margin-bottom: 10px;

      span {
        color: @secondaryTextColor;
      }
    }

    .calendars-configuration-title {
      span.name {
        font-size: 1.1em;
        font-weight: bold;
        color: @primaryColor;
      }

      .mdi-calendar {
        color: @secondaryTextColor;
        font-size: 25px;
      }
    }
  }
}