a.attendee-avatar(href="", ng-attr-title='{{::attendee.name}}')
  img(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/avatars?email={{attendee.email|urlencode}}')
  .checkbox(ng-if='!readOnly')
    label
      input.force-position-initial(type="checkbox", ng-if="!attendee.clicked")
      input.force-position-initial(type="checkbox", ng-if="attendee.clicked", checked)
      i.input-helper
