.attendee-list-item.col-xs-12.col-sm-4
  .col-xs-2
    a.attendee-avatar(href="", ng-attr-title='{{::vm.attendee.name}}')
      img(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/avatars?email={{vm.attendee.email|urlencode}}')
    .organizer(ng-if='vm.isOrganizer')
      i.mdi.mdi-pencil
  .ellipsis.col-xs-8
    span {{::vm.attendee.name}}
  .col-xs-2
    a.attendee-send-email(ng-if='vm.composerExists', ng-href="mailto:{{::vm.attendee.email}}" op-inbox-compose op-inbox-compose-display-name="{{::vm.attendee.name}}")
        i.mdi.mdi-email
