div
  attendee-list-item-edition(ng-if="mode === 'edition'", attendee='attendee', read-only='::readOnly')
  attendee-list-item-consult(ng-if="mode === 'consult'", attendee='attendee', read-only='::readOnly')
