.listview.p-t-5.calendars-list
  .lv-header
    a.visible-xs.pull-right(href="", ui-sref="calendar.editCalendarList", ng-click='onEditClick()')
      i.mdi.mdi-settings
    a.hidden-xs.pull-right(href="", ui-sref="calendar.add")
      i.mdi.mdi-plus
    .lv-header-title Calendars
    .clearfix
  .lv-body
    .p-10
      a.lv-item(href="", ng-repeat="calendar in calendars")
        .media
          .pull-left(ng-click="toggleCalendar(calendar)")
            i.mdi.mdi-label(ng-style="{'color': calendar.color}")
          .pull-left(ng-if="calendar.toggled", ng-click="toggleCalendar(calendar)")
            i.mdi.mdi-checkbox-marked-outline
          .pull-left(ng-if="!calendar.toggled", ng-click="toggleCalendar(calendar)")
            i.mdi.mdi-checkbox-blank-outline
          .pull-right.hidden-xs(ui-sref='calendar.edit({id: calendar.id})' ui-sref-opts='{id: calendar.id}')
              i.mdi.mdi-settings
          .media-body(ng-click="toggleCalendar(calendar)")
            .lv-title
              span {{calendar.name}}
