.modal.calendar-color-picker
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('Pick a color')}
      .modal-body
        .square-box(ng-repeat="color in vm.colorKeys", class="{{color}}", ng-class="{selected: vm.isSelected(color)}", ng-click="vm.select(color)")
          .color-box(ng-style="{'background-color': vm.CALENDAR_LIST_OF_COLORS[color]}")
      .modal-footer
        button.btn.btn-default(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-danger(type="button", ng-click="vm.set(); $hide()") #{__('Set')}
