.listview.calendars-list
  .lv-body
    .lv-item.calendar-item.calendar-header-title.hidden-xs
      .media
        .pull-left
          i.mdi.mdi-calendar
        .pull-right(ui-sref="calendar.add")
            i.mdi.mdi-plus
        .media-body
          .lv-title Calendars
    a.lv-item.calendar-item(href="", ng-repeat="calendar in calendars track by calendar.id", ng-class="{'selected-calendar': calendar.selected}")
      .media
        .pull-left(ng-if="!hiddenCalendars[calendar.id]", ng-click="toggleCalendar(calendar)")
          i.mdi.mdi-checkbox-marked-outline(ng-style="{'color': calendar.color}")
        .pull-left(ng-if="hiddenCalendars[calendar.id]", ng-click="toggleCalendar(calendar)")
          i.mdi.mdi-checkbox-blank-outline
        .pull-right.hidden-xs(ui-sref='calendar.edit({id: calendar.id})' ui-sref-opts='{id: calendar.id}')
            i.mdi.mdi-settings
        .media-body.hidden-lg(ng-click="toggleCalendar(calendar)")
          .lv-title
            span {{calendar.name}}
        .media-body.visible-lg-block(ng-click="selectCalendar(calendar)")
          .lv-title
            span {{calendar.name}}
    .configuration-container.visible-xs
      hr
      .lv-item.clickable.configuration-button(href="", ui-sref="calendar.list", ng-click='onEditClick()')
        i.mdi.mdi-settings
        | #{__('Configuration')}
