.row.event-alarm-consultation
  .col-xs-12
    .flex-start.flex-vertical-centered
      i.mdi.mdi-email
      .description
        span(ng-if='trigger', ng-repeat="item in TRIGGER | filter:{value:trigger} | limitTo : 1 : 0")  {{item.label}}
          | before 
