calendar-configuration-tab-main {
  .public-access-line {
    .flex-vertical-centered;

    margin-bottom: 20px;
    font-size: 15px;

    .mdi {
      margin-right: 5px;
      font-size: 1.5em;
    }

    .margin-right-15 {
      margin-right: 15px;
    }

    .public-access-line-visibility-key {
      .flex-noshrink;
    }

    .public-access-line-visibility-value {
      .fg-line;

      margin-bottom: 0;
      padding-right: 0;

      .avatar-with-bubble {
        width: 47px;
        height: 47px;

        .mdi {
          margin: 0;
        }

        i {
          padding: 2px;
          font-size: 11px;
        }
      }
    }

    &.public-access-visibility-line {
      padding-bottom: 10px;
    }

    .btn {
      margin-top: 10px;
    }

    .btn-group {
      margin-top: 10px;

      .btn {
        margin-top: 0;
      }

      .mdi {
        margin-right: 5px;
      }

      i {
        vertical-align: sub;
      }
    }
  }

  .delete-calendar-button {
    .flex-vertical-centered;
    .clickable;
  }
}