doctype html
html
  head
    meta(charset='utf8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/')
    title #{title} - OpenPaas
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/components/linagora-logo/css/style.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/css/linagora.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/restangular/dist/restangular.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/components/linagora-logo/js/linagora-logo.js')
    script(src='js/welcome/app.js')
    script(src='js/modules/invitation.js')
    script(src='js/modules/company.js')
    script(src='js/modules/login.js')
    script(src='js/modules/form-helper.js')
    script(src='js/modules/modernizr.js')


  body.esn-welcome-app(ng-app='welcomeApp', ng-init="recaptchaPublicKey='#{recaptchaPublicKey}'")
    #wrap
      include ./partials/header
      div(ng-view ng-cloak)

    #unsupported.text-center
      .sorry
        a(href='http://open-paas.org/')
          img(src="/images/logo.png")
        p Sorry, your browser is not supported :-(
        p Please upgrade to a <a href="https://www.getfirefox.com/">modern</a> <a href="https://www.google.com/chrome/browser/">browser</a>. 
