.inbox-list-header {
  .flex-space-between;
  .flex-vertical-centered;

  height: @inbox-list-header-height;
  padding: 0 20px;
  color: lighten(@secondaryTextColor, 20%);

  .mdi {
    font-size: 1.4em;

    &.active {
      color: @primaryColor;
    }
  }

  inbox-filter-button {
    margin-right: 1em;
  }

  .inbox-list-header-actions {
    .flex-vertical-centered;

    .mdi {
      margin-left: 1em;
    }
  }
}
