.inbox-main-content.configuration.card
  ul.tab-nav.configuration-header
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="unifiedinbox.configuration.folders")
        | #{__('Folders')}
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="unifiedinbox.configuration.vacation")
        | #{__('Vacation')}

  ui-view.configuration-content(name="configuration")
