.inbox-main-content.configuration.card
  ul.esn-tab.configuration-header
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="unifiedinbox.configuration.vacation")
        | #{__('Vacation')}
    li.btn-wave(ui-sref-active="active")
      a(href="", ui-sref="unifiedinbox.configuration.identities")
        | #{__('Identities')}

  ui-view.configuration-content(name="configuration", noanimation)
