.inbox-main-content.configuration.card
  .clickable(ui-sref='unifiedinbox.configuration.folders-add')
    i.inbox-icon.mdi.mdi-plus
    | #{__('New')}
  hr
  .mailboxes-list
    mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | orderBy: ['level', 'name']", ui-sref="unifiedinbox.configuration.folders-edit({ mailbox: mailbox.id})")
