sub-header
  configuration-index-subheader

.inbox-main-content.configuration.card
  .clickable(ui-sref='unifiedinbox.configuration.folders-add')
    .badge-container
      i.inbox-icon.mdi.mdi-plus
    span #{__('Add a new folder')}
  hr
  .mailboxes-list
    mailbox-display.lv-item(mailbox="mailbox", ng-repeat="mailbox in mailboxes | filter: { role: '!'} | orderBy: ['sortOrder', 'qualifiedName']", ui-sref="unifiedinbox.configuration.folders-edit({ mailbox: mailbox.id})")
