ng-form(name="form")
  .card
    .card-header
      h2 #{__('Business hours')}
        small #{__('Set your business hours, which will be emphasized in your calendars')}
    .card-body.card-padding(ng-if="$ctrl.businessHour")
      esn-business-hours-working-hours(start="$ctrl.businessHour.start", end="$ctrl.businessHour.end")
      esn-business-hours-working-days(days-of-week="$ctrl.businessHour.daysOfWeek")
