doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.core.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.buttons.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.picon.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.history.css')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.css')
    link(rel='stylesheet', href='/components/jcrop/css/jquery.Jcrop.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.css')
    link(rel='stylesheet', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/components/font-awesome-animation/dist/font-awesome-animation.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/pines-notify/pnotify.core.js')
    script(src='/components/pines-notify/pnotify.buttons.js')
    script(src='/components/pines-notify/pnotify.callbacks.js')
    script(src='/components/pines-notify/pnotify.confirm.js')
    script(src='/components/pines-notify/pnotify.desktop.js')
    script(src='/components/pines-notify/pnotify.history.js')
    script(src='/components/pines-notify/pnotify.nonblock.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload-shim.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src='/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/jcrop/js/jquery.Jcrop.min.js')
    script(src='/components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='js/esn/app.js')
    script(src='/components/openpaas-logo/openpaas-logo.js')
    script(src='/components/angular-pines-notify/src/pnotify.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-truncate/src/truncate.js')
    script(src='js/modules/core.js')
    script(src='js/modules/socketio.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/search.js')
    script(src='js/modules/infinite-list.js')
    script(src='js/modules/avatar.js')
    script(src='js/modules/profile.js')
    script(src='js/modules/user.js')
    script(src='js/modules/message.js')
    script(src='js/modules/session.js')
    script(src='js/modules/rest-helper.js')
    script(src='js/modules/activitystream.js')
    script(src='js/modules/websocket.js')
    script(src='js/modules/conference.js')
    script(src='js/modules/application.js')
    script(src='js/modules/authentication.js')
    script(src='js/modules/contact.js')
    script(src='js/modules/notification.js')
    script(src='js/modules/conference-notification.js')
    script(src='js/modules/api-notification.js')
    script(src='js/modules/community.js')
    script(src='js/modules/feedback.js')
    script(src='js/modules/community-as-tracker.js')
    script(src='js/modules/file.js')
    script(src='js/modules/user-notification.js')

  body.ng-cloak(ng-app='esnApp' ng-controller="sessionInitESNController")
      button(type='button' class='btn btn-lg btn-primary feedback button-popup' data-template='/views/modules/feedback/feedback.html' data-placement='left' data-animation='am-slide-left' bs-aside='aside' data-container='body') #{__('Feedback')}
    #wrap(ng-include='session.template')
