doctype html
html
  include ../commons/utils
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#0C7CD5")
    script(src='esn.assets.caching.worker.js')
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.min.css')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='/components/jcrop/css/jquery.Jcrop.min.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.min.css')
    link(rel='stylesheet', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='/components/animate.css/animate.min.css')
    link(rel='stylesheet', href='/components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='/components/fullcalendar/dist/fullcalendar.min.css')
    link(rel='stylesheet', href='/components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
    link(rel='stylesheet', href='/components/angular-chart.js/dist/angular-chart.css')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/components/summernote/dist/summernote.css')
    link(rel='stylesheet', href='/components/lng-clockpicker/dist/bootstrap-clockpicker.min.css')
    link(rel='stylesheet', href='/components/awesome-angular-swipe/dist/awesome-angular-swipe.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/virtualRepeat/virtualRepeat.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/backdrop/backdrop.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/button/button.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/dialog/dialog.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/fabSpeedDial/fabSpeedDial.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/tooltip/tooltip.min.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/panel/panel.min.css')
    link(rel='stylesheet', href='/generated/css/esn/styles.css')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery.focus/dist/jquery.focus.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload-shim.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-component/dist/angular-component.min.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/components/ui-router-extras/release/ct-ui-router-extras.min.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/angular-touch/angular-touch.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/jcrop/js/jquery.Jcrop.min.js')
    script(src='/components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/components/openpaas-logo/openpaas-logo.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/moment-timezone/builds/moment-timezone-with-data.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-truncate/src/truncate.js')
    script(src='/components/ngGeolocation/ngGeolocation.min.js')
    script(src='/components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
    script(src='/components/leaflet/dist/leaflet.js')
    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
    script(src='/components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js')
    script(src='/components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/components/ical.js/build/ical.js')
    script(src='/components/char-api/lib/charAPI.js')
    script(src='/components/angular-jstz/angular-jstz.js')
    script(src='/components/jstzdetect/jstz.min.js')
    script(src='/components/angular-recursion/angular-recursion.min.js')
    script(src='/components/showdown/dist/showdown.min.js')
    script(src='/components/angular-markdown-directive/markdown.js')
    script(src='/components/localforage/dist/localforage.min.js')
    script(src='/components/angular-localforage/dist/angular-localForage.min.js')
    script(src='/components/Chart.js/Chart.min.js')
    script(src='/components/angular-chart.js/dist/angular-chart.min.js')
    script(src='/components/arrive/minified/arrive.min.js')
    script(src='/components/angular-scroll/angular-scroll.min.js')
    script(src='/components/angular-gist/angular-gist.min.js')
    script(src='/components/twitter-platform-widget/index.js')
    script(src='/components/re-tree/re-tree.min.js')
    script(src='/components/ng-device-detector/ng-device-detector.min.js')
    script(src='/components/remarkable-bootstrap-notify/bootstrap-notify.min.js')
    script(src='/components/angular-fullscreen/src/angular-fullscreen.js')
    script(src='/components/jmap-client/dist/jmap-client.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/angularjs-naturalsort/dist/naturalSortVersion.min.js')
    script(src='/components/summernote/dist/summernote.min.js')
    script(src='/components/angular-summernote/dist/angular-summernote.min.js')
    script(src='/components/iframe-resizer/js/iframeResizer.min.js')
    script(src='/components/autosize/dist/autosize.min.js')
    script(src='/components/offline/offline.min.js')
    script(src='/components/lng-clockpicker/dist/bootstrap-clockpicker.min.js')
    script(src='/components/angular-clockpicker/dist/angular-clockpicker.min.js')
    script(src='/components/angular-feature-flags/dist/featureFlags.js')
    script(src='/components/angular-auto-focus/angular-auto-focus.js')
    script(src='/components/Autolinker.js/dist/Autolinker.min.js')
    script(src='/components/html5-desktop-notifications2/dist/Notification.min.js')
    script(src='/components/angular-web-notification/angular-web-notification.js')
    script(src='/components/awesome-angular-swipe/lib/awesome-angular-swipe.js')
    script(src='/components/angular-scroll-glue/src/scrollglue.js')
    script(src='/components/angular-messages/angular-messages.min.js')
    script(src='/components/angular-file-saver/dist/angular-file-saver.bundle.min.js')
    script(src='/components/matchmedia/matchMedia.js')
    script(src='/components/matchmedia-ng/matchmedia-ng.js')
    script(src='/components/waves/dist/waves.min.js')
    script(src='/components/angular-material/modules/js/core/core.min.js')
    script(src='/components/angular-material/modules/js/showHide/showHide.min.js')
    script(src='/components/angular-material/modules/js/virtualRepeat/virtualRepeat.min.js')
    script(src='/components/angular-material/modules/js/backdrop/backdrop.min.js')
    script(src='/components/angular-material/modules/js/button/button.min.js')
    script(src='/components/angular-material/modules/js/dialog/dialog.min.js')
    script(src='/components/angular-material/modules/js/fabActions/fabActions.min.js')
    script(src='/components/angular-material/modules/js/fabSpeedDial/fabSpeedDial.min.js')
    script(src='/components/angular-material/modules/js/fabTrigger/fabTrigger.min.js')
    script(src='/components/angular-material/modules/js/tooltip/tooltip.min.js')
    script(src='/components/angular-material/modules/js/panel/panel.min.js')
    script(src='/components/angular-aria/angular-aria.min.js')
    script(src='/components/james-admin-client/dist/james-admin-client.min.js')
    script(src='/components/angular-translate/angular-translate.min.js')
    script(src='/components/angular-i18n/angular-locale_#{locale}.js')
    +injectAngularFromModules('esn', assets)
    +injectJSFromModules('esn', assets)
    +injectJSAppFromModules('esn', assets)
    script(src='js/esn/app.js')
    script(src='js/constants.js')
    script(src='js/material.js')
    script(src='/components/material-admin/js/modules/form.js')

  body.container-fluid.ng-cloak(ng-app="esnApp", ng-controller="sessionInitESNController", device-detector, ng-class="{ 'grabbable': esnIsDragging }")
    #wrap(ng-include='session.template')
