doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - Hiveety
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/restangular/dist/restangular.js')
    script(src='/components/ngInfiniteScroll/ng-infinite-scroll.js')
    script(src='js/esn/app.js')
    script(src='/components/spin.js/spin.js')
    script(src='/components/angular-spinner/angular-spinner.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/searchForm.js')
    script(src='js/modules/infinite-list.js')

  body.ng-cloak(ng-app='esnApp')
    #wrap
      include ../partials/header
      
      div.container-fluid
        .row
          div.leftPane.col-sm-2.hidden-xs Left Pane
          div.col-sm-10.col-xs-12
            .row(ng-view)
    include ../partials/footer

