doctype html
html
  include ../commons/utils
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#0C7CD5")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.min.css')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='/components/jcrop/css/jquery.Jcrop.min.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.min.css')
    link(rel='stylesheet', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='/components/animate.css/animate.min.css')
    link(rel='stylesheet', href='/components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='/components/fullcalendar/dist/fullcalendar.min.css')
    link(rel='stylesheet', href='/components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
    link(rel='stylesheet', href='/components/angular-chart.js/dist/angular-chart.css')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/components/summernote/dist/summernote.css')
    link(rel='stylesheet', href='/components/lng-clockpicker/dist/bootstrap-clockpicker.min.css')
    link(rel='stylesheet', href='/components/awesome-angular-swipe/dist/awesome-angular-swipe.css')
    link(rel='stylesheet', href='/components/angular-material/modules/js/virtualRepeat/virtualRepeat.min.css')
    link(rel='stylesheet', href='/generated/css/esn/styles.css')
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery.focus/dist/jquery.focus.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload-shim.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-component/dist/angular-component.min.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/components/ui-router-extras/release/ct-ui-router-extras.min.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/angular-touch/angular-touch.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src="/components/recaptcha_ajax/index.js")
    script(src='/components/angular-recaptcha/release/angular-recaptcha.js')
    script(src='/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/jcrop/js/jquery.Jcrop.min.js')
    script(src='/components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/components/openpaas-logo/openpaas-logo.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/moment-timezone/builds/moment-timezone-with-data.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-truncate/src/truncate.js')
    script(src='/components/ngGeolocation/ngGeolocation.min.js')
    script(src='/components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
    script(src='/components/leaflet/dist/leaflet.js')
    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/bootstrap-switch/dist/js/bootstrap-switch.min.js')
    script(src='/components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js')
    script(src='/components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/components/ical.js/build/ical.js')
    script(src='/components/char-api/lib/charAPI.js')
    script(src='/components/angular-jstz/angular-jstz.js')
    script(src='/components/jstzdetect/jstz.min.js')
    script(src='/components/angular-recursion/angular-recursion.min.js')
    script(src='/components/showdown/dist/showdown.min.js')
    script(src='/components/angular-markdown-directive/markdown.js')
    script(src='/components/localforage/dist/localforage.min.js')
    script(src='/components/angular-localforage/dist/angular-localForage.min.js')
    script(src='/components/Chart.js/Chart.min.js')
    script(src='/components/angular-chart.js/dist/angular-chart.min.js')
    script(src='/components/arrive/minified/arrive.min.js')
    script(src='/components/angular-scroll/angular-scroll.min.js')
    script(src='/components/angular-gist/angular-gist.min.js')
    script(src='/components/twitter-platform-widget/index.js')
    script(src='/components/re-tree/re-tree.min.js')
    script(src='/components/ng-device-detector/ng-device-detector.min.js')
    script(src='/components/remarkable-bootstrap-notify/bootstrap-notify.min.js')
    script(src='/components/angular-fullscreen/src/angular-fullscreen.js')
    script(src='/components/jmap-client/dist/jmap-client.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/angularjs-naturalsort/dist/naturalSortVersion.min.js')
    script(src='/components/summernote/dist/summernote.min.js')
    script(src='/components/angular-summernote/dist/angular-summernote.min.js')
    script(src='/components/iframe-resizer/js/iframeResizer.min.js')
    script(src='/components/autosize/dist/autosize.min.js')
    script(src='/components/offline/offline.min.js')
    script(src='/components/lng-clockpicker/dist/bootstrap-clockpicker.min.js')
    script(src='/components/angular-clockpicker/dist/angular-clockpicker.min.js')
    script(src='/components/angular-feature-flags/dist/featureFlags.js')
    script(src='/components/angular-auto-focus/angular-auto-focus.js')
    script(src='/components/Autolinker.js/dist/Autolinker.min.js')
    script(src='/components/html5-desktop-notifications2/dist/Notification.min.js')
    script(src='/components/angular-web-notification/angular-web-notification.js')
    script(src='/components/awesome-angular-swipe/lib/awesome-angular-swipe.js')
    script(src='/components/angular-scroll-glue/src/scrollglue.js')
    script(src='/components/angular-messages/angular-messages.min.js')
    script(src='/components/angular-file-saver/dist/angular-file-saver.bundle.min.js')
    script(src='/components/matchmedia/matchMedia.js')
    script(src='/components/matchmedia-ng/matchmedia-ng.js')
    script(src='/components/waves/dist/waves.min.js')
    script(src='/components/angular-material/modules/js/core/core.min.js')
    script(src='/components/angular-material/modules/js/showHide/showHide.min.js')
    script(src='/components/angular-material/modules/js/virtualRepeat/virtualRepeat.min.js')
    script(src='/components/james-admin-client/dist/james-admin-client.min.js')
    +injectAngularFromModules('esn', assets)
    +injectJSFromModules('esn', assets)
    +injectJSAppFromModules('esn', assets)
    script(src='js/esn/app.js')
    script(src='js/constants.js')
    script(src='js/modules/core.js')
    script(src='js/modules/datepicker-utils.js')
    script(src='js/modules/cache.js')
    script(src='js/modules/scroll.js')
    script(src='js/modules/multi-input.js')
    script(src='js/modules/http.js')
    script(src='js/modules/header.js')
    script(src='js/modules/subheader.js')
    script(src='js/modules/sidebar.js')
    script(src='js/modules/socketio.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/module-registry/module-registry.module.js')
    script(src='js/modules/module-registry/module-registry.service.js')
    script(src='js/modules/search.js')
    script(src='js/modules/infinite-list/infinite-list.module.js')
    script(src='js/modules/infinite-list/infinite-list-scroll-helper-builder.service.js')
    script(src='js/modules/infinite-list/infinite-list-scroll-helper.service.js')
    script(src='js/modules/infinite-list/infinite-list-scroll-on-groups-helper.service.js')
    script(src='js/modules/infinite-list/infinite-list.config.js')
    script(src='js/modules/infinite-list/infinite-list.constants.js')
    script(src='js/modules/infinite-list/infinite-list.directive.js')
    script(src='js/modules/infinite-list/infinite-list.service.js')
    script(src='js/modules/avatar.js')
    script(src='js/modules/profile.js')
    script(src='js/modules/user.js')
    script(src='js/modules/message.js')
    script(src='js/modules/session.js')
    script(src='js/modules/rest-helper.js')
    script(src='js/modules/activitystream.js')
    script(src='js/modules/activitystream/services.js')
    script(src='js/modules/activitystream/controllers.js')
    script(src='js/modules/activitystream/directives.js')
    script(src='js/modules/websocket.js')
    script(src='js/modules/application.js')
    script(src='js/modules/authentication.js')
    script(src='js/modules/notification.js')
    script(src='js/modules/api-notification.js')
    script(src='js/modules/community.js')
    script(src='js/modules/collaboration/collaboration.module.js')
    script(src='js/modules/collaboration/collaboration.run.js')
    script(src='js/modules/collaboration/collaboration.constants.js')
    script(src='js/modules/collaboration/create/collaboration-create-button.component.js')
    script(src='js/modules/collaboration/invite/collaboration-invite-users.directive.js')
    script(src='js/modules/collaboration/member/collaboration-member-avatar.component.js')
    script(src='js/modules/collaboration/member/collaboration-member-avatar.controller.js')
    script(src='js/modules/collaboration/members/list/collaboration-members-list.component.js')
    script(src='js/modules/collaboration/members/list/collaboration-members-list.controller.js')
    script(src='js/modules/collaboration/members/collaboration-members-widget.directive.js')
    script(src='js/modules/collaboration/members/collaboration-members.component.js')
    script(src='js/modules/collaboration/members/add/collaboration-members-add.component.js')
    script(src='js/modules/collaboration/members/add/collaboration-members-add.controller.js')
    script(src='js/modules/collaboration/members/add/add-item/collaboration-members-add-item.component.js')
    script(src='js/modules/collaboration/members/add/add-item/collaboration-members-add-item.controller.js')
    script(src='js/modules/collaboration/membership/collaboration-membership-requests-actions.controller.js')
    script(src='js/modules/collaboration/membership/collaboration-membership-requests-actions.directive.js')
    script(src='js/modules/collaboration/membership/collaboration-membership-requests-widget.controller.js')
    script(src='js/modules/collaboration/membership/collaboration-membership-requests-widget.directive.js')
    script(src='js/modules/collaboration/services/collaboration-client.service.js')
    script(src='js/modules/collaboration/services/collaboration-listener.service.js')
    script(src='js/modules/collaboration/services/collaboration.service.js')
    script(src='js/modules/collaboration/services/collaboration-member-pagination-provider.service.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-invitation-accept-button.directive.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-invitation-decline-button.directive.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-join.directive.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-membership-invitation.directive.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-membership-request-accepted.component.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-membership-request-declined.component.js')
    script(src='js/modules/collaboration/user-notifications/collaboration-request-membership-action.controller.js')
    script(src='js/modules/feedback.js')
    script(src='js/modules/maps.js')
    script(src='js/modules/activitystreams-tracker.js')
    script(src='js/modules/paginate.js')
    script(src='js/modules/pagination/pagination.module.js')
    script(src='js/modules/pagination/pagination.constants.js')
    script(src='js/modules/pagination/pagination-provider-builder.service.js')
    script(src='js/modules/pagination/pagination-provider.service.js')
    script(src='js/modules/object-type.js')
    script(src='js/modules/file.js')
    script(src='js/modules/form-helper.js')
    script(src='js/modules/background.js')
    script(src='js/modules/parser.js')
    script(src='js/modules/markdown-parser.js')
    script(src='js/modules/widget-helper.js')
    script(src='js/modules/twitter.js')
    script(src='js/modules/oembed/oembed.js')
    script(src='js/modules/oembed/youtube.js')
    script(src='js/modules/oembed/instagram.js')
    script(src='js/modules/oembed/soundcloud.js')
    script(src='js/modules/oembed/deezer.js')
    script(src='js/modules/oembed/vimeo.js')
    script(src='js/modules/oembed/slideshare.js')
    script(src='js/modules/oembed/codepen.js')
    script(src='js/modules/oembed/gist.js')
    script(src='js/modules/oembed/twitter.js')
    script(src='js/modules/oembed/image.js')
    script(src='js/modules/injection.js')
    script(src='js/modules/company.js')
    script(src='js/modules/localstorage.js')
    script(src='js/modules/esn.summernote.js')
    script(src='js/modules/poll.js')
    script(src='js/material.js')
    script(src='js/modules/array-helper.js')
    script(src='js/modules/alphalist.js')
    script(src='js/modules/ui.js')
    script(src='js/modules/attendee.js')
    script(src='js/modules/jmap-client-wrapper.js')
    script(src='js/modules/iframe-resizer-wrapper.js')
    script(src='js/modules/box-overlay.js')
    script(src='js/modules/back-detector.js')
    script(src='js/modules/fullscreen-edit-form.js')
    script(src='js/modules/esn.offline.js')
    script(src='js/modules/esn.router.js')
    script(src='js/modules/url.js')
    script(src='js/modules/action-list.js')
    script(src='js/modules/lodash-wrapper.js')
    script(src='js/modules/login.js')
    script(src='js/modules/aggregator.js')
    script(src='js/modules/provider.js')
    script(src='js/modules/application-menu.js')
    script(src='js/modules/settings-overlay.js')
    script(src='js/modules/desktop-utils.js')
    script(src='js/modules/beforeunload.js')
    script(src='js/modules/config.js')
    script(src='/components/material-admin/js/modules/form.js')
    script(src='js/modules/highlight.js')
    script(src='js/modules/dragndrop.js')
    script(src='js/modules/esn.autolinker-wrapper.js')
    script(src='js/modules/like.js')
    script(src='js/modules/resource-link.js')
    script(src='js/modules/timeline.js')
    script(src='js/modules/follow.js')
    script(src='js/modules/escape-html.js')
    script(src='js/modules/dropdown-list.js')
    script(src='js/modules/file-preview/file-preview.js')
    script(src='js/modules/file-preview/image.js')
    script(src='js/modules/async-action.js')
    script(src='js/modules/touchscreen-detector.js')
    script(src='js/modules/previous-page.js')
    script(src='js/modules/file-saver.js')
    script(src='js/modules/media-query.js')
    script(src='js/modules/ldap.js')
    script(src='js/modules/registry.js')
    script(src='js/modules/attachment/attachment.module.js')
    script(src='js/modules/attachment/attachment.constant.js')
    script(src='js/modules/attachment/attachment-icon.component.js')
    script(src='js/modules/attachment/attachment-icon.controller.js')
    script(src='js/modules/attachment/attachment.component.js')
    script(src='js/modules/attachment/list/attachment-list.module.js')
    script(src='js/modules/attachment/list/attachment-list-providers.service.js')
    script(src='js/modules/attachment/list/attachment-list.component.js')
    script(src='js/modules/attachment/list/attachment-list.controller.js')
    script(src='js/modules/attachment/list/item/attachment-list-item.component.js')
    script(src='js/modules/user-notification/user-notification.module.js')
    script(src='js/modules/user-notification/list/item/user-notification-list-item.component.js')
    script(src='js/modules/user-notification/list/user-notification-list.component.js')
    script(src='js/modules/user-notification/list/user-notification-list.controller.js')
    script(src='js/modules/user-notification/services/user-notification-counter.service.js')
    script(src='js/modules/user-notification/services/user-notification.service.js')
    script(src='js/modules/user-notification/subheader/user-notification-subheader.component.js')
    script(src='js/modules/user-notification/templates/user-notification-external.directive.js')
    script(src='js/modules/user-notification/templates/user-notification-template-displayer.component.js')
    script(src='js/modules/user-notification/toggler/user-notitication-toggler.controller.js')
    script(src='js/modules/user-notification/toggler/user-notification-toggler.directive.js')
    script(src='js/modules/user-notification/user-notification.constants.js')
    script(src='js/modules/user-notification/user-notification.controller.js')
    script(src='js/modules/user-notification/user-notification.router.js')
    script(src='js/modules/user-configuration/user-configuration.module.js')
    script(src='js/modules/user-configuration/user-configuration.constants.js')
    script(src='js/modules/user-configuration/user-configuration.service.js')
    script(src='js/modules/esn.waves.js')
    script(src='js/modules/esn.mutation-observer.js')
    script(src='js/modules/textarea-autosize.js')

  body.container-fluid.ng-cloak(ng-app="esnApp", ng-controller="sessionInitESNController", header-aware, device-detector, ng-class="{ 'grabbable': esnIsDragging }")
    #wrap(ng-include='session.template')
