doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - Hiveety
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.css')
    link(rel='stylesheet', href='/components/jcrop/css/jquery.Jcrop.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.css')
    link(rel='stylesheet', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/angular-animate/angular-animate.js')
    script(src='/components/restangular/dist/restangular.js')
    script(src='/components/ngInfiniteScroll/ng-infinite-scroll.js')
    script(src='/components/ng-tags-input/ng-tags-input.js')
    script(src='/components/jcrop/js/jquery.Jcrop.js')
    script(src='/components/angular-xeditable/dist/js/xeditable.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.js')
    script(src='/components/angular-strap/dist/angular-strap.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.js')
    script(src='js/esn/app.js')
    script(src='/components/spin.js/spin.js')
    script(src='/components/angular-spinner/angular-spinner.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/search.js')
    script(src='js/modules/infinite-list.js')
    script(src='js/modules/avatar.js')
    script(src='js/modules/profile.js')
    script(src='js/modules/user.js')
    script(src='js/modules/message.js')
    script(src='js/modules/session.js')
    script(src='js/modules/rest-helper.js')
    script(src='js/modules/activitystream.js')

  body.ng-cloak(ng-app='esnApp' ng-controller="sessionInitController")
    #wrap(ng-include='session.template')
      
