doctype html
html
  include ../commons/utils
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.css')
    link(rel='stylesheet', href='/components/mdi/css/materialdesignicons.min.css', media='all')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.css')
    link(rel='stylesheet', href='/components/jcrop/css/jquery.Jcrop.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.css')
    link(rel='stylesheet', href='/components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', href='/components/fullcalendar/dist/fullcalendar.min.css')
    link(rel='stylesheet', href='/components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href='/components/angular-chart.js/dist/angular-chart.css')
    link(rel='stylesheet', href='/components/roboto-fontface/css/roboto-fontface.css')
    link(rel='stylesheet', href='/generated/css/esn/styles.css')
    +injectCSSFromModules('esn', injections)
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery.nicescroll/dist/jquery.nicescroll.min.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload-shim.min.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/angular-nicescroll/angular-nicescroll.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src='/components/ngInfiniteScroll/build/ng-infinite-scroll.min.js')
    script(src='/components/ng-tags-input/ng-tags-input.min.js')
    script(src='/components/jcrop/js/jquery.Jcrop.min.js')
    script(src='/components/angular-xeditable/dist/js/xeditable.min.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular-file-upload/dist/angular-file-upload.min.js')
    script(src='/components/openpaas-logo/openpaas-logo.js')
    script(src='/components/moment/min/moment.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-truncate/src/truncate.js')
    script(src='/components/ngGeolocation/ngGeolocation.js')
    script(src='/components/angular-leaflet-directive/dist/angular-leaflet-directive.js')
    script(src='/components/leaflet/dist/leaflet.js')
    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(src='/components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js')
    script(src='/components/angular-ui-calendar/src/calendar.js')
    script(src='/components/fullcalendar/dist/fullcalendar.min.js')
    script(src='/components/ical.js/build/ical.js')
    script(src='/components/char-api/lib/charAPI.js')
    script(src='/components/angular-jstz/angular-jstz.js')
    script(src='/components/jstzdetect/jstz.min.js')
    script(src='/components/angular-recursion/angular-recursion.min.js')
    script(src='/components/showdown/compressed/showdown.js')
    script(src='/components/showdown/compressed/extensions/table.js')
    script(src='/components/angular-markdown-directive/markdown.js')
    script(src='/components/localforage/dist/localforage.min.js')
    script(src='/components/angular-localforage/dist/angular-localForage.min.js')
    script(src='/components/Chart.js/Chart.min.js')
    script(src='/components/angular-chart.js/dist/angular-chart.js')
    script(src='/components/arrive/minified/arrive.min.js')
    script(src='/components/angular-scroll/angular-scroll.min.js')
    script(src='/components/angular-gist/angular-gist.min.js')
    script(src='/components/twitter-platform-widget/index.js')
    script(src='/components/re-tree/re-tree.min.js')
    script(src='/components/ng-device-detector/ng-device-detector.min.js')
    script(src='/components/remarkable-bootstrap-notify/bootstrap-notify.min.js')
    script(src='/components/angular-fullscreen/src/angular-fullscreen.js')
    script(src='/components/jmap-client/dist/jmap-client.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/iframe-resizer/js/iframeResizer.min.js')
    script(src='/components/angularjs-naturalsort/dist/naturalSortVersion.min.js')
    +injectAngularFromModules('esn', injections)
    +injectJSFromModules('esn', injections)
    script(src='js/esn/app.js')
    script(src='js/modules/core.js')
    script(src='js/modules/scroll.js')
    script(src='js/modules/multi-input.js')
    script(src='js/modules/http.js')
    script(src='js/modules/header.js')
    script(src='js/modules/sidebar.js')
    script(src='js/modules/socketio.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/search.js')
    script(src='js/modules/infinite-list.js')
    script(src='js/modules/avatar.js')
    script(src='js/modules/profile.js')
    script(src='js/modules/user.js')
    script(src='js/modules/message.js')
    script(src='js/modules/session.js')
    script(src='js/modules/rest-helper.js')
    script(src='js/modules/activitystream.js')
    script(src='js/modules/activitystream/services.js')
    script(src='js/modules/activitystream/controllers.js')
    script(src='js/modules/activitystream/directives.js')
    script(src='js/modules/websocket.js')
    script(src='js/modules/application.js')
    script(src='js/modules/authentication.js')
    script(src='js/modules/contact.js')
    script(src='js/modules/notification.js')
    script(src='js/modules/api-notification.js')
    script(src='js/modules/community.js')
    script(src='js/modules/collaboration.js')
    script(src='js/modules/feedback.js')
    script(src='js/modules/maps.js')
    script(src='js/modules/activitystreams-tracker.js')
    script(src='js/modules/user-notification.js')
    script(src='js/modules/paginate.js')
    script(src='js/modules/object-type.js')
    script(src='js/modules/file.js')
    script(src='js/modules/form-helper.js')
    script(src='js/modules/background.js')
    script(src='js/modules/parser.js')
    script(src='js/modules/markdown-parser.js')
    script(src='js/modules/widget-helper.js')
    script(src='js/modules/twitter.js')
    script(src='js/modules/oembed/oembed.js')
    script(src='js/modules/oembed/youtube.js')
    script(src='js/modules/oembed/instagram.js')
    script(src='js/modules/oembed/soundcloud.js')
    script(src='js/modules/oembed/deezer.js')
    script(src='js/modules/oembed/vimeo.js')
    script(src='js/modules/oembed/slideshare.js')
    script(src='js/modules/oembed/codepen.js')
    script(src='js/modules/oembed/gist.js')
    script(src='js/modules/oembed/twitter.js')
    script(src='js/modules/injection.js')
    script(src='js/modules/collaboration.js')
    script(src='js/modules/company.js')
    script(src='js/modules/localstorage.js')
    script(src='js/modules/poll.js')
    script(src='js/material.js')
    script(src='js/modules/array-helper.js')
    script(src='js/modules/alphalist.js')
    script(src='js/modules/ui.js')
    script(src='js/modules/attendee.js')
    script(src='js/modules/jmap-client-wrapper.js')
    script(src='js/modules/iframe-resizer-wrapper.js')
    script(src='js/modules/box-overlay.js')
    script(src='js/material.js')
    script(src='/components/material-admin/js/modules/form.js')

  body.ng-cloak(ng-app='esnApp' ng-controller="sessionInitESNController" ng-nicescroll nice-option="{cursorcolor: 'rgba(0,0,0,0.4)', cursorborder: 'none', cursorwidth:'6px', autohidemode: false, zindex: 12}")
    #wrap(ng-include='session.template')
