.calendar-configuration {

  .calendar-configuration-title {
    margin-bottom: 25px;
    margin-top: 30px;

    h2 {
      color: @secondaryTextColor;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .color-picker-container {
    width: 50px;
    margin-left: 40px;
    position: relative;

    .color-picker-value {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      position: absolute;
      top: 0px;
      z-index: 5;
    }
  }

  .delete-calendar-button {
    .underlined-button;

    font-size: 15px;
  }

  .calendar-configuration-body {
    margin-top: 25px;
  }
}
