.calendar-configuration {

  .color-picker-container {
    width: 50px;
    margin-left: 40px;
    position: relative;

    .color-picker-value {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      position: absolute;
      top: 0px;
      z-index: 5;
    }
  }

  .delete-calendar-button {
    .underlined-button;

    font-size: 15px;
  }

  .calendar-configuration-body {
    margin-top: 25px;
  }
}
