.calendar-configuration {

  .color-picker-container {
    width: 50px;
    margin-left: 40px;
    position: relative;

    .color-picker-value {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      position: absolute;
      top: 0px;
      z-index: 5;
    }
  }

  .delete-calendar-button {
    .underlined-button;

    font-size: 15px;
  }

  .calendar-configuration-body {
    margin-top: 25px;
  }

  .delegation {
    .mdi {
      font-size: 1.5em;
    }

    .public {
      .mdi {
        margin-right: 5px;
      }

      span {
        font-size: 15px;
      }

      span.vertical-align, i.vertical-align {
        vertical-align: middle;
      }
    }

    .btn {
      margin-top: 10px;
    }

    .addDelegation {
      margin-top: 12px;
    }

    .name {
      margin-top: 12px;
    }

    .no-margin {
      margin: 0;
    }

    .btn-addusers {
      margin-top: 10px;

      .mdi {
        margin-right: 5px;
      }
    }
  }
}