.avatar-with-bubble
  img(ng-src="{{$ctrl.avatarURL}}", src='/images/throbber-amber.svg', fallback-src='/images/user.png', alt='#{__("Avatar")}')
  user-status-bubble(ng-if="$ctrl.displayUserStatus && $ctrl.userId", user-id="$ctrl.userId")
