.modal.fade.in.modal-profile-avatar(tabindex="-1", role="dialog", id="edit-avatar-dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", ng-click="$hide()") &times;
        h4.modal-title(ng-hide="uploading") #{__('Edit your avatar')}
        h4.modal-title(ng-show="uploading") #{__('Updating your avatar')}...
      .modal-body
        avatar-picker
      .modal-footer(ng-hide='uploading')
        button.btn.btn-link.color-default(type="button", ng-disabled="uploading", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type="button", ng-disabled="uploading || !preview", ng-click="upload()") #{__('Update')}
