.row.avatar-picker-button
  .btn-group.btn-group-justified
    span.btn.btn-primary.btn-file
      i.mdi.mdi-upload
      | #{__('Pick an image')}
      input(type="file", accept="image/*", load-button)
.row.avatar-picker-error
.row.avatar-picker-preview
  .col-xs-12.col-md-3.flex-horizontal-centered
    div(ng-show='!image.selected')
      img(width="128", height="128", ng-src='{{avatarPlaceholder}}', alt=__("Avatar"))
    div(ng-show='image.selected')
      .img-preview
        a(data-ng-click='removeSelectedImage()', href='')
          i.mdi.mdi-close
        canvas(width="128", height="128", id="preview", img-preview)
  .col-xs-12.col-md-9.flex-horizontal-centered(ng-show='image.selected')
    .hidden-md.hidden-sm.hidden-lg
      img-loaded(width="190")
    .hidden-xs
      img-loaded(width="380")
