.avatar-with-bubble
  img(ng-src="{{$ctrl.avatarUrl}}", src='/images/throbber-amber.svg', fallback-src='/images/user.png', alt='#{__("Avatar")}')
  user-status-bubble(ng-if="$ctrl.displayUserStatus()", user-id="$ctrl.userId")
