.controlcenter-sidebar(ng-click="$hide()")
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body(dynamic-directive='controlcenter-sidebar-menu')
        .lv-item.clickable.menu-heading(ui-sref="controlcenter")
          i.mdi.mdi-settings
          .menu-title #{__('Control Center')}
        controlcenter-sidebar-menu-item(icon="mdi-wrench", ui-sref="controlcenter.general", ui-sref-active="selected", label=__('General'))
