.member-container(ui-sref="profile({user_id: member._id})", ng-if="!disableProfileLink")
  .pull-left.p-r-15
    esn-avatar(user-id="member._id")
  .media-body
    .lv-title
      h4.media-heading {{::member.firstname}} {{::member.lastname}}
      span
        a(ng-href='mailto:{{::member.emails[0]}}', op-inbox-compose, op-inbox-compose-display-name="{{member.firstname}} {{member.lastname}}") {{::member.emails[0]}}
.member-container(ng-if="disableProfileLink")
  .pull-left.p-r-15
    esn-avatar(user-id="member._id")
  .media-body
    .lv-title
      h4.media-heading {{::member.firstname}} {{::member.lastname}}
      span
        a(ng-href='mailto:{{::member.emails[0]}}', op-inbox-compose) {{::member.emails[0]}}
