.member-container
  .pull-left.p-r-15
    a(ui-sref="profile({user_id: member._id})")
      .members-avatar
        img(src='/images/user.png', ng-src='/api/users/{{::member._id}}/profile/avatar', alt='#{__("Member Avatar")}')
  .media-body
    .lv-title
      a(ui-sref="profile({user_id: member._id})")
        h4.media-heading {{::member.firstname}} {{::member.lastname}}
      span
        a(ng-href='mailto:{{::member.emails[0]}}' op-inbox-compose) {{::member.emails[0]}}
