.member-container
  .pull-left.p-r-15
    img.members-avatar(src='/images/user.png', ng-src='/api/users/{{member._id}}/profile/avatar')
  .media-body
    .lv-title
      h4.media-heading {{member.firstname}} {{member.lastname}}
      span
        a(href='mailto:{{member.emails[0]}}') {{member.emails[0]}}
