.member-container
  .pull-left.p-r-15
    a(ui-sref="profile({user_id: member._id})")
      .members-avatar
        esn-avatar(user-id="member._id")
  .media-body
    .lv-title
      a(ui-sref="profile({user_id: member._id})")
        h4.media-heading {{::member.firstname}} {{::member.lastname}}
      span
        a(ng-href='mailto:{{::member.emails[0]}}' op-inbox-compose) {{::member.emails[0]}}
