@esn-primary-dark: rgb(35,35,35);
@esn-secondary-dark: #4B81ED;
@esn-primary-light: #fff;
@esn-primary-lesslight: rgb(214,215,217);
@esn-primary-middle: rgb(65,65,65);
@esn-highlight: #ffc107;
@esn-highlight-dark: rgb(21,21,21);
@esn-fa: #FAFAFA;
@esn-linagora: #BE1F3A;

@published-date: darken(@esn-primary-lesslight, 20%);

body {
  table {
    border-collapse: collapse;
  }

  p {
    margin: 0;
    padding: 0;
  }

  div.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: @esn-fa;
  }

  div.mail-content {
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    text-align: justify;
  }

  .title {
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  .small {
    color: grey;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  .blue {
    color: blue;
  }

  .table-footer {
    text-align: center;
    font-size: 1.5em;
    border-top: 1px solid @esn-primary-lesslight;
    td {
      padding-top: 20px;
    }
    a {
      text-decoration: none;
    }
  }

  .table-header {
    border-bottom: 1px solid @esn-primary-lesslight;
  }

  table {
    img {
      padding: 0 30px 0 0;
    }
  }

  footer {
    margin-right: 3px;
    margin-top:10px;
    text-align: right;
    color: @esn-primary-middle;

    a {
      color: @esn-linagora;
    }
  }
}
