sub-header(ng-if="!inbox.list.isElementOpened")
  block subheader

.ui-view(name="preview-pane", noanimation)

infinite-list(ng-class="{ offscreen: inbox.list.isElementOpened }", keep-scroll-position, load-more-elements="loadMoreElements()", element-selector=".inbox-list-item", infinite-scroll-disabled="inbox.list.isElementOpened").inbox-list

  .inbox-items-group(ng-repeat="group in groupedElements" ng-if="group.elements.length > 0")
    .block-header(ng-if="visibleItemsInGroup.length > 0")
      h2 {{ ::group.name }}
      .block-header-actions
        i.clickable.mdi.mdi-checkbox-marked-outline(inbox-group-toggle-selection, ng-hide="!hasSelectableItems", ng-class="{ selected: selected }", title="#{__('Select all items in this group')}")

    .card.listview.lv-bordered.lv-lg
      .lv-body
        .lv-item.media.inbox-list-item(ng-repeat="item in group.elements | inboxFilterJmapItems | orderBy: '-date' as visibleItemsInGroup")
          block item

  ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
    li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

  div(ng-if="infiniteScrollCompleted && $parent.infiniteList.getElementsCount() === 0")
    block empty-message
      inbox-empty-container-message(ng-if="::mailbox", mailbox="::mailbox")

  inbox-fab
  fab-scroll-top
