sub-header(ng-if="!inbox.list.isElementOpened")
  block subheader

.ui-view(name="preview-pane", noanimation)

.inbox-list-sidebar.ui-view(name="sidebar", ng-class="{ offscreen : !inbox.rightSidebar.isVisible || inbox.list.isElementOpened }")

.inbox-list(ng-switch="ctrl.state", ng-class="{ offscreen: inbox.list.isElementOpened,  'has-sidebar-open': inbox.rightSidebar.isVisible }")

  inbox-list-account-unavailable(ng-switch-when="ERROR", account="::ctrl.account")

  .inbox-infinite-list(ng-switch-default)

    infinite-list(keep-scroll-position, load-more-elements="loadMoreElements()", load-recent-items="loadRecentItems()", element-selector=".inbox-list-item", infinite-scroll-disabled="inbox.list.infiniteScrollDisabled").inbox-list

      .inbox-items-group(ng-repeat="item in groupedElements | inboxFilterJmapItems | inboxLinkItems as visibleItems")

        .block-header(ng-if="$first || item.previous().group !== item.group")
          h2 {{ ::item.group.name }}
          .block-header-actions
            inbox-list-group-toggle-selection(group="item.group", elements="groupedElements")

        .card.listview.lv-bordered.lv-lg
          .lv-body
            .lv-item.media.inbox-list-item
              block item

      ul.nav.nav-pills.nav-stacked(ng-if='!infiniteScrollCompleted')
        li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')

      div(ng-if="infiniteScrollCompleted")
        block empty-message
          inbox-empty-container-message(ng-if="::mailbox", mailbox="::mailbox")

  inbox-fab
  fab-scroll-top
