extends ../responsive-subheader

block left
  inbox-subheader-burger-button.hidden-md
  span.title.ellipsis
    block title

block right
  inbox-filter-button.clickable(ng-if="::filters", filters="::filters")
