extends /modules/subheader/responsive-subheader

block left
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-subheader-burger-button.hidden-md
      span.title.ellipsis
        block title
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      a.close.button.flex-vertical-centered(href='', ng-click="ctrl.unselectAllItems()")
        i.mdi.mdi-close
      span.title.extra-title.ellipsis #{__('%s selected', '{{ ctrl.getSelectedItems().length }}')}

block right
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-filter-button.clickable(ng-if="::filters", filters="::filters")
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      .inbox-subheader-buttons
        i.clickable.mdi.mdi-delete(ng-click="ctrl.moveToTrash()", title="#{__('Delete')}")
        i.clickable.mdi.mdi-eye(ng-click="ctrl.markAsRead()", title="#{__('Mark as read')}")
        i.clickable.mdi.mdi-dots-vertical(action-list="/unifiedinbox/views/layout/list/action-list.html")
