extends /modules/subheader/responsive-subheader

block left
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-subheader-burger-button.hidden-md
      span.title.ellipsis
        block title
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      button.btn.btn-link.btn-icon(href='', ng-click="ctrl.unselectAllItems()", title="#{__('Cancel')}")
        i.mdi.mdi-close
      span.title.extra-title.ellipsis #{__('%s selected', '{{ ctrl.getSelectedItems().length }}')}

block right
  .inbox-selection-aware-subheader(ng-switch="ctrl.isSelecting()")
    .inbox-selection-aware-subheader.inbox-not-selecting(ng-switch-when="false")
      inbox-list-sidebar-attachment-button(ng-if="ctrl.showAttachmentButton", ng-class='{ selected : inbox.rightSidebar.isVisible }')
      inbox-filter-button.clickable(ng-if="::filters", filters="::filters")
    .inbox-selection-aware-subheader.inbox-selecting(ng-switch-when="true")
      button.btn.btn-link.btn-icon.button(ng-click="ctrl.moveToTrash()", title="#{__('Delete')}")
        i.mdi.mdi-delete
      button.btn.btn-link.btn-icon.button(ng-click="ctrl.markAsRead()", title="#{__('Mark as read')}")
        i.mdi.mdi-eye
      button.btn.btn-link.btn-icon.button(action-list="/unifiedinbox/views/layout/list/action-list.html")
        i.mdi.mdi-dots-vertical
