.container
  .block-header
    h2 User.formattedName
      small User.Job, User.location
    ul.actions.m-t-20.hidden-xs
      li.dropdown
        a(data-toggle='dropdown', href='', aria-expended='false')
          i.mdi.mdi-dots-vertical
  #profile-main.card(ng-controller='profileCtrl as pctrl')
    .pm-overview.c-overflow
      .pmo-pic
        .p-relative
          a(href='')
            img(src="../../../images/user.png")
          .dropdown pmop-message
          a.pmop-edit(href='')
          .pmo-stat
      .pmo-block.pmo-contact.hidden-xs
        h2 Contact
        ul
          li Yo
          li lorem
      .pmo-block.pmo-items.hidden-xs
        h2 Connection
    .pm-body.clearfix
      data(ui-view='')
        .pmbb-header
          h2 
            i.mdi-.mdi-briefcase
            | Summary
          ul.actions
            li.dropdown
              a(data-toggle='dropdown', href='', aria-expended='false')
                i.mdi.mdi-dots-vertical
              ul.dropdown-menu.dropdown-menu-righti.mdi.mdi-dots-vertical
                li Edit
        .pmbb-body.p-l-30
          .pmbb-view
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
