header
  .search-header-inner
    .row.all-centered
      .col-md-8
        .flex-space-between.flex-vertical-centered.flex-wrap
          .search-header-title
            h2
              span #{__('Global Search')}
          div
            search-header-form
          .search-options.flex-vertical-centered
            span.list-item.mdi.mdi-view-list.clickable(ng-class='{"toggle-active": !listDisplay}', ng-click="listDisplay=false")
            toggle-switch.toggle-switch(ng-model='listDisplay', color='white')
            span.list-item.mdi.mdi-calendar-clock.clickable(ng-class='{"toggle-active": listDisplay}', ng-click="listDisplay=true")
