sub-header
  search-sub-header

.row.search-body
  .ui-view(name="search-root")
    .col-md-3.visible-md
      .ui-view(name="search-desktop-sidebar")
    .col-xs-12.col-md-8.no-padding-xs
      .ui-view(name="search-result")
