.search-subheader
  .search-controls-wrapper
    .search-controls.flex-vertical-centered
      .search-show-aside
        a(href='', contextual-sidebar,  data-controller='searchSidebarController', data-content-template="/views/modules/search/desktop-sidebar.html")
          i.mdi.mdi-dots-vertical
      search-header-form
