.search-result

  .grouped(ng-repeat="group in groupedElements" ng-if="group.elements.length > 0")
      .block-header
        h2 {{::group.name}}

      .card.listview.lv-bordered.lv-lg.result-group
        infinite-list(load-more-elements='group.loadMoreElements()', scroll-inside-container='true')
          .lv-body
            .lv-item.media(ng-repeat="item in group.elements")
              block item
                ng-include(src="item.templateUrl")

      ul.nav.nav-pills.nav-stacked(ng-if='group.infiniteScrollDisabled')
        li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
