sub-header
  profile-edit-subheader.hidden-md

.container.col-xs-12.col-md-12.no-padding-xs
  .m-t-30.m-b-25.flex-space-between.hidden-xs
    button.btn.btn-default(type='button' ui-sref='profile')
      i.mdi.mdi-reply
      | #{__('Cancel')}
    .edit-profile
      .header-label #{__(' Edit Profile')}
    ul.actions.flex-space-around
      li.profile-dropdown.dropdown
        button.btn.btn-primary(ui-sref='profile', ng-click='updateProfile(user)')
          i.mdi.mdi-pencil
          | #{__('Save')}
  .card
    profile-edition-form
