sub-header
  profile-show-subheader

.container.full-width.no-padding-xs(sub-header-aware)
  #profile-main.card
    .pm-overview
      profile-overview(user="user")
    .pm-body.clearfix
      .ui-view(name="main")
