@application-menu-icon-color: #333333;

.popover.application-menu {
  max-width: 300px;
  width: 300px;
  .flex() !important; /* override angular-strap display property */
  .flex-vertical-centered();
  .flex-start();
  .flex-wrap();
  div, div > a {
    .all-centered();
    .flex-column();
    .col-xs-4();
    height: 90px;
    color: @application-menu-icon-color;
    .label {
      color: black;
      font-size: 100%;
    }
  }
  i.mdi {
    font-size: 46px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .popover.application-menu {
    max-width: 350px;
    width: 350px;
  }
}
