.popover.application-menu {
  margin-top: 38px;
  max-width: 350px;
  width: 350px;
  .flex() !important; /* override angular-strap display property */
  .flex-vertical-centered();
  .flex-start();
  .flex-wrap();
  div {
    .all-centered();
    .flex-column();
    .col-xs-4();
    height: 90px;
    .label {
      color: black;
      font-size: 100%;
    }
  }
  i.mdi {
    font-size: 46px;
  }
}
