.application-display {
  .card;
  .flex-start;

  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;

  .application-display-image-container {
    width: 20%;

    .application-display-image {
      width: 100%;
    }
  }

  .application-display-information {
    margin-left: 20px;
  }
}