/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.box-overlay-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; // Notifications have z-index: 1030 and we want them over us
}

.box-overlay-open {
  .flex-column;

  position: absolute;
  left: 0;
  top: @header-height;
  width: 100%;
  height: ~"calc(100% - @{header-height})";
  z-index: 5;

  border: none;

  .panel-heading {
    background-color: @primaryColor;
    color: @textPrimaryColor;

    i, span {
      color: @textPrimaryColor;
    }
  }

  .panel-title {
    cursor: pointer;
  }

  .panel-body {
    .flex-column;
    .flex-shorthand(1);

    padding: 0;
  }

  &.minimized {
    max-height: 40px;
    top: ~"calc(100% - 40px)";

    .toggle-minimize {
      .rotateZ3d(180deg);
    }

    .panel-body {
      display: none;
    }
  }

  .close {
    margin-left: 5px;
  }

  .toggle-minimize {
    .rotateZ3d(0deg);
    transition: transform 0.1s ease-out;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  .box-overlay-container {
    width: auto;
    height: 400px;
    right: 100px;

    &.maximized {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-color: rgba(0, 0, 0, 0.3);

      .box-overlay-open.minimized {
        .toggle-minimize {
          display: none;
        }
      }
    }
  }

  .box-overlay-open {
    left: auto;
    top: auto;
    bottom: 0;
    width: 400px;
    height: 400px;
    float: right;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.maximized {
      position: absolute;
      width: 90%;
      height: 80%;
      top: 10%;
      left: 5%;
    }
  }
}
