.communities-display {
  .lv-title {
    font-weight: bold;
  }
}

.community-description {
  margin: 14px;

  .text {
    margin-left: 14px;
  }
}

.community-header {
  h2 {
    color: @m-white;
  }
}

.esn-members-badge {
  position: absolute;
  color: @text-color;
  background-color: @accentColor;
  padding: 2px 3px;
  top: 0px;
  right: 3px;
  border-radius: 8px;
  font-size: 0.5em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .esn-members-badge {
    font-size: 1em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
