.communities-list {
  margin-top: 15px;

  .listview {
    .btn {
      .ellipsis;
    }
  }
}

.communities-display {
  .lv-title {
    font-weight: bold;
  }

  .description {
    color: @secondaryTextColor;
  }
}

.block-header {
  margin-top: 30px;
}

.community-description {
  margin: 14px;

  .text {
    margin-left: 14px;
  }
}


.esn-members-badge {
  margin: 5px;
  position: absolute;
  color: @text-color;
  background-color: @accentColor;
  padding: 1px 3px;
  right: 3px;
  border-radius: 50%;
  font-size: 0.5em;
}

.listview {
  .lv-img-xl {
    width: 80px;
    height: 80px;
  }

  .lv-img-md {
    width: 48px;
    height: 48px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  .esn-members-badge {
    font-size: 1em;
  }

  .listview {
    .lv-img-xl {
      width: 128px;
      height: 128px;
    }

    .lv-img-md {
      width: 80px;
      height: 80px;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}
