.dynamic-menu {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    .col-xs-4;
    height: 100px;
  }
  i.mdi {
    font-size: 46px;
  }
}
