@subHeaderBackground: darken(@primaryColor, 3%);
@subHeaderShadow: rgba(0, 0, 0, 0.3);
@headerAvatarShadow: rgba(0, 0, 0, 0.2);

#header {
  background-color: @primaryColor;
  padding-right: 0;
  z-index: @header-z-index;
  box-shadow: none;

  .header-inner {
    padding: 0;
    height: 100%;

    .toggle-switch label {
      margin-bottom: 2px;
      transform: scale(0.8);
    }

    .logo {
      padding: 0;
      a {
        padding: 0 0 0 5px;
        .openpaas-logo {
          height: 35px;
          width: 150px;
        }
      }
    }

    ul {
      margin: 0;
    }

    li.hover-scale-animation {
      position: relative;
      width: 40px;
      height: 40px;
      padding: 0;

      > a {
        .all-centered;
        position: absolute;
        width: 100%;
        height: 100%;

        > i.mdi {
          font-size: 2em;
          color: @textPrimaryColor;
        }
      }
    }

    .dropdown-open-animation {
      .drop-menu-open-animation(top right);
    }

    .toggle-fullscreen {
      display: none;
      &.browser-firefox,
      &.browser-chrome,
      &.browser-opera  {
        display: block;
      }
    }
  }
  .header-actions{
    padding-right: 5px;
  }
  .avatar-container {
    margin-left: 5px;

    .header-avatar {
      height: 30px;
      width: 30px;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 1px 1px @headerAvatarShadow;
      cursor: pointer;
    }
  }
}

#header.hide-top {
  transform: translate3d(0, -65px, 0);
}

#sub-header {
  height: @sub-header-height;
  width: 100%;
  background-color: @primaryColor;
  position: relative;

  .mdi {
    font-size: 1.9em;
    color: @textPrimaryColor;
    vertical-align: sub;
  }

  .row {
    margin: 0;

    a, button.btn-link {
      text-transform: uppercase;
      color: @textPrimaryColor;
      font-size: 1.1em;
      font-weight: 500;
      text-align: left;
    }

    button.btn-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .row > .right-action {
    text-align: right;
    float: right;
  }

  ul.dropdown-menu li a {
    color: @secondaryTextColor;
    cursor: pointer;
    text-transform: capitalize;
  }
}

.subheader-aware {
  margin-top: @sub-header-height;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

  #header {
    li.hover-scale-animation > a {
      &:hover {
        i.mdi {
          color: @accentColor;
        }
      }
    }

    #sub-header {
      background-color: @subHeaderBackground;
      box-shadow: 0 1px 4px @subHeaderShadow;
    }
  }
}
