body.login {
  &:after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 1px;
  }

  &:before {
    height: 49%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: @primaryColor;
    content: "";
    z-index: 0;
  }
}

.login-content {

  i.mdi {
    font-size: x-large;
  }

  .lc-block {
    vertical-align: middle;
    position: relative;

    width: 600px;
    padding: 30px 30px;
    margin-top: -60px;

    background: @m-white;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    display: inline-block;

    @media (max-width: @screen-xs-max) {
      padding: 15px 35px 25px 20px;
      width: 100%;
    }

    .btn-group {
      box-shadow: none;
      .btn{
        color: @secondaryTextColor;
      }
    }

    .checkbox {
      margin: 5px 0 0 42px;
      text-align: left;
    }

    .btn-login {
      bottom: -5%;
      right: 7%;
      line-height: inherit;
      color: @text-color;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14),0 4px 8px rgba(0, 0, 0, 0.28);
      padding-top: 10px;
      opacity: 0;

      .zoomIn();

      &.card-delay {
        animation-delay: .25s;
      }
    }

    &.toggled {
      z-index: 10;
    }
  }

  h1, h2, h3, h4 {
    font-family: @defaultFont;
    font-weight: 400;
  }
  h4 {
    color: @secondaryTextColor;
  }

  .login-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0%;
    bottom: 0;

    .btn-default {
      color: @secondaryTextColor;
    }
  }

  .zoomIn {
    animation: zoomIn .25s ease-out forwards;
  }
}


@keyframes zoomIn {
  0% {
    transform: scale3d(0,0,0);
    opacity: 0;
  }
  100% {
    transform: scale3d(1,1,1);
    opacity: 1;
  }
}