.member-search-item {
  & > span {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

.member-container {
  .clickable;

  esn-avatar img {
    width: @searchAvatarSize;
    border-radius: 3px;
  }
}
