.message-input {
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-top: 12px;

  .message-selector {
    i {
      font-size: x-large;
    }
  }
}

.message-add-comment {
  margin-bottom: 20px;
  margin-top: 20px;
}