
.aside#contextual-sidebar {
  width: 268px;

  .aside-body {
    padding: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #sidebar {
    top: 65px;
  }
}
