
.aside#contextual-sidebar {
  width: 268px;
  top: 65px;

  .aside-body {
    padding: 0;
  }
}

#sidebar {
  z-index: 11;
  top: 0;
  height: 100%;
  .profile-menu {
    & > a {
      background: transparent url("../../../images/sidebar.png") no-repeat scroll left top / 100% auto;
    }
    .profile-info > span {
      text-decoration: none;
    }
  }

  .main-menu {
    & > li {
      & > a {
        &:hover, &.active {
          text-decoration: none;
        }
      }
      &.sub-menu {
        & > a {
          &:before, &:after {
            font-family: 'MaterialDesignIcons';
          }
          &:before {
            content: "\f454";
            .scale3d(1,1,1);
          }
          &:after {
            content: "\f3d0";
            .scale3d(0,0,0);
          }
        }
        &.toggled {
          & > a {
            &:before {
              content: "\f454";
              .scale3d(0,0,0);
              transform: rotateX(-90deg);
            }
            &:after {
              content: "\f3d0";
              .scale3d(1,1,1);
            }
          }
        }
        img {
          height: 25px;
          width: 25px;
          margin-right: 10px;
        }
        & > ul > li > a {
          padding-left: 30px;

          .ellipsis {
            .flex-vertical-centered;
          }

          i {
            padding-right: 5px;
            font-size: 1.4em;
          }

          &.browse-link {
            color: lighten(@text-color, 38%);
            text-transform: uppercase;
            .mdi {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
  #sidebar {
    top: 65px;
  }
}
