.esn-tab {
  .tab-nav;
  .flex;

  font-size: 14px;

  & > li {
    flex-grow: 1;
    text-align: center;

    & > a {
      padding: 14px 8px;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }

  &:not(.tn-vertical) {
    &:not([data-tab-color]) {
      & > li > a:after {
          background: @primaryColor;
      }
    }
  }
}

select {
  &:not([disabled]){
    &:focus {
      .md-select-value {
        border-bottom-color: @primaryColor;
      }
    } 
  }
}

@media(min-width: @screen-md-min) {
  .esn-tab > li {
    flex-grow: 0;

    & > a {
      padding: 14px;
    }
  }
}
