.mini-calendar
  esn-calendar.calendar(config='miniCalendarConfig', calendar-ready='calendarReady', ng-class="{activeCalendar: hideCalendar}", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()", ng-swipe-disable-mouse)