<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  Please confirm your password reset request by clicking on the link below:

  <a href='<%= url %>'>Click here to complete the password reset process!</a>
</p>
<p>
  Note that this link will remain valid for 2 days. After that you will have to request another password reset.
</p>

Sincerely,
The OpenPaaS Team!
