.modal.calendar-color-picker
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('Pick a color')}
      .modal-body
        .square-box(ng-repeat="color in colorKeys", class="{{color}}", ng-class="{selected: isSelected(color)}", ng-click="select(color)")
          .color-box(ng-style="{'background-color': CAL_LIST_OF_COLORS[color]}")
      .modal-footer
        button.btn.btn-link(type="button", ng-click="$hide()") #{__('Cancel')}
        button.btn.btn-primary(type="button", ng-click="set(); $hide()") #{__('Set')}
