.dynamic-menu(dynamic-directive='dynamic-menu-actions')
  div
    i.mdi.mdi-pencil
    span.label Edit
  div
    i.mdi.mdi-calendar
    span.label Invite
  div
    i.mdi.mdi-share
    span.label Share
