.follow-button
  button.btn.btn-default.unfollow(type="submit", ng-click="following ? unfollow() : follow()")
    i.mdi.mdi-account-minus(ng-if='following')
      | #{__('Unfollow')}
    i.mdi.mdi-account-plus(ng-if='!following')
      | #{__('Follow')}
