.filter-input
  input.filter-input-field.form-control(ng-model="$ctrl.query", placeholder=__('Filter') + "\u2026")
  i.filter-input-clear.clickable.mdi.mdi-close-circle(ng-click="$ctrl.clearFilter()", ng-show="$ctrl.query")
