.filter-input {
  i {
    color: @secondaryTextColor;
    font-size: 1.8em;
    margin: 0.4em;
  }

  input {
    width: 85%;
    padding: 2px;
    background: transparent;
    color: @secondaryTextColor !important; /* override default form color from material */
  }
}