.filter-input.flex-horizontal-centered
  i.mdi.mdi-magnify
  input.form-control(ng-model="$ctrl.query", placeholder=__('Filter...'))
  i.inbox-filter-input-clear.clickable.mdi.mdi-close-circle(ng-click="$ctrl.clearFilter()")