.filter-input {
  padding: 0 1.1em;

  &:before {
    font-family: 'MaterialDesignIcons';
    content: "\f349"; // mdi-magnify
    position: absolute;
    font-size: 1.8em;
    color: @secondaryTextColor
  }

  .filter-input-field.form-control {
    width: 100%;
    background: transparent;
    padding-left: 2em;
  }

  .filter-input-clear {
    position: absolute;
    right: 1em;
    top: 3.6em;
    font-size: 1.5em;
    color: @secondaryTextColor;
  }
}