.attachments-zone(ng-click="focusEmailBody()")
  .attachments(ng-if="email.attachments.length > 0")
    .clickable.attachment(ng-repeat="attachment in email.attachments | orderBy:'-'", ng-if="::!attachment.isInline", ng-class="{ error: attachment.error }", name="attachment-{{$index}}")
      .progress(ng-if="attachment.status === 'uploading'", ng-style="{ width: attachment.upload.progress + '%' }")
      .icon(ng-switch='attachment.status')
        img(ng-switch-when="error", src="/images/exclamation.svg")
        img(ng-switch-when="uploading", src="/images/upload.svg")
        img(ng-switch-when="uploaded", fallback-src="/images/file-icons/default.png", src="/images/file-icons/default.png", ng-src="/images/file-icons/{{ ::attachment.type | extension }}.png")
      .metadata
        .name.ellipsis {{ ::attachment.name }}
        .size {{ ::attachment.size | bytes }}