.card-body.card-padding.text-center(ng-if="ctrl.error", ng-switch="ctrl.error")
  span(ng-switch-when="403") #{__('Error, you do not have the permission to read memberships')}.
  span(ng-switch-default) #{__('Error while getting memberships')}.

infinite-list.listview(load-more-elements='ctrl.loadMoreElements()', scroll-inside-container="ctrl.scrollInsideContainer")
  .lv-body
    .collaboration-membership-requests-members(ng-repeat="request in ctrl.elements | orderBy: '-date'" ng-if="ctrl.elements.length > 0 && !ctrl.error")
      esn-collaboration-member-avatar(member="request", collaboration="ctrl.collaboration")
      esn-collaboration-membership-requests-actions(user='request.user', collaboration='ctrl.collaboration', object-type="{{ctrl.objectType}}")

.card-body.card-padding.no-request.text-center(ng-if="!ctrl.elements.length && ctrl.infiniteScrollCompleted")
  span #{__('No pending request')}
ul.nav.nav-pills.nav-stacked(ng-if='ctrl.infiniteScrollDisabled')
  li.text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.5')
