.collaboration-membership-requests-actions
  button.btn.btn-icon.btn-link(ng-click="ctrl.accept()" ng-disabled="ctrl.sending || ctrl.done", bs-tooltip, data-title=__('Accept'), data-placement="bottom")
    i.mdi.mdi-check

  button.btn.btn-icon.btn-link(ng-click="ctrl.decline()" ng-disabled="ctrl.sending || ctrl.done", bs-tooltip, data-title=__('Decline'), data-placement="bottom")
    i.mdi.mdi-close
