button.btn.btn-link.close.button.hidden-xs(href='', esn-back-button='unifiedinbox')
  .flex-vertical-centered
    i.mdi.mdi-close.mdi-margin-right
    span #{__('Cancel')}

button.btn.btn-link.btn-icon.close.button.visible-xs(href='', esn-back-button='unifiedinbox')
  i.mdi.mdi-close
