button.btn.btn-link.save.hidden-xs(ng-disabled="$ctrl.form && !$ctrl.form.$valid")
  .flex-vertical-centered
    span #{__('Save')}
    i.mdi.mdi-check.mdi-margin-left

button.btn.btn-link.btn-icon.save.visible-xs(ng-disabled="$ctrl.form && !$ctrl.form.$valid")
  i.mdi.mdi-check