button.btn.btn-link.save.hidden-xs(href='')
  .flex-vertical-centered
    span #{__('Save')}
    i.mdi.mdi-check.mdi-margin-left
button.btn.btn-link.btn-icon.save.visible-xs(href='')
  i.mdi.mdi-check