.modal
  .modal-dialog
    .modal-content
      li.actions.actions-center.mobile-modal
        a.diplay-inline(ng-href='', title="#{__('Forward')}")
          i.mdi.mdi-v-centered.mdi-forward
        a.diplay-inline(ng-href='', title="#{__('Reply')}")
          i.mdi.mdi-v-centered.mdi-reply
        a.diplay-inline(ng-href='', title="#{__('Reply all')}")
          i.mdi.mdi-v-centered.mdi-reply-all
