ul.dropdown-menu.dropdown-menu-right
  li
    a(ng-href='', title="#{__('Reply')}")
      i.mdi.mdi-v-centered.mdi-left.mdi-reply
  li
    a(ng-href='', title="#{__('Reply all')}")
      i.mdi.mdi-v-centered.mdi-left.mdi-reply-all
  li
    a(ng-href='', title="#{__('Forward')}")
      i.mdi.mdi-v-centered.mdi-left.mdi-forward  
