form.compose(ng-submit="send()")
  input.form-control(type="text", placeholder="to", autofocus=true)
  textarea.form-control(type="text", placeholder="Hello, ..")
  .btn-group(role="group", aria-label="label")
    button.btn.btn-primary(type="submit", value="submit") Send 
      i.mdi.mdi-send