fab.hidden-sm.hidden-xs(box-overlay, box-auto-destroy="false", box-title="Compose an email", box-template-url="/unifiedinbox/views/partials/box-compose-desktop.html")
fab.hidden-md.hidden-lg(box-overlay, box-auto-destroy="true", box-title="Compose an email", box-template-url="/unifiedinbox/views/partials/box-compose.html")