a.attachment(ng-href="{{ ::attachment.url }}", target="_blank")
  .icon
    img(fallback-src="/images/file-icons/default.png", src="/images/file-icons/default.png", ng-src="/images/file-icons/{{ ::attachment.type | extension }}.png")
  .metadata
    .name.ellipsis {{ ::attachment.name }}
    .size {{ ::attachment.size | bytes }}
