fab.hidden-sm.hidden-xs(icon="pen", box-overlay, box-auto-destroy="false", box-title="#{__('Compose an email')}", box-template-url="/unifiedinbox/views/partials/box-compose-desktop.html")
fab.hidden-md.hidden-lg(icon="pen", box-overlay, box-auto-destroy="true", box-title="#{__('Compose an email')}", box-template-url="/unifiedinbox/views/partials/box-compose.html")