.inbox-vacation-indicator(ng-if="inbox.vacationActivated")
  | #{__('Your vacation responder is enabled.')}
  button.btn.btn-link.inbox-disable-vacation(ng-click="ctrl.disableVacation()") #{__('Disable')}
