a.clickable(desktop-hover='isHover = hover')
  i.mdi(ng-if='item.isFlagged', ng-class='{ "mdi-star-off waves-notransition": isHover, "mdi-star waves-notransition": !isHover }', desktop-click='ctrl.setIsFlagged(false)', title="#{__('Star off')}")
  i.mdi(ng-if='!item.isFlagged', ng-class='{ "mdi-star-outline waves-notransition": !isHover, "mdi-star waves-notransition": isHover }', desktop-click='ctrl.setIsFlagged(true)', title="#{__('Star')}")
