.col-xs-12.col-md-10

  .groupedEmails(ng-repeat="group in groupedEmails" ng-if="group.emails.length > 0")
    .block-header
      h2 {{::group.name}}

    .card.listview.lv-bordered.lv-lg
      .lv-body
        .lv-item.media(ng-repeat="email in group.emails")
          a(ng-href="/#/unifiedinbox/{{::mailbox}}/{{::email.id}}")
            .media-body(ng-class="::{bold: email.isUnread}")
              .lv-title.text-right.pull-right-sm
                i.mdi.mdi-attachment(ng-if="::email.hasAttachment")
                span.date {{::email.date | date: group.dateFormat}}
              .avatarify
                .lv-title {{::email.subject}}
                emailer.lv-title(emailer="::email.from")
                .clearfix
            .lv-small.preview {{::email.preview}}
