.card
  .card-header
    h2 #{__('Unified Inbox')}

  .listview.lv-bordered.lv-lg
    .lv-body
      div Unified Inbox content

  button.btn.btn-float.bgm-accent.m-btn(box-overlay, box-auto-destroy="false", box-title="Compose an email", box-template-url="/unifiedinbox/views/partials/compose.html")
    i.mdi.mdi-plus