.card.email-view

  .listview.zoomIn
    .lv-header-alt
      h2.lvh-label
        span.c-black.lead {{email.subject}}
      ul.lv-actions.actions
        li
          a(ng-href="/#/unifiedinbox/{{mailbox}}" title="Go to the mailbox")
            i.mdi.mdi-v-centered.mdi-folder
        li
          a(ng-click="moveToTrash()" title="Move to trash")
            i.mdi.mdi-v-centered.mdi-delete
        li
          a(href="")
            i.mdi.mdi-v-centered.mdi-check
        .lv-actions.actions.dropdown
          a(href="" data-toggle="dropdown" aria-expanded="false")
            i.mdi.mdi-v-centered.mdi-dots-vertical
          ul.dropdown-menu.dropdown-menu-right
            li
              a(href="") Delete
              
    .lv-header-alt.bgm-white
      .lv-item
        .lv-avatar.pull-left
          img.lv-img-sm(src="images/user.png")
          span {{email.from.name}}
          a.small(ng-href="mailto:{{::email.from.email}}") {{email.from.email}}
        .pull-right
          span {{email.date | date}}

    .lv-body
      .lv-item(ng-if="email.htmlBody" ng-bind-html="email.htmlBody")
      .lv-item.multilines(ng-if="!email.htmlBody") {{email.textBody}}
      .lv-item(ng-if="!email.htmlBody && !email.textBody") {{email.preview}}
        .text-center(openpaas-logo-spinner, spinner-start-active='1',spinner-size='0.5')

    .lv-footer.clearfix(ng-if="email.attachments.length > 0")
      .lv-item
        i.mdi.mdi-lg.mdi-attachment
      .col-xs-3(ng-repeat="att in email.attachments")
        .card
          .card-header.ch-alt
            span {{att.name}}
            ul.lv-actions.actions
              li
                a(ng-href="{{att.url}}")
                  i.mdi.mdi-v-centered.mdi-download

    .lv-footer
      textarea(placeholder="Compose a new message there")
      button
        i.mdi.mdi-v-centered.mdi-send
        
