h1.text-center #{__('application is loading...')}

span(us-spinner="{lines: 7, length: 30, width: 5, radius: 30, corners: 1, rotate: 0, direction: 1, speed: 1, trail: 50}",
                    spinner-start-active='1')