mixin injectJSFromModules(module, assets)
  each asset in assets.type('js').all()
    script(src='/' + asset.namespace + '/js/' + asset.name)

mixin injectJSAppFromModules(module, assets)
  each asset in assets.type('jsApp').all()
    script(src='/' + asset.namespace + '/app/' + asset.name)

mixin injectAngularFromModules(module, assets)
  - var moduleInjections = assets.type('angular').allNames()
  script(type='text/javascript')
    | var angularInjections = []
    if (moduleInjections && moduleInjections.length)
      | .concat("#{moduleInjections}".split(','))
    | ;
