mixin injectJSFromModules(module, injections)
  each injection, key in injections
    - var moduleInjections = injection[module]
    if (moduleInjections && moduleInjections.js)
      each file in moduleInjections.js
        script(src='/' + key + '/js/' + file)

mixin injectJSAppFromModules(module, injections)
  each injection, key in injections
    - var moduleInjections = injection[module]
    if (moduleInjections && moduleInjections.app && moduleInjections.app.js)
      each file in moduleInjections.app.js
        script(src='/' + key + '/app/' + file)

mixin injectAngularFromModules(module, injections)
  script(type='text/javascript')
    | var angularInjections = []
    each injection, key in injections
      - var moduleInjections = injection[module]
      if (moduleInjections && moduleInjections.angular)
        | .concat("#{moduleInjections.angular}".split(','))
    | ;
