mixin injectJSFromModules(module, injections)
  each injection, key in injections
    - var moduleInjections = injection[module]
    if (moduleInjections && moduleInjections.js)
      each file in moduleInjections.js
        script(src='/' + key + '/js/' + file)

mixin injectJSAppFromModules(module, assets)
  each asset in assets.type('jsApp').all()
    script(src='/' + asset.namespace + '/app/' + asset.name)

mixin injectAngularFromModules(module, injections)
  script(type='text/javascript')
    | var angularInjections = []
    each injection, key in injections
      - var moduleInjections = injection[module]
      if (moduleInjections && moduleInjections.angular)
        | .concat("#{moduleInjections.angular}".split(','))
    | ;
