extends /modules/subheader/responsive-subheader

block left
  button.btn.btn-link(esn-back-button)
    i.mdi.mdi-arrow-left

block right
  button.btn.btn-link(ui-sref='calendar.edit({ addUsersFromDelegationState : { selection: $ctrl.selection, newUsersGroups:$ctrl.newUsersGroups }})')
    | #{__('Add')}
    i.mdi.mdi-plus