.row
  .col-xs-12.no-padding-xs
    sub-header
      calendar-edit-delegation-add-users-header(selected-sharee-right="$ctrl.selectedShareeRight", new-users-groups="$ctrl.newUsersGroups")
    .card-body.card-padding.visible-xs
      .row
        .col-sm-6.col-xs-12
          span #{__('Delegation on this calendar')}
      .row
        users-autocomplete-input(mutable-users='$ctrl.newUsersGroups')
      .row
        .col-sm-6.col-xs-12
          div.select
            select.form-control(ng-model="$ctrl.selectedShareeRight")
              option(ng-repeat="delegationType in ::$ctrl.delegationTypes", value="{{delegationType.value}}") {{delegationType.name | esnI18n}}
