.admin-sidebar
  .admin-sidebar-close.visible-md
    a(href='', ng-click='$hide();close()')
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body
        .lv-item.clickable.menu-heading
          i.mdi.mdi-server
          .menu-title #{__('Administration Center')}
