.col-xs-12
  .form-group
    .input-group
      span.input-group-addon
        i.mdi.mdi-account-multiple-plus
      .fg-line
        tags-input.form-control(ng-model='ctrl.mutableAttendees', display-property='displayName', key-property='id', placeholder='#{__("Attendees")}', on-tag-adding='ctrl.onAddingAttendee($tag)', replace-spaces-with-dashes='false', type='email')
          auto-complete(source='ctrl.getInvitableAttendees($query)', max-results-to-show= '5', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/attendees.html")
