.community-members.card
  esn-community-members-tabs(community="$ctrl.community")
  .card-body
    esn-collaboration-members(readable='$ctrl.canRead()', collaboration='$ctrl.community', object-type-filter='user')
