.community-members.card
  .membership
    community-pending-invitation-list(community="$ctrl.community")

  .members
    esn-collaboration-members(readable='canRead()', collaboration='$ctrl.community', object-type-filter='user')
