.community-members.card
  .membership(ng-if="$ctrl.isCommunityManager()")
    .card-header
      h2 #{__("Invitations sent")}
    .card-body
      community-pending-invitation-list(community="$ctrl.community")

  .members
    .card-header
      h2 #{__("Members")}
    .card-body
      esn-collaboration-members(readable='$ctrl.canRead()', collaboration='$ctrl.community', object-type-filter='user')
