.share-widget
  a.cancel(href="", ng-click='cancel()')
    i.nomargin.remove.fa.fa-remove

  img.avatar.nopadding(src='/images/community.png', ng-src="/api/avatars?objectType={{share.target.objectType}}&id={{share.target._id}}")

  div.ellipsis
    span.name {{::share.target.displayName}}