.community-members.card
  esn-community-members-tabs(community="$ctrl.community")
  .membership(ng-if="$ctrl.isCommunityManager()")
    .card-body
      esn-collaboration-invite-users(object-type="community", collaboration="$ctrl.community")
      esn-community-pending-invitation-list(community="$ctrl.community", object-type-filter='user')
