.module-subheader.row.all-centered
  .col-xs-12.col-md-8.no-padding-xs
    .flex-wrap.flex-vertical-centered.all-centered.module-subheader-inner.hidden-xs
      span.title.ellipsis.all-centered #{__('Global Search')}
    .module-subheader-inner.visible-xs
      esn-search-header
