.modal.fade.attachment-modal-preview(id="{{file._id}}", role='dialog')
	.modal-dialog(ng-style='modalDialogStyle')
		button.close(type='button', data-dismiss='modal') ×
		.modal-content
			.modal-body
				img.img-responsive(ng-src="{{image.path}}", alt="{{file.name}}",ng-style='imgStyle')