.attachments(ng-show='message.attachments && message.attachments.length > 0')
  .col-xs-12.col-sm-6.col-md-4(ng-repeat='attachment in message.attachments')
    message-attachment(attachment='attachment')
