hr
.listview
  .lv-item.clickable.inbox-item-with-icon.folder-with-icon.waves-effect.waves-classic(ui-sref="unifiedinbox.configuration", ui-sref-active="{ 'selected': 'unifiedinbox.configuration'}", title="#{__('Configuration')}")
    .badge-container
      i.inbox-icon.mdi.mdi-settings
    .menu-item
      bdi #{__('Configuration')}
