hr
.listview
  .lv-item.clickable.inbox-item-with-icon(ui-sref="unifiedinbox.configuration", ui-sref-active="{ 'selected': 'unifiedinbox.configuration'}")
    .badge-container
      i.inbox-icon.mdi.mdi-settings
    .menu-item
      bdi
      | #{__('Configuration')}
