.lv-item.clickable.inbox-item-with-icon.waves-effect.waves-classic(ui-sref='unifiedinbox.inbox.folders.add', title="#{__('New folder')}", ng-click="$hide()")
  .badge-container
    i.inbox-icon.mdi.mdi-plus
  .menu-item
    bdi
      | #{__('New folder')}
