.lv-item.clickable.inbox-item-with-icon(ui-sref='unifiedinbox.configuration.folders.add', title="#{__('New folder')}")
  .badge-container
    i.inbox-icon.mdi.mdi-plus
  .menu-item
    bdi
      | #{__('New folder')}
