extends /modules/subheader/responsive-subheader

block left
  span.title.extra-title.ellipsis #{__('General')}

block right
  button.btn.bgm-amber.waves-effect(esn-submit="$ctrl.onFormSubmit()", ng-disabled="$ctrl.form.$pristine")
    span
      | #{__('Save')}
    i.mdi.mdi-check
