<p>
  Hi <%= firstname %> <%= lastname %>!
</p>
<p>
  We would like to inform you that your OpenPaaS password have correctly been changed.
</p>
<p>
  You can sign in at <%= url %>.
</p>
<p>
  Please do not reply to this email.
</p>

Sincerely,
The OpenPaaS Team!
