div
  header#header
    div(ng-if='enableScrollListener && !disableByEvent', scroll-listener, data-on-scroll-down='hide', data-on-scroll-top='show', data-on-scroll-up='show', data-on-destroy='show', data-disabled='isDisabled')

    div.header-inner.flex-vertical-centered.flex-space-between
      ul.list-inline.all-centered
        li.logo
          a(href='#')
            img.openpaas-logo(src="/images/white-logo.svg")
      ul.list-inline.all-centered.header-actions
        li.hover-scale-animation
          a(href='')
            i.mdi.mdi-magnify(ui-sref='search.main')
        li.hover-scale-animation.toggle-fullscreen(device-detector)
          a(href='', ng-click='toggleFullScreen()')
            i.md.mdi.mdi-fullscreen
        li.hover-scale-animation
          application-menu-toggler
        li.avatar-container(ng-controller='avatarController' ui-sref='controlcenter.profile')
          img.header-avatar(ng-src="{{avatarURL}}")
    sub-header-container.visible-xs(hide-on-empty="true")
  sidebar
  api-notification
