div
  header#header.search-toggled
    div(ng-if='enableScrollListener && !disableByEvent', scroll-listener, data-on-scroll-down='hide()', data-on-scroll-top='show()', data-on-scroll-up='show()', data-on-destroy='!disableByEvent && show()', data-disabled='isDisabled')

    div.header-inner.flex-vertical-centered.flex-space-between
      ul.list-inline.all-centered
        li.logo
          a(href='', ui-sref='home')
            img.openpaas-logo(src="/images/white-logo.svg", alt=__("OpenPaas Logo"))

      search-header

      ul.list-inline.all-centered.header-actions
        li.hover-scale-animation.toggle-fullscreen
          a(href='', ng-click='toggleFullScreen()')
            i.md.mdi.mdi-fullscreen
        li.hover-scale-animation
          esn-user-notification-toggler
        li.hover-scale-animation
          application-menu-toggler
        li
          profile-menu.profile-menu
    sub-header-container
  sidebar
  api-notification
