.card.account-card
  .card-body
    .flex-start
      .p-10.flex-noshrink
        a(target='_blank' ng-href='https://twitter.com/{{::account.data.username}}')
          .card-image
            .mdi.mdi-twitter
      .p-t-10.p-r-10.account-info
        div
          h3 {{::account.data.display_name}}
          a(target='_blank' ng-href='https://twitter.com/{{::account.data.username}}') @{{::account.data.username}}

