a.lv-item.calendar-item(href="", ng-repeat="calendar in $ctrl.calendars track by $index")
  .media.row
    .col-md-10
      .media(ng-click="$ctrl.toggleCalendar(calendar)")
        .pull-left(ng-if="!$ctrl.hiddenCalendars[calendar.uniqueId]", title="#{__('Hide calendar')}")
          i.mdi.mdi-checkbox-marked-outline(ng-style="{'color': calendar.color}")
        .pull-left(ng-if="$ctrl.hiddenCalendars[calendar.uniqueId]", title="#{__('Show calendar')}")
          i.mdi.mdi-checkbox-blank-outline
        .media-body.hidden-md
          .lv-title
            span {{calendar.name}}
        .media-body.visible-lg-block(title="{{ calendar.name }}")
          .lv-title
            span {{calendar.name}}
    .col-md-2.hidden-xs(title="#{__('Configuration')}", ng-click="$ctrl.goTo(calendar.uniqueId)")
      i.mdi.mdi-settings
