.card
  .card-body
    .listview.lv-bordered
      .lv-body
        .lv-item
          .flex-space-between.flex-vertical-centered
            div(ng-if="$ctrl.domainId") #{__('Synchronize domain members address book')}
            div(ng-if="!$ctrl.domainId") #{__('Synchronize domain members address books for entire platform')}
            div
              button.btn.btn-primary(ng-click="$ctrl.onSyncBtnClick()") #{__('Run')}