.calendar-left-pane {
  width: @calendarLeftPaneWidth;
  top: ~"calc(@{header-height} + @{sub-header-height})";
  bottom: 0;
  margin-top: 20px;
  position: fixed;
  overflow: hidden;

  &:hover {
    width: ~"calc(@{calendarLeftPaneWidth} + @{scrollbarWidth})";
    overflow-y: auto;
  }

  .fc-event .fc-title {
    text-align: center;
  }

  .card-header {
    padding: 0;
  }
}