.calendar-left-pane {
  bottom: 0;
  width: ~"calc(@{calendarLeftPaneWidth} + @{scrollbarWidth})";
  margin-top: 20px;
  position: fixed;
  overflow-y: scroll;

  .fc-event .fc-title {
    text-align: center;
  }

  .card-header {
    padding: 0;
  }
}

@media (min-width: @screen-md-min) {
  .calendar-left-pane {
    top: ~"calc(@{header-height-md} + @{sub-header-height-md})";
  }
}

@media (min-width: @screen-xl-min) {
  .calendar-left-pane {
    top: ~"calc(@{header-height-xl} + @{sub-header-height-xl})";
  }
}