#attachmentViewerOverlay.attachment-viewer-overlay
#attachmentViewer.attachment-viewer
  .av-outerContainer
    .av-container
      #mainContent
        img.lb-image(src='data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==')
      .av-nav
        a.av-prev(href='')
        a.av-next(href='')
      .av-loader
        a.av-cancel
  .av-dataContainer
    .av-data
      .av-details
        span.av-caption
        span.av-number
      .av-closeContainer
        a.av-close
