//.modal.fade(id='{{file._id}}', role='dialog')
//  .modal-dialog(ng-style="modalDialogStyle")
 //   button.close(type='button', data-dismiss='modal') ×
  //  .modal-content
   //   .modal-body
   //     esn-video-viewer(ng-if="file.contentType.indexOf('video')!==-1", file="file")
    //    esn-image-viewer(ng-if="file.contentType.indexOf('image')!==-1", file="file")

#lightboxOverlay.lightboxOverlay
#lightbox.lightbox
  .lb-outerContainer
    .lb-container
      .lb-nav
        a.lb-prev(href='')
        a.lb-next(href='')
      .lb-loader
        a.lb-cancel
  .lb-dataContainer
    .lb-data
      .lb-details
        span.lb-caption
        span.lb-number
      .lb-closeContainer
        a.lb-close