@import "default-viewer/default-viewer";
@import "image-viewer/image-viewer";
@import "video-viewer/video-viewer";

@black-alpha-90: rgba(0, 0, 0, 0.9);
@black-alpha-20: rgba(102, 102, 102, 0.2);
@spinner-border-color: #f3f3f3;
@spinner-border-top-color: #555;
@nav-color: #7f7f7f;

esn-attachment-viewer {
  
  .av-fadeIn, .attachment-viewer {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .av-fadeIn {
    background-color: @black-alpha-90;
  }
  
  .attachment-viewer {
    display: table;
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 0.6s;
    animation-name: zoomin;
    animation-duration: 0.6s;
      
    .av-outerContainer {
      text-align: center;
      vertical-align: middle;
      display: table-cell;

      .av-main {
        display: inline-block;
      }

      .av-loader {
        position: relative;
        top: 48%;
        left: 0;
        z-index: -1;

        .av-spinner {
          display: block;
          width: 32px;
          height: 32px;
          margin: 0 auto;
          border: 5px solid @spinner-border-color;
          -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
          border-top: 5px solid @spinner-border-top-color;
          border-radius: 50%;
        }
      }

      span.nav {
        cursor: pointer;
        display: block;
        color: @nav-color;
        font-size: 60px;
        font-weight: bold;
        position: absolute;
        top: 45%;
      }

      span.av-prev {
        left: 0;
      }

      span.av-next {
        right: 0;
      }

      span.nav:hover {
        opacity: 1;
      }

    .av-topBar {
      margin: 0 auto;
      min-width: 250px;

      .av-details {
        .flex;

        color: @breadcrumb-color;
        background-color: @black-alpha-20;
        padding: 4px;

        .av-number {
          width: 35%;
          text-align: left;
        }

        .av-caption {
          width: 65%;
          text-align: right;
          font-weight: bold;
        }
      }

      .av-download {
        top: 15px;
        right: 110px;

        a {
          color: @m-white;
        }
      }

      .av-closeContainer {
        top: 15px;
        right: 35px;
      }

      .av-closeContainer,
      .av-download {
        cursor: pointer;
        position: absolute;
        font-size: 40px;
        color: @m-white;
      }

      .av-closeContainer:hover,
      .av-download:hover {
        opacity: 1;
      }
    }
  }

    .av-outerContainer.ng-hide{
      -webkit-animation-name: zoomout;
      -webkit-animation-duration: 0.6s;
      animation-name: zoomout;
      animation-duration: 0.6s;
    }
  }
}

@media only screen and (max-width: @screen-phone) {
  esn-attachment-viewer .attachment-viewer .av-outerContainer span.av-next {
    right: -10px;
  }

  esn-attachment-viewer .attachment-viewer .av-outerContainer span.av-prev {
    left: -10px;
  }
}

@-webkit-keyframes zoomin {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoomin {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}


@-webkit-keyframes zoomout {
  from {
    -webkit-transform: scale(1)
  }
  to {
    -webkit-transform: scale(0)
  }
}

@keyframes zoomout {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0)
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
