.av-fadeIn
.attachment-viewer(ng-if='onInit', ng-init='onInit()')
  .av-outerContainer
    .av-main
      .av-closeContainer(ng-click='close()', title=__("Close"))
        .av-close
          i.mdi.mdi-close-circle.mdi-hc-fw.av-closeButton
      .av-attachment-content
      .av-details
        .av-number {{numberInGallery}}
        .av-download
          a(href='{{attachment.url}}', esn-download-file='{{attachment.name}}') #{__('Download')}
    .av-prev.nav(ng-click='openPrev()', ng-show='displayNav', title=__("Previous"))
      i.mdi.mdi-chevron-left.mdi-hc-fw
    .av-next.nav(ng-click='openNext()', ng-show='displayNav', title=__("Next"))
      i.mdi.mdi-chevron-right.mdi-hc-fw
