.controlcenter-sidebar
  ul.nav.nav-pills.nav-stacked
    .listview
      .lv-body(dynamic-directive='controlcenter-sidebar-menu')
        .lv-item.clickable.menu-heading(ui-sref="controlcenter")
          i.mdi.mdi-settings
          .menu-title #{__('Control Center')}
    hr
    .listview
      .lv-body
        controlcenter-sidebar-menu-item(icon="mdi-power", href="/logout", label="Logout")
