sub-header
  .controlcenter-subheader.hidden-md
    a(href='', contextual-sidebar, data-content-template="/controlcenter/views/partials/sidebar")
      i.mdi.mdi-menu
.container.full-width.no-padding-xs(sub-header-aware)
  .col-md-3.hidden-xs
    controlcenter-sidebar
  ui-view.col-xs-12.col-md-9.no-padding-xs
