sub-header
  .controlcenter-subheader.hidden-md
    button.btn.btn-icon.btn-link.button(contextual-sidebar, data-content-template="/controlcenter/views/partials/sidebar")
      i.mdi.mdi-menu
.controlcenter-root.full-width.no-padding-xs(sub-header-aware)
  .col-md-3.hidden-xs
    controlcenter-sidebar
  ui-view.col-xs-12.col-md-9.no-padding-xs
    .ui-view(name="root", noanimation)
