.cc-sync
  .block-header
    h2 #{__('Sync an iOS device with OpenPaaS')}

  .sync-ios-guide(ng-include="'/sync/ios/guide'")
    .text-center(openpaas-logo-spinner, spinner-start-active='1', spinner-size='0.4')
