.col-xs-12.esn-panel.esn-application-details

  .col-lg-2.col-md-3.col-xs-4
    a(href='#/appstore/apps/{{::application._id}}')
      img.thumbnail.nopadding(ng-src='/appstore/api/apps/{{::application._id}}/avatar', src='/appstore/images/application.png')

  .col-lg-10.col-md-9.col-xs-8
    .row
      h2.media-heading
        a(href='#/appstore/apps/{{::application._id}}')
          strong {{::application.title}}
          small &nbsp;{{::application.version}}
    .row
      blockquote
        p.application-description.multilines(ng-show='application.description') {{::application.description}}

    .row
      ul.list-inline(appstore-buttons-group)
        li
          appstore-button-deploy(application='application', version="1.0.0")
        li
          appstore-button-undeploy(application='application')
