.esn-app-display
  .col-lg-4.col-md-6.col-sm-12.col-xs-12
    .thumbnail
      img(ng-src="/appstore/api/apps/{{::application._id}}/avatar", src="/appstore/images/application.png" style="height: 200px; width: 200px; display: block;")
      .caption
        h3
          a(href='#/appstore/apps/{{::application._id}}')
            span {{::application.title}} &nbsp;
            small {{::application.version}}

        p.description.multilines {{::application.description | characters:128 :false }}

        div(appstore-buttons-group)
          p.text-center
            appstore-button-deploy(application="application", version="1.0.0", domain-deployment="domainDeployment")
            &nbsp;
            appstore-button-undeploy(application="application")
          appstore-checkbox-domain-deploy
