.app-display
  .thumbnail
    img(ng-src="/appstore/api/apps/{{::application._id}}/avatar", src="/appstore/images/application.png" style="height: 200px; width: 200px; display: block;")
    .caption
      h3
        a(href='#/appstore/apps/{{::application._id}}')
          span {{::application.title}} &nbsp;
          small {{::application.version}}

      p {{::application.description | characters:256 :false }}
      .row.text-center
        appstore-button-install(application='application')
        &nbsp;
        appstore-button-update(application='application')

