.community-view {
  .flex-column;

  .header {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .community-view-main {
    .community-view-content {
      padding-left: 0;
      padding-right: 0;
    }

    .community-view-sidebar {
      padding-right: 0;
    }
  }
}