.community-view {
  .flex-column;

  .community-view-header {

  }

  .community-view-main {
    .community-view-content {
      padding-left: 0;
      padding-right: 0;
    }

    .community-view-sidebar {
      padding-right: 0;
    }
  }
}