sub-header
  community-view-subheader

.community-view(sub-header-aware)
  .community-view-header
    community-description(community="community")
    //community-actions-toolbar(ng-if='canRead()', community="community")

  .community-view-content
    .col-xs-12.card(ng-if='!canRead()')
      // TODO: Error message like in list
      p.text-center #{__('You are no allowed to see the content of this community.')}

    div(ng-if='canRead()')
      .col-xs-8.community-view-stream
        activity-stream(activitystream='community', writable='community.writable', streams='streams', calendar-id='community._id')

      .col-xs-4.hidden-xs.community-view-sidebar
        esn-collaboration-members-widget(object-type="community", collaboration="community", in-slices-of='4')
        .vertiz-space
        esn-collaboration-membership-requests-widget(ng-if="showMembershipRequestsWidget()" object-type="community", collaboration="community")
        .vertiz-space
        esn-collaboration-invite-users(object-type="community", collaboration="community")
        .vertiz-space
        injections-widget(injection-anchor-id="communityPageRightPanel", injection-subject="community")
        .vertiz-space