.card.contact-list-card.clickable(ng-click='displayContact()')
  .card-body
    .flex-start
      .p-10.flex-noshrink
        .card-image
          img(ng-src='{{contact.photo || defaultAvatar}}')
          i.mdi.i-contact-card(ng-class="displayShell.getOverlayIcon()")
      .p-t-10.p-r-10.contact-info
        div
          strong {{contact.displayName}}
        div.p-t-5(ng-repeat="attrs in displayShell.getInformationsToDisplay()")
          a(ng-href="{{::attrs.action}}", ng-click="$event.stopPropagation()") {{attrs.id}}
        .p-t-5
          span {{contact.orgRole}}
          span(ng-if='contact.orgRole && contact.orgName') &nbsp;#{__('at')}&nbsp;
          span {{contact.orgName}}
