.contact-list-item.media.p-10.hidden-xs(ng-click='displayContact()')
  .pull-left
    contact-photo.media-object(contact='contact', list-view='true')
  .media-body.p-l-15
    .lv-title
      | {{contact.displayName}}
    ul.lv-attrs
      li.hidden-xs(ng-show='contact.emails[0].value')
        span
          i.mdi.mdi-email-outline
          a(ng-href="mailto:{{contact.emails[0].value}}") {{contact.emails[0].value}}
      li.hidden-xs(ng-show='contact.tel[0].value')
        span
          i.mdi.mdi-phone
          | {{contact.tel[0].value}}

.lv-actions.actions
  li.dropdown
    a(href='', data-toggle='dropdown', aria-expanded='true')
      i.mdi.mdi-dots-vertical
    ul.dropdown-menu.dropdown-menu-right
      li
        a(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}') #{__('Edit')}
      li
        a(ng-click="deleteContact()") #{__('Delete')}

.contact-list-item.p-10.visible-xs(ng-click='displayContact()')
  .pull-left.touch-zone
      contact-photo.media-object(contact='contact', list-view='true')
  .media-body.row
    .lv-title.col-xs-11.touch-zone
          h4.media-heading {{contact.displayName}}
