div.contact-list-item
  .col-xs-2
    a(ng-href='#/contacts/{{bookId}}/{{contact.uid}}')
      img.media-object(src='/images/user.png')

  .col-xs-7

      h4.media-heading {{contact.firstName}} {{contact.lastName}}

      .row
        .col-xs-7.nopadding.ellipsis
          span
            i.fa.fa-envelope-o
            a(href='mailto:{{contact.emails[0]}}') {{contact.emails[0]}}

        .col-xs-5.nopadding.ellipsis
          span.hidden-xs
            i.fa.fa-phone
            | {{contact.phone}}

  .col-xs-3

    .row.vertical-centered
      .col-xs-4.actions.vertical-centered
        a.write(ng-href='#/contacts/{{bookId}}/{{contact.uid}}')
          i.fa.fa-2x.fa-pencil

      .col-xs-4.actions.vertical-centered
        a.call(ng-href="")
          i.fa.fa-2x.fa-phone-square

      .col-xs-4.actions.vertical-centered
        .dropdown
          a.moreactions.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
            i.fa.fa-2x.fa-ellipsis-v
          ul.dropdown-menu.dropdown-menu-right(role="menu")
            li
              a(ng-href="") Delete
