.contact-subheader(ng-swipe-right='close()')
  .contact-controls-wrapper
    .contact-controls.row
      a.col-xs-6(href='', ng-click='close()')
        i.mdi.mdi-arrow-left.m-l-5.m-r-5
        | #{__('Back')}
      div.dropdown.pull-right.col-xs-6
        a.p-l-5.p-r-10(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}')
          i.mdi.mdi-pencil