.contact-list-item.media.hidden-xs
  .pull-left
    a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}')
      contact-photo.media-object(contact='contact')
  .media-body
    .lv-title
      | {{::contact.displayName}}
    ul.lv-attrs
      li.hidden-xs(ng-if='email')
        span
          i.mdi.mdi-email-outline
          a(ng-href="mailto:{{::email}}") {{::email}}
      li.hidden-xs(ng-if='tel')
        span
          i.mdi.mdi-phone
          | {{::tel}}
    .lv-actions.actions
      li
        a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}')
          i.mdi.mdi-pencil
      li.dropdown
        a(href='', data-toggle='dropdown', aria-expanded='true')
          i.mdi.mdi-dots-vertical
        ul.dropdown-menu.dropdown-menu-right
          li.visible-xs
            a(ng-href="") Send Message
          li.visible-xs
            a(ng-href="") Call
          li.visible-xs
            a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}') Modify
          li
            a(ng-click="deleteContact()") Delete
              
div.contact-list-item.visible-xs
  .col-xs-2.nopadding.touch-zone(ng-click='displayContact()')
    contact-photo.visible-xs.media-object(contact='contact')
  .col-xs-8.touch-zone(ng-click='displayContact()')
      h4.media-heading {{::contact.displayName}}
  .col-xs-2.contact-actions
    .row.vertical-centered.pull-right
      .col-xs-4.action-item
        .dropdown.pull-right
          a.moreactions.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
            i.mdi.mdi-dots-vertical
          ul.dropdown-menu.dropdown-menu-right(role="menu")
            li
              a(ng-href="") Send Message
            li
              a(ng-href="") Call
            li
              a(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}') Modify
            li
              a(ng-click="deleteContact()") Delete
