.card.contact-list-card
  .card-body
    .flex-start
      .p-10.flex-noshrink
        a(ng-href='#/contact/show/{{::bookId}}/{{::contact.id}}')
          .card-image
            img(ng-src='{{contact.photo || defaultAvatar}}')
      .p-t-10.p-r-10.contact-info
        div
          strong {{contact.displayName}}
        div.p-t-5(ng-show='contact.emails[0].value')
          a(ng-href="mailto:{{contact.emails[0].value}}") {{contact.emails[0].value}}
        .p-t-5(ng-if='contact.tel[0].value')
          a(ng-href="tel:{{contact.tel[0].value}}") {{contact.tel[0].value}}
        .p-t-5
          span {{contact.orgRole}}
          span(ng-if='contact.orgRole && contact.org[0]') &nbsp;#{__('at')}&nbsp;
          span {{contact.org[0]}}
