.contacts-sidebar
  contact-list-toggle

  hr

  .listview
    .lv-body
      a.lv-item.import-account(href="/#/controlcenter/accounts")
        .media
          .pull-left
            i.mdi.mdi-import
          .media-body
            .lv-title
              span #{__('Import Contacts')}
  
  hr
  
  contact-sidebar
