.card.contact-list-card
  .card-body
    .flex-start
      .p-10.flex-noshrink
        a(ng-href='#/contact/show/{{::bookId}}/{{::contact.id}}')
          .card-image
            img(ng-src='{{contact.photo || defaultAvatar}}')
      .p-t-10.p-r-10.contact-info
        div
          strong {{contact.displayName}}
        div.p-t-5(ng-show='emails[0].value')
          a(ng-href="mailto:{{emails[0].value}}") {{emails[0].value}}
        .p-t-5(ng-if='phone[0].value')
          a(ng-href="tel:{{phone[0].value}}") {{phone[0].value}}
        .p-t-5
          span {{contact.orgRole}}
          span(ng-if='contact.orgRole && contact.orgName') &nbsp;#{__('at')}&nbsp;
          span {{contact.orgName}}
