.contact-subheader
  .contact-controls-wrapper
    .contact-controls.row
      a.col-xs-6(href='', esn-back-button='contact')
        i.mdi.mdi-arrow-left.m-l-5.m-r-5
        | #{__('Back')}
      .col-xs-6.right-action
        a.p-l-5.p-r-10(ng-click="edit()" ng-if="displayShell.isWritable()")
          i.mdi.mdi-pencil