.contact-subheader
  .contact-controls-wrapper
    .contact-controls.flex-vertical-centered
      contact-search-form
      .contact-show-aside
        a(ng-href='' ng-click='openAside()')
          i.mdi.mdi-dots-vertical
