.contact-subheader
  .contact-controls-wrapper
    .contact-controls.row
      a.col-xs-6(href='', ng-click='save()')
        i.mdi.mdi-check.m-l-5.m-r-5
        | #{__('Save')}
      .col-xs-6.contact-dropdown.dropdown.pull-right
        a.moreactions.dropdown-toggle(href='', data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
          i.mdi.mdi-dots-vertical.m-r-5
        ul.dropdown-menu.dropdown-menu-right(role="menu")
          li
            a(ng-click="deleteContact()") #{__('Delete')}
          li
            a(ng-click="close()") #{__('Cancel')}
