.contacts-sidebar
  h2.p-15 #{__('View')}
  contact-list-toggle

  h2.p-15 #{__('Options')}
  .listview.p-t-5.calendars-list
    .lv-body
      .p-10
        a.lv-item(href="")
          .media
            .pull-left
              i.mdi.mdi-import
            .media-body
              .lv-title
                span #{__('Import')}