extends /modules/subheader/responsive-subheader.pug

block left
  button.btn.btn-link.btn-icon.hidden-md(contextual-sidebar, data-content-template="/contact/views/partials/contact-right-sidebar")
    i.mdi.mdi-menu
  span.title.ellipsis {{bookTitle}}

block right
  .contacts-list-toolbar
    .contacts-toggle.flex-vertical-centered.hidden-xs
      contact-list-toggle
    ul.actions.visible-md
      li.dropdown
        a(href='', data-toggle='dropdown', aria-expanded='true')
          i.mdi.mdi-dots-vertical
        ul.dropdown-menu.dropdown-menu-right
          li
            a(href='/#/controlcenter/accounts') #{__('Import')}
