.contact-list-item.p-5(ng-click='displayContact()')
  div.col-xs-2
    contact-photo.media-object(contact='contact', list-view='true')
  div.col-xs-8
    .lv-title
      | {{contact.displayName}}
    ul.lv-attrs
      li(ng-if='tel')
        span
          | {{tel}}
      li(ng-if='email')
        span
          a(ng-href="mailto:{{email}}") {{email}}
  div.col-xs-2
      ul.actions.list-inline
        li
          a(ng-href='#/contact/edit/{{::bookId}}/{{::contact.id}}')
            i.mdi.mdi-pencil
        li.dropdown
          a(href='', data-toggle='dropdown', aria-expanded='true')
            i.mdi.mdi-dots-vertical
          ul.dropdown-menu.dropdown-menu-right
            li.visible-xs
              a(ng-href="") Send Message
            li.visible-xs
              a(ng-href="") Call
            li.visible-xs
              a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}') Modify
            li
              a(ng-click="deleteContact()") Delete
  
