.row.all-centered(ng-switch='searchMode')
  .col-xs-12.col-md-8
    div(ng-switch-when='false' data-contact-index="{{letter}}" ng-repeat="(letter, contacts) in sorted_contacts" on-finish-render)
      .letter-list(ng-if='contacts && contacts.length')
        .block-header
          h2 {{letter}}
        .card.contacts-card.fadeIn200ms
          .listview.lv-bordered.lv-lg
            .lv-body
              contact-list-item.lv-item.p-0(contact='contact', book-id="bookId", ng-repeat="contact in contacts track by contact.id")
    div(ng-switch-when='true' ng-if='searchResult.data && searchResult.data.length' on-finish-render)
      .card.contacts-card.fadeIn200ms
        .listview.lv-bordered.lv-lg
          .lv-body
            contact-list-item.lv-item.p-0(contact='contact', book-id="bookId", ng-repeat="contact in searchResult.data track by contact.id")
