div.contact-list-item
  .col-xs-2.nopadding
    a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}')
      contact-photo.media-object(contact='contact')

  .col-xs-7

      h4.media-heading.ellipsis {{::contact.displayName}}

      .row
        .col-xs-12.col-md-7.nopadding.ellipsis
          span(ng-if='email')
            i.fa.fa-envelope-o.hidden-xs
            a(ng-href="mailto:{{::email}}") {{::email}}

        .col-md-5.hidden-xs.nopadding.ellipsis
          span.hidden-xs(ng-if='tel')
            i.fa.fa-phone
            | {{::tel}}

  .col-xs-3.contact-actions

    .row.vertical-centered.pull-right

      .col-xs-4.action-item.hidden-xs
        a.write(ng-href='#/contact/{{::bookId}}/{{::contact.id}}')
          i.mdi-content-create

      .col-xs-4.action-item.hidden-xs
        a.call(ng-href="")
          i.mdi-communication-call

      .col-xs-4.action-item
        .dropdown.pull-right
          a.moreactions.dropdown-toggle(type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true")
            i.mdi-navigation-more-vert
          ul.dropdown-menu.dropdown-menu-right(role="menu")
            li.visible-xs
              a(ng-href="") Send Message
            li.visible-xs
              a(ng-href="") Call
            li.visible-xs
              a(ng-href='#/contact/{{::bookId}}/{{::contact.id}}') Modify
            li
              a(ng-click="deleteContact()") Delete
