.contact-toggle-switch
  span.list-item(ng-class='{"toggle-active": !toggleContactDisplay}') #{__('List')}
  toggle-switch(ng-model='toggleContactDisplay', color='white')
  span.card-item(ng-class='{"toggle-active": toggleContactDisplay}') #{__('Cards')}
