textarea(class='{{textareaClass}}', rows='{{rows}}', placeholder='{{placeholder}}', ng-model='ngModel', ng-model-options='{updateOn: "blur"}')
   //span.inline-input-edition-group-btn.inline-remove-button.input-group-btn(ng-show='showGroupButtons')
      button.btn.btn-default(type='button', ng-click='resetInput()')
         i.fa.fa-remove
   //span.inline-input-edition-group-btn.inline-check-button.input-group-btn(ng-show='showGroupButtons')
      button.btn.btn-default(type='button')
         i.fa.fa-check


         textarea.form-control(ng-if='!update', rows='6', placeholder='#{__("Comments")}', ng-model='contact.notes')
