span.inline-input-edition-group-btn.inline-remove-button.input-group-btn(ng-if='lastModifiedFlag && updateSuccessFlag', name='{{name}}')
  button.btn.btn-default(type='button')
    i.fa.fa-check.modify-success
