.calendar-public-configuration-item
  .meta
    .avatar
      img(src='/images/user.png', ng-src='/api/users/{{::$ctrl.item.user._id}}/profile/avatar', alt='#{__("User Avatar")}')
    .title
      .name
        span {{::$ctrl.item.calendar.name}}
      .owner
        span {{::$ctrl.item.user.displayName}}
  .rights
    cal-public-rights-display(right="$ctrl.item.calendar.rights.getPublicRight()")
  .actions
    toggle-switch(ng-model='$ctrl.item.isSelected')