esn-default-viewer {
  display: flex;
  height: 100%;

  .left {
    width: 30%;
    font-size: 6em;
    padding-top: 5px;
    border-right: 1px solid #999999;
  }

  .right {
    width: 70%;
    padding: 10px;
  }
}
