.esn-attachment-default-viewer
  .left
    a(target='_blank', ng-href='/api/files/{{attachment._id}}', title=__("Open in tab"))
      esn-attachment-icon(type='attachment.contentType')
  .right
    h4 {{attachment.name}}
    .info #{__("File type")} {{attachment.contentType | extension | uppercase}} #{__("Size")} {{attachment.length | bytes}}
