esn-default-viewer {
  display: flex;
  height: 100%;

  .left {
    width: 30%;
    font-size: 6em;
    padding-top: 5px;
    border-right: 1px solid #999999;
  }

  .right {
    width: 70%;
    padding: 10px;
  }
}

@media only screen and (min-width: 1170px) {
  esn-default-viewer {
    .left {
      font-size: 6em;
    }
  }
}

@media only screen and (min-width: 1025px) {
  esn-default-viewer {
    .left {
      padding-top: 4%;
    }
    .right {
      padding-top: 5%;
    }
  }
}

@media only screen and (max-width: 370px) {
  esn-default-viewer {
    .left {
      font-size: 4.5em;
    }
  }
}

@media only screen and (max-height: 350px) {
  esn-default-viewer {
    .left {
      font-size: 4em;
    }
  }
}
