sub-header
  contact-edit-subheader

.col-xs-12.no-padding-xs(sub-header-aware)
  .card(ng-submit='accept()')
    .card-body.card-padding.contact-body
      .contact-error-container
      contact-edition-form(ng-if='loaded && !error', contact='contact', contact-state='edit')
