extends /modules/subheader/centered-subheader.pug

block left
  button.btn.btn-link.hidden-xs(ng-click="close()")
    .flex-vertical-centered
      i.mdi.mdi-close.mdi-margin-right
      span #{__('Cancel')}
  button.btn.btn-link.btn-icon.visible-xs(ng-click="close()")
    i.mdi.mdi-close

block right
  .dropdown.flex-vertical-centered
    a(href='', data-toggle='dropdown', aria-expanded='true')
      i.mdi.mdi-dots-vertical
    ul.dropdown-menu.dropdown-menu-right.clickable
      li
        a(ng-click="deleteContact()", esn-back-button="contact") #{__('Delete')}

  button.btn.btn-link.save.hidden-xs(ng-disabled='calling || !loaded', type='button', ng-click='save()')
    .flex-vertical-centered
      span #{__('Save')}
      i.mdi.mdi-check.mdi-margin-left

  button.btn.btn-link.btn-icon.visible-xs(ng-disabled='calling || !loaded', type='button', ng-click='save()')
    i.mdi.mdi-check
