.img-preview-container
  .img-info
    .ellipsis
      a {{::$ctrl.attachment.name}}
      h6 {{::$ctrl.attachment.length | bytes}}
  .img-preview
    img.img-responsive.attachments(ng-src="{{::$ctrl.attachment.url}}", alt="{{::$ctrl.attachment.name}}")
