.inbox-subheader.configuration.add-folder.row
  inbox-subheader-close-button(ui-sref='/unifiedinbox/configuration')
  a.submit.button(href='', ng-click='addFolder()')
    span #{__('Create')}
    i.mdi.mdi-check