extends ../../../layout/responsive-subheader

block left
  inbox-subheader-close-button.hidden-md(ui-sref='unifiedinbox.configuration')
  inbox-subheader-cancel-button.hidden-xs(ui-sref='unifiedinbox')

block right
  inbox-subheader-save-button(esn-submit="addFolder()")
