doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title #{title} - OpenPaas
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.core.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.buttons.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.picon.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.history.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/components/bootstrap-additions/dist/bootstrap-additions.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/components/ng-tags-input/ng-tags-input.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.css')
    link(rel='stylesheet', href='/components/animate.css/animate.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/themes/default.css')
    script(src='/components/jquery/jquery.js')
    script(src='/components/underscore/underscore.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/pines-notify/pnotify.core.js')
    script(src='/components/pines-notify/pnotify.buttons.js')
    script(src='/components/pines-notify/pnotify.callbacks.js')
    script(src='/components/pines-notify/pnotify.confirm.js')
    script(src='/components/pines-notify/pnotify.desktop.js')
    script(src='/components/pines-notify/pnotify.history.js')
    script(src='/components/pines-notify/pnotify.nonblock.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/angular-animate/angular-animate.js')
    script(src='/components/restangular/dist/restangular.js')
    script(src='/components/ngInfiniteScroll/build/ng-infinite-scroll.js')
    script(src='/components/ng-tags-input/ng-tags-input.js')
    script(src='/components/blueimp-canvas-to-blob/js/canvas-to-blob.js')
    script(src='/components/angular-strap/dist/angular-strap.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.js')
    script(src='/socket.io/socket.io.js')
    script(src='/components/angular-socket-io/socket.js')
    script(src='/easyrtc/easyrtc.js')
    script(src='/components/spin.js/spin.js')
    script(src='/components/angular-spinner/angular-spinner.js')
    script(src='/components/angular-pines-notify/src/pnotify.js')
    script(src='/components/moment/moment.js')
    script(src='/components/angular-moment/angular-moment.js')
    script(src='js/live-conference/app.js')
    script(src='js/modules/core.js')
    script(src='js/modules/socketio.js')
    script(src='js/modules/domain.js')
    script(src='js/modules/member.js')
    script(src='js/modules/search.js')
    script(src='js/modules/infinite-list.js')
    script(src='js/modules/avatar.js')
    script(src='js/modules/user.js')
    script(src='js/modules/session.js')
    script(src='js/modules/websocket.js')
    script(src='js/modules/easyrtc.js')
    script(src='js/modules/live-conference.js')
    script(src='js/modules/conference.js')
    script(src='js/modules/authentication.js')
    script(src='js/modules/notification.js')
    script(src='js/modules/conference-notification.js')

  body.ng-cloak.esn-conference-app(ng-app='liveConferenceApp' ng-controller="sessionInitLiveConfController")
    #wrap(ng-include='session.template')
