.modal.fade(id="{{file._id}}", role='dialog')
  .modal-dialog(ng-style='modalDialogStyle')
    button.close(type='button', data-dismiss='modal') ×
    .modal-content
      .modal-body
        video(controls='')
          source(src="{{videoUrl}}", type='{{file.contentType}}')