.attendees-list.picture-list
  .col-xs-12
    div(ng-if='attendeesPerPartstat.ACCEPTED > 0')
      .fg-line.accepted #{__('Accepted')}
      .fg-line.pl-body(ng-if='attendeesPerPartstat.ACCEPTED > 0')
        .col-xs-2.col-sm-1(ng-repeat="attendee in attendees | partstat:'ACCEPTED' track by attendee.email")
          attendee-list-item(attendee='attendee', read-only='::readOnly', ng-click= "selectAttendee(attendee)")
    div(ng-if='attendeesPerPartstat.DECLINED > 0')
      .fg-line.declined #{__('Declined')}
      .fg-line.pl-body(ng-if='attendeesPerPartstat.DECLINED > 0')
        .col-xs-2.col-sm-1(ng-repeat="attendee in attendees | partstat:'DECLINED' track by attendee.email")
          attendee-list-item(attendee='attendee', read-only='::readOnly', ng-click= "selectAttendee(attendee)")
    div(ng-if='attendeesPerPartstat["NEEDS-ACTION"] > 0 || attendeesPerPartstat["TENTATIVE"] > 0')
      .fg-line.undecided #{__('Undecided')}
      .fg-line.pl-body(ng-if='attendeesPerPartstat["NEEDS-ACTION"] > 0 || attendeesPerPartstat["TENTATIVE"] > 0')
        .col-xs-2.col-sm-1(ng-repeat="attendee in attendees | partstat:'NEEDS-ACTION' track by attendee.email")
          attendee-list-item(attendee='attendee', read-only='::readOnly', ng-click= "selectAttendee(attendee)")
        .col-xs-2.col-sm-1(ng-repeat="attendee in attendees | partstat:'TENTATIVE' track by attendee.email")
          attendee-list-item(attendee='attendee', read-only='::readOnly', ng-click= "selectAttendee(attendee)")
    .trash
      a(href="")
        i.mdi.mdi-delete(ng-show='!readOnly && attendeeClickedCount > 0', ng-click='deleteSelectedAttendees()')
