.col-xs-12.attendees-autocomplete-input
  .form-group
    .input-group
      span.input-group-addon
        i.mdi.mdi-account-multiple-plus
      .fg-line
        tags-input.form-control(ng-model='mutableAttendees', display-property='displayName', key-property='email', placeholder='#{__("Attendees")}', on-tag-adding='onAddingAttendee($tag)', replace-spaces-with-dashes='false')
          auto-complete(source='getInvitableAttendees($query)', min-length='1', debounce-delay='200', template="/views/modules/auto-complete/attendees.html")
