.row.event-recurrence-edition
  .col-xs-12
    .form-group
      .input-group
        span.input-group-addon
          i.mdi.mdi-repeat
        .fg-line.select
          select.form-control(
            ng-model="event.rrule.freq",
            ng-options="item.value as item.label for item in rruleFreq",
            ng-change="updateSwitchClass()")
    .form-group.event-recurrence-flex-container
      .interval
        span.col-xs-2 Interval:
        .col-xs-10
          .fg-line.recurrence-interval-input
            input.input-sm.form-control(type="text")
          span days
      .on-days
        span.col-xs-2 On days:
        div.col-xs-10.labels
          label.checkbox.checkbox-inline(ng-repeat="day in ['M', 'T', 'W', 'Th', 'F', 'S', 'Su']")
            input.form-control(type="checkbox")
            i.input-helper
            {{day}}
      .end
        span.col-xs-2 End:
        div.checkboxes.col-xs-10
            label.checkbox.checkbox-inline
              input.form-control(type="checkbox")
              i.input-helper
              | Never
            label.checkbox.checkbox-inline
              input.form-control(type="checkbox")
              i.input-helper
              .input-group
                span.input-group-addon After
                .fg-line
                  input.input-sm.form-control(type="text")
                span.input-group-addon.last Occurrences
            label.checkbox.checkbox-inline
              input.form-control(type="checkbox")
              i.input-helper
              .input-group
                span.input-group-addon At
                .fg-line
                  input.input-sm.form-control(type="text", data-autoclose="1", data-min-date="today", data-start-week="1", data-date-format="yyyy/MM/dd", bs-datepicker)
