.fc-toolbar {
  background-color: @darkPrimaryColor;
  .btn {
    padding: 6px 12px;
    color: @textPrimaryColor;
  }
  .fc-today-button, .fc-button-group {
    margin-top: 2px;
    box-shadow: none;
  }
  .fc-agendaWeek-button {
    display:none;
  }
  .fc-agendaDay-button {
    display:none;
  }
  .fc-today-button.ui-button.ui-state-default.ui-corner-left.ui-corner-right.btn.waves-effect {
    background-color: @lightPrimaryColor;
    &.ui-state-disabled {
      background-color: @darkPrimaryColor;
      box-shadow: none;
    }
  }
}

.fc th {
  background: @primaryColor;
}

.fc-toolbar .ui-button>span.ui-icon-circle-triangle-w:before {
  font-family: 'MaterialDesignIcons';
  content: "\f13f";
}

.fc-toolbar .ui-button>span.ui-icon-circle-triangle-e:before {
  font-family: 'MaterialDesignIcons';
  content: "\f144";
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .fc-toolbar {
    .fc-agendaWeek-button {
      display:block;
    }
    .fc-agendaDay-button {
      display:block;
    }
    .fc-basicWeek-button {
      display:none;
    }
    .fc-basicDay-button {
      display:none;
    }
  }
}
