.calendar-edit-header {
  .btn {
    box-shadow: none;
  }
}

.calendars-edit, .calendar-edit {
  .card {
    min-height: ~"calc(100vh - @{header-height} - @{sub-header-height})";
    overflow: auto;
  }
}
