.calendar-view {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .col-md-3.col-lg-2 {
    min-width: 300px;
  }

  .fc {
    margin-bottom: 0;
    th {
      background: @m-white;
    }
  }

  /*
   * height: 1px is mandatory if we want to hide the header in mobile view
   */
  .fc-toolbar {
    .hidden-xs;
  }
  .calendar {
    height: 1px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  .calendar-view {
    margin-left: 15px !important; /* to override parent properties */
  }
}
