.calendar-header-mobile {
  width: 100%;
  margin: 0px;
  background-color: @primaryColor;
  .mdi {
    font-size: 1.9em;
    color: @textPrimaryColor;
    padding: 10px 0;
  }
  .row > a {
    text-align: left;
    font-weight: 500;
    color: @m-white;
    i {
      vertical-align: middle;
    }
  }
  .row > .dropdown {
    text-align: right;
  }
  .calendar-controls {
    margin: 0;
    transition: 1s background;
  }
}

.sub-calendar {
  height: 100px;
}
