.calendar-edit-header, .calendars-edit-header {
  .btn {
    box-shadow: none;
  }
  span {
    color: @m-white;
    text-transform: uppercase;
  }
}

.calendars-edit.card, .calendar-edit.card {
  min-height: ~"calc(100vh - @{header-height} - @{sub-header-height})";
  overflow: auto;
  font-size: 1.4em;
  color: @secondaryTextColor;
  padding: 0px 15px 15px 15px;
}

.calendars-edit.card {
  .mdi {
    font-size: 1.6em;
    vertical-align: bottom;
    margin-right: 5px;
    color: @secondaryTextColor;
  }
  .lv-item {
    padding: 0 !important; /* override material-admin property */
    margin-bottom: 10px;
    span {
      color: @secondaryTextColor;
    }
  }
}

.calendars-edit {
  hr {
    border-color: @secondaryTextColor;
  }
}

.calendar-edit {
  .btn-group-justified {
    padding-top: 5px;
    background-color: lighten(@body-bg, 5%);
    box-shadow: none;

    .btn {
      background-color: lighten(@body-bg, 5%);
      color: @m-gray;
    }

    .btn:hover {
      background-color: lighten(@body-bg, 5%);
      border-bottom-color: @m-gray;
      color: @m-gray;
    }

    .btn-primary {
      border-bottom: 3px solid;
      border-bottom-color: @accentColor;
    }

    .btn-primary:hover {
      border-bottom-color: @accentColor;
    }
  }
  .color-picker-container {
    width: 50px;
    margin-left: 40px;
    position: relative;
    .color-picker-value {
      width: 25px;
      height: 25px;
      border-radius: 2px;
      position: absolute;
      top: 0px;
      z-index: 5;
    }
  }

  .delete-calendar-button {
    font-size: 15px;
    .underlined-button;
  }

  .delegation {
    .mdi {
      font-size: 40px;
    }

    .public {
      .mdi.big {
        font-size: 60px;
        margin-right: 25px;
      }

      span.vertical-align, i.vertical-align {
        vertical-align: middle;
      }
    }
  }
}

.calendar-edit-delete-confirmation {
  .modal-title, .modal-body {
    text-align: center;
  }
}
