.event-full-form {

  .mdi {
    font-size: 3em;
  }

  .card-body {
    .input-group-addon {
      vertical-align: middle;
    }
  }

  .form-group {
    margin-bottom: 20px;
    font-size: 13px;
  }

  .row.user-auto-complete {
    .nopadding;
    .row {
      margin: 0;
    }
    img {
      width: 50px;
    }
  }

  .user-auto-complete {
    display: flex;
    align-items: center;
  }

  tags-input .autocomplete {
    margin-top: 0;
    padding: 0;
  }
}

@media (min-width: @screen-sm-min) {
  .event-full-form {
    .card-header {
      padding-top: 0;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .event-full-form {
    .btn-default {
      .PrimaryColor();
    }

    .card-body {
      padding-top: 10px;
    }

    &.readonly {
      .form-control, .form-control:focus {
        cursor: text;
        background-image: none;
      }

      .checkbox label {
        cursor: default;
        background-image: none;
      }
    }
  }
}
