.event-quick-form {
  .modal-footer {
    padding: 0;

    button, .accepted, .undecided, .declined {
      font-size: 17px;
    }

    button.save {
      color: @m-green;
    }

    button.delete {
      color: @m-red;
    }

    .form-group {
      .fg-line {
        .col-sm-3:first-child {
          text-align: left;
        }
        .col-sm-3:nth-child(2) {
          padding-left: 0;
        }
      }
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  .btn:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker) {
    box-shadow: none;
  }

  .btn:not(.btn-link):not(.btn-float):not(.command-edit):not(.command-delete):not(.selectpicker):hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }

  .user-auto-complete {
    display: flex;
    align-items: center;
  }

  tags-input .autocomplete {
    margin-top: 0;
    padding: 0;
  }

  .accepted, .btn.accepted  {
    color: @m-green;
  }

  .undecided, .btn.undecided {
    color: @m-blue;
  }

  .declined, .btn.declined {
    color: @m-red;
  }

  .status span {
      font-size: 17px;
      text-align: center;
      padding: 6px 12px;
  }

  .status {
    .btn {
      font-size: 17px;
    }
    .btn.active {
      background-color: lighten(@m-gray, 10%);
      box-shadow: none;
    }
  }

  .attendees-list {
    font-size: 17px;
    .col-sm-1:first-child {
      margin-left: 25px;
    }
    .attendee-avatar {
      .checkbox {
        position: absolute;
        bottom: -2px;
        right: -20px;
      }
      img {
        border: 1px solid black;
        border-radius: 2px;
      }
    }

    .trash {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0%,-50%);
      height: 50%;
      a {
        color: @m-red;
      }
      a:hover, a:focus {
        color: darken(@m-red, 10%);
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .event-quick-form {
    .mdi {
      font-size: 4em;
    }

    .mdi.mdi-check {
      .transform(rotate(-90deg) translate(-12px, 0));
    }

    .mdi.mdi-calendar {
      .translate(0, 12px);
    }

    .checkbox label {
      .translate(0, 21px);
    }
  }
}

@media (max-width: @screen-xs-max) {
  .event-quick-form {
    .user-auto-complete {
      img {
        max-width: 40px;
      }
    }

    &.readonly {
      .form-control, .form-control:focus {
        cursor: text;
        background-image: none;
      }

      .checkbox label {
        cursor: default;
        background-image: none;
      }
    }
  }
}
