@import "../../../../frontend/components/bootstrap/less/variables";
@import "../../../../frontend/css/variables";
@import "../../../../frontend/css/commons";

.submit-button {
  margin-right: 10px;
}

.event-common {

}

.event-accepted {
  border: solid 1px rgba(255,255,255,0.5);
}

.event-needs-action {
  background-color:rgba(58, 135, 173, 0.5);
  border: dashed 1px rgba(255,255,255,0.5);
}

.user-auto-complete {
  display: flex;
  align-items: center;
  @media (max-width: @screen-xs-max) {
    img {
      max-width: 40px;
    }
  }
}

tags-input .autocomplete {
  margin-top: 0;
  padding: 0;
}

.event-quick-form {
  margin: auto auto 10px auto;
  padding: 1em;

  .input-group-addon {
    padding: 6px 12px 6px 0;
  }

  .title, .title:focus {
    height: 48px;
    font-size: 2em;
  }

  .allday {
    padding-right: 0;
    padding-top: 2em;
  }

}
