@import "../../../../frontend/css/styles";

/*
 * Vendor Overrides
 */
@import '../../../../frontend/components/material-admin/less/inc/vendor-overrides/fullcalendar';

.fc-today-button {

}

.event-common {
}

.event-accepted {
  border: solid 1px rgba(255,255,255,0.5);
}

.event-needs-action {
  background-color:rgba(58, 135, 173, 0.5);
  border: dashed 1px rgba(255,255,255,0.5);
}

.user-auto-complete {
  display: flex;
  align-items: center;
}

tags-input .autocomplete {
  margin-top: 0;
  padding: 0;
}

@media (max-width: @screen-xs-max) {
  .user-auto-complete {
    img {
      max-width: 40px;
    }
  }

  &.readonly {
    .form-control, .form-control:focus {
      cursor: text;
      background-image: none;
    }

    .checkbox label {
      cursor: default;
      background-image: none;
    }
  }
}
