.listview(ng-if="::getTwitterAccounts().length > 0")
  .lv-body
    ul.nav.nav-pills.nav-stacked
      twitter-display.lv-item(account="account", ng-repeat="account in ::getTwitterAccounts()")
    hr
