.listview.p-t-5(ng-if="::getTwitterAccounts().length > 0")
  .lv-body
    .menu-heading.clickable()
      .title(ui-sref='unifiedinbox.twitter')
        i.inbox-icon.mdi.mdi-twitter
        .text #{__('Twitter')}

    ul.nav.nav-pills.nav-stacked
      twitter-display.lv-item(account="account", ng-repeat="account in ::getTwitterAccounts()")
