.clickable(ui-sref="unifiedinbox.twitter.account({ account: account })", ui-sref-opts="{ reload: true }", ui-sref-active="selected", title="{{ ::account.username }}")
  .badge-container
    i.inbox-icon.mdi.mdi-at
    span.menu-item-inner
  .menu-item
      bdi {{::account.username}}
    span.menu-item-after
