.clickable.inbox-item-with-icon.folder-with-icon.waves-effect.waves-classic(ui-sref="unifiedinbox.inbox({ type: 'twitter', account: account.id, context: '' })", ui-sref-active="selected", title="{{ ::account.username }}")
  .badge-container
    i.inbox-icon.mdi.mdi-twitter
    span.menu-item-inner
  .menu-item
      bdi @{{ ::account.username }}
    span.menu-item-after
