.group(ng-if="::ctrl.attachment")
  .attachments
    .attachment-header.clickable(title="{{ ::ctrl.attachment.subject}}", ui-sref=".message({ emailId: ctrl.attachment.id })")
      .mail-title.ellipsis {{ ::ctrl.attachment.subject}}
      .mail-date {{ ::ctrl.attachment.date | date: 'mediumDate' }}
    inbox-attachment(ng-repeat="attachment in ctrl.attachment.attachments | filter:{ isInline: false }",  attachment=" ::attachment", title="{{ ::attachment.name }}")
