.right-sidebar-container
  .button
    button.btn.btn-link.btn-icon.pull-right.visible-xl(ui-sref="^")
      i.mdi.mdi-close
    button.btn.btn-link.btn-icon.pull-right.hidden-xl(ng-click='$hide()')
      i.mdi.mdi-close
  esn-attachment-list(object-type="{{ ::ctrl.providerType }}", id="{{ ::ctrl.mailbox }}")
