.panel.panel-default(ng-class="{ 'minimized': isMinimized(), 'maximized': isMaximized() }")
  .panel-heading
    div.panel-title
      i.close.mdi.mdi-close(ng-click="$close()")
      span.close.toggle-maximize.mdi.mdi-arrow-expand(ng-click="$toggleMaximized()")
      span.close.toggle-minimize.mdi.mdi-chevron-down(ng-click="$toggleMinimized()")
      .panel-title-text {{title | esnI18n}}
  .panel-body(ng-include="templateUrl")
