.module-subheader.row.all-centered
  .col-md-9.col-xl-8.col-xs-12.no-padding-xs
    .flex-space-between.module-subheader-inner.module-subheader-fullwidth
      .left-container.flex-vertical-centered
        block left
      .right-container.esn-flex-noshrink
        block right
