.module-subheader.module-subheader-fullwidth.row
  .flex-space-between.module-subheader-inner
    .left-container.flex-vertical-centered
      block left
    .right-container.flex-vertical-centered
      block right
