.module-subheader.row
  .col-md-3.col-xl-2.hidden-xs
  .col-md-9.col-xl-10.col-xs-12.no-padding-xs
    .flex-space-between.module-subheader-inner
      .left-container.flex-vertical-centered
        block left
      .right-container.esn-flex-noshrink
        block right
