body {
  margin: 0;
}

blockquote {
  margin: 5px 0;
  padding: 0 0 0 10px;

  border-left: 4px solid #f0f0f0; // @darkenBgColor
}

pre {
  white-space: pre-wrap;

  border: none;
  background: none;
  margin: 1em 0;
  padding: 0;
}
