.modal(tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title {{event.title}} #{__('is a repeating event')}
      .modal-body
        .col-xs-12.col-sm-6.text-center-sm-only.m-b-25
          button.btn.btn-default(ng-click='editInstance()')
            | #{__('Edit just this occurence')}
        .col-xs-12.col-sm-6.text-center-sm-only.m-b-25
          button.btn.btn-default(ng-click='editAllInstances()')
            | #{__('Edit all occurences')}
      .modal-footer
