.profile-overview
  .po-card
    esn-avatar.po-card-image(ng-if='!ctrl.me', user-id="ctrl.user._id")
    esn-avatar.po-card-image(ng-if='ctrl.me', user-id="ctrl.user._id", hide-user-status="true")
    .po-card-text
      user-profile-link.po-displayname.ellipsis(user="ctrl.user")
      span.m-0.c-white.ellipsis {{::ctrl.user.job_title}}
  .po-information(ng-if='!ctrl.me')
    follow-card(user='ctrl.user')
    .profile-user-actions(dynamic-directive="profile-user-actions")