extends /modules/subheader/responsive-subheader

block left
  a.button.flex-vertical-centered(href='', ng-click='back()')
    i.mdi.mdi-arrow-left
    span
      | #{__('Back')}

block right
  a.button.flex-vertical-centered(ng-if="me", ui-sref="profileEdit")
    i.mdi.mdi-pencil
    span.visible-md
      | #{__('Edit')}