.profile-overview
  .po-card
    avatar-img.po-card-image(avatar-user="ctrl.user")
    .po-card-text
      user-profile-link.po-displayname.ellipsis(user="ctrl.user")
      span.m-0.c-white.ellipsis {{::ctrl.user.job_title}}
  .po-information(ng-if='!ctrl.me')
    follow-card(user='ctrl.user')
    .profile-user-actions(dynamic-directive="profile-user-actions")