extends /modules/subheader/responsive-subheader

block left
  a.button.flex-vertical-centered(type='button' ui-sref='profile')
    i.mdi.mdi-close
    span.visible-md
      | #{__('Cancel')}
  span.title.extra-title.ellipsis #{__('Edit Profile')}

block right
  a.button.flex-vertical-centered(ui-sref='profile', ng-click='updateProfile(user)')
    span
      | #{__('Save')}
    i.mdi.mdi-check