form(ng-submit="goToDocument()")
  .form-group.fg-line
    .field-name #{__('Name')}
    input.form-control(ng-model="document.name", placeholder="#{__('Enter a name')}", auto-focus)

  .button-bar.actions
    input.btn.btn-primary(type="submit", value="#{__('Submit')}")
