include jmap-empty-message

.message.inbox-dnd-info-message.all-centered.hidden-xs
  i.mdi.mdi-lightbulb-outline
  span #{__('Did you know you can drag & drop messages to this folder? Give it a try!')}
