.row.auto-complete-match
  img.col-xs-1.col-sm-1(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/users/{{data._id}}/profile/avatar')
  .row
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.firstname + ' '+ data.lastname)")
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.emails[0])")
