.row.auto-complete-match
  esn-avatar(user-id="data._id")
  .row
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.firstname + ' '+ data.lastname)")
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.emails[0])")
