.row.auto-complete-match
  img.col-xs-1.col-sm-1(src='/images/user.png', fallback-src='/images/user.png', ng-src='/api/users/{{data.id}}/profile/avatar', alt=__("From"))
  .row
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.displayName)")
    .col-xs-10.col-sm-11(ng-bind-html="$highlight(data.email)")
