sub-header(sub-header-visible-md="true")
  fullscreen-edit-form-subheader

.fullscreen-edit-form.subheader-margin
  recipients-auto-complete(auto-focus-ngtagsinput, auto-scroll-down-ngtagsinput, ng-model="recipients", template="recipients-auto-complete")
