.inbox-subheader.composer
  .row
    inbox-subheader-back-button(ui-sref='^({ composition: composition })')
    .title.ellipsis(ng-switch='rcpt')
      span(ng-switch-when='to') #{__('To')}
      span(ng-switch-when='cc') #{__('CC')}
      span(ng-switch-when='bcc') #{__('BCC')}
