.inbox-subheader.composer
  .row
    inbox-subheader-back-button(ng-click='backToComposition()')
    .title.ellipsis(ng-switch='recipientsType')
      span(ng-switch-when='to') #{__('To')}
      span(ng-switch-when='cc') #{__('CC')}
      span(ng-switch-when='bcc') #{__('BCC')}
