extends /modules/subheader/fullwidth-subheader

block left
  .form-group.select.select-recipient
    select.form-control(ng-model="recipientsType", ng-change="goToRecipientsType(recipientsType)")
      option(value='to', label='To') #{__('To')}
      option(value='cc', label='CC') #{__('CC')}
      option(value='bcc', label='BCC') #{__('BCC')}

block right
  inbox-subheader-save-button(ng-click='backToComposition()')
