@account-card-display-image-size: 64px;

.accounts {

  .account {
    min-width: @account-card-display-image-size * 2;

    .account-image {
      font-size: @account-card-display-image-size;
    }

    .account-info {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}