@account-card-display-image-size: 96px;

.accounts {

  .card {
    margin-bottom: 20px;
    min-width: @account-card-display-image-size * 2;

    img {
      min-width: @account-card-display-image-size;
      width: @account-card-display-image-size;
      height: @account-card-display-image-size;
      max-width: @account-card-display-image-size;
      border-radius: 3px;
    }

    .account-info {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}