extends /modules/subheader/responsive-subheader.pug

block left
  button.btn.btn-link.btn-icon(esn-back-button='home', title=__('Back'))
    i.mdi.mdi-arrow-left
  span.title.ellipsis
    |  #{__('Timeline')}
