.modal.inbox-root.inbox-modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title #{__('Delete folder?')}
      .modal-body(ng-if="::message")
        p
          | {{ ::message }}
      .modal-footer
        button.btn.btn-link(type="button", esn-back-button="^") #{__('Cancel')}
        button.btn.btn-primary(type="button", esn-submit="ctrl.deleteFolder()") #{__('Delete')}
