.row.event-consult-form
  .col-xs-12.no-padding-xs
    ul.esn-tab
      li.btn-wave(ng-class="{'active': selectedTab === 'main'}")
        a(href="", ng-click="getMainView()")
          | Main
      li.btn-wave(ng-class="{'active': selectedTab === 'attendees'}")
        a(href="", ng-click="getAttendeesView()")
          | Attendees
      li.btn-wave(ng-class="{'active': selectedTab === 'more'}")
        a(href="", ng-click="getMoreView()")
          | More
    .card
      .card-body.card-padding(ng-swipe-right="onSwipe('right')", ng-swipe-left="onSwipe('left')")
        div(ng-show="selectedTab === 'main'")
          form.form.readonly(role="form", aria-hidden="true")
            .row
              .col-xs-12
                .row
                  .col-xs-12
                    .form-group
                      .fg-line
                        label.title.ellipsis {{event.title}}

                cal-event-date-consultation(event="event")

                .row(ng-if='event.location')
                  .col-xs-12
                    .form-group
                      .input-group
                        span.input-group-addon
                          i.mdi.mdi-map-marker
                        .ellipsis.centered-cell
                          span {{event.location}}

                .row(ng-if='event.description')
                  .col-xs-12
                    .form-group
                      .input-group
                        span.input-group-addon.textarea-icon.vertical-top
                          i.mdi.mdi-format-align-justify
                        .description
                          span {{event.description}}

        div(ng-show="selectedTab === 'attendees'")
          .row
            .col-xs-12
              cal-attendees-list-expanded(ng-if='event.attendees.length', attendees='event.attendees', can-modify-attendees='false')
              cal-mail-to-attendees(ng-if='event.attendees.length > 1', event='event')

        div(ng-show="selectedTab === 'more'")
          cal-event-alarm-consultation(ng-if="!isEdit && editedEvent.alarm", event="editedEvent")
          cal-event-alarm-edition(ng-if="isEdit", event="editedEvent")

      .row.event-consult-form-footer.form-group.flex-vertical-centered.flex-space-between
        div
          span #{__('Will you attend?')}
        div
          button.btn.btn-default(type='button', ng-click='modifyEventParticipation("ACCEPTED")', ng-class='{ "active": userAsAttendee.partstat == "ACCEPTED" }') #{__('Yes')}
          button.btn.btn-default(type='button', ng-click='modifyEventParticipation("TENTATIVE")', ng-class='{ "active": userAsAttendee.partstat == "TENTATIVE"}') #{__('Maybe')}
          button.btn.btn-default(type='button', ng-click='modifyEventParticipation("DECLINED")', ng-class='{ "active": !userAsAttendee || userAsAttendee.partstat == "DECLINED" }') #{__('No')}
