div
  a.pull-left(ng-href='#/profile/{{::message.author._id}}')
    img.media-object.w-128(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar')
  div
    h4.media-heading
      a(ng-href='#/profile/{{::message.author._id}}') {{::message.author.firstname}} {{::message.author.lastname}} #{__('has shared an email')}
      a(ng-href="/#messages/{{::message._id}}/activitystreams/{{::activitystreamUuid}}")
        small {{::message.published | amDateFormat:'MMM D YY, h:mm a'}}

    div.scrollable
      div
        span {{::message.parsedHeaders.subject}}

      .row.header
        a(href='#', title='{{::message.parsedHeaders.from.name}} <{{::message.parsedHeaders.from.address}}>')
          img(src='/images/user.png', ng-src="/api/avatars?objectType=user&email={{::message.parsedHeaders.from.address}}")
          span.label.label-danger.emaillabel From

        .from
          span {{::message.parsedHeaders.from.name}}
          a(href='mailto:{{::message.parsedHeaders.from.address}}') {{::message.parsedHeaders.from.address}}
        .date
          b {{::message.parsedHeaders.date | amCalendar}}

      .row.to
        ul
          li(ng-repeat="to in message.parsedHeaders.to")
            profile-minicard(user='to', label='To', labelclass='label-primary')

      .row.cc
        ul
          li(ng-repeat="cc in message.parsedHeaders.cc")
            profile-minicard(user='cc', label='Cc', labelclass='label-info')

      .row.body
        blockquote
          p.multilines(data-ng-show='message.body.text' ng-bind-html="message.body.text | linky")

    message-attachments(message='message')
