div.media
  a.media-left.pull-left(href='#')
    img.media-object.w-128(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar')
  div.media-body
    div
      h4.media-heading
        a(href="#") {{::message.author.firstname}} {{::message.author.lastname}}
        a(ng-href="/#/messages/{{::message._id}}/activitystreams/{{activitystreamUuid}}")
          small {{::message.published | amDateFormat:'MMM D YY, h:mm a'}}
      display-position(position='message.position')
      p.multilines.scrollable(ng-bind-html="message.content | linky:'_blank'")
    message-attachments(message='message')
