extends /modules/subheader/responsive-subheader

block left
  button.btn.btn-link.hidden-xs(ui-sref='calendar.main')
    .flex-vertical-centered.flex-space-between
      i.mdi.mdi-close
      | #{__('Cancel')}
  button.btn.btn-link.visible-xs(ui-sref='calendar.list')
    i.mdi.mdi-close
