.project-widget {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  .title {
    padding: 10px 0px 0px 10px;
  }
  hr {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
