div.login-bg.form-container
    form(name='whatsupform')
        .form-group
            textarea.form-control(placeholder="#{__('Publish a new whatsup message')}")
        .form-group
            button.btn.btn-primary.pull-left(type='submit') #{__('Publish')}
            button.btn.btn-default.pull-left(type='reset') #{__('Cancel')}