.calendar-left-pane.nomargin(refresh-nicescroll, ng-nicescroll, nice-option="{cursorcolor: 'rgba(0,0,0,0.4)', cursorborder: 'none', zindex: 'auto', cursorwidth:'4px', autohidemode: 'leave'}")
  mini-calendar(calendar-id="calendarId")
  calendars-list(calendars="calendars")
