aside#calendar-right-sidebar
  .sidebar-inner(refresh-nicescroll, ng-nicescroll, nice-option="{cursorcolor: 'rgba(0,0,0,0.4)', cursorborder: 'none', zindex: 'auto', cursorwidth:'4px', autohidemode: 'leave'}")

    ul.main-menu.app-menu
      li: a(href='/#/' close-sidebar-on-click)
        i.mdi.mdi-home
        | #{__('Home')}
      li: a(href='/#/calendar' close-sidebar-on-click)
        i.mdi.mdi-calendar
        | #{__('My calendar')}
      li: a(href='/#/contact' close-sidebar-on-click)
        i.mdi.mdi-account-star
        | #{__('My contacts')}

    calendars-list(calendars="calendars")
