.calendar-header-mobile
  .calendar-controls.flex.flex-space-between
    .left
      a(href='', contextual-sidebar, data-content-template="/calendar/views/calendar/calendar-right-sidebar")
        button.btn.btn-primary.waves-effect
          i.mdi.mdi-dots-vertical
    .right.flex
      a(toggle-calendar-today)
        button.btn.btn-primary.waves-effect
          i.mdi.mdi-calendar-today
      a(toggle-mini-calendar)
        button.btn.btn-primary.waves-effect
          i.mdi.mdi-menu-down
