.calendar
  mini-calendar-mobile(calendar-home-id="calendarHomeId").initial-state.hidden-md.hidden-lg
  .main-calendar(ui-calendar="uiConfig.calendar", ng-model="eventSources", calendar="{{calendarHomeId}}", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()", ng-swipe-disable-mouse)
  event-create-button(ng-show="$state.includes('calendar.main')")
