div
  .row
    .col-xs-12
      event-button-create(community='community')
  .vertiz-space
  .row
    .col-xs-12
      span {{alertMessage}}
  .vertiz-space
  .row
    .col-xs-12
      calendar-view(calendar-id='calendarId', ui-config='uiConfig')
