event-create-button(user='user', ng-show="$state.includes('calendar.main')")
.calendar.main-calendar(ui-calendar="uiConfig.calendar", ng-model="eventSources", calendar="{{calendarHomeId}}", ng-swipe-left="swipeLeft()", ng-swipe-right="swipeRight()", ng-swipe-disable-mouse)
