label
  button.btn.btn-float.btn-success.m-btn(ng-style="{'right': '100px'}", type="button", bs-aside="aside", data-content-template="/calendar/views/event-form-components/calendar-right-sidebar", data-placement="right", data-animation="am-slide-right", data-controller="calendarRightSidebarController", data-backdrop=false, data-container=".calendar-view")
    i.mdi.mdi-arrow-right
