label
  button.btn.btn-float.btn-success.m-btn(ng-style="{'right': '100px'}", type="button", contextual-sidebar, data-content-template="/calendar/views/calendar/calendar-right-sidebar")
    i.mdi.mdi-arrow-right
