.user-calendar
  .row(ng-if="alertMessage")
    .col-xs-12
      span.calendar-error-message {{alertMessage}}
  .row
    .calendar-view
      .col-md-3.col-lg-2.hidden-xs.hidden-sm
        calendar-left-pane(calendar-home-id="calendarHomeId")
      .col-xs-12.col-md-9.col-lg-10
        .ui-view(name='content')
