div
  event-create-button(user='user')
  toggle-right-sidebar-calendar-button.visible-xs
  .row.nomargin
    .col-xs-12
      span.calendar-error-message {{alertMessage}}
  .row.nomargin
    calendar-view(calendar-id='calendarId', ui-config='uiConfig')
