@defaultImageSizeBig: 150px;

.esn-application-details {
  .ResizeImage(@defaultImageSizeBig, auto);
  padding: 1em;
}

.esn-app-display {
  .description {
    width: auto;
    height: 4em;
  }
}

.esn-app-label {
  margin-bottom: 9px;
  vertical-align: middle;
  display: inline-block;
}

.ResizeImage(@width, @height) {
  img {
    width: @width;
    height: @height;
  }
}
