.div
  .row
    .col-xs-12(ng-if='!readable')
      p.text-center.community-not-allowed #{__('You are no allowed to see the members of this collaboration')}

  .row(ng-if="readable" ng-controller="collaborationMembersController")
    .col-xs-12.alert-danger(ng-show="error", role="alert")
      p #{__('Error while getting collaboration members')}.
    .col-xs-12
      .members-infinite-list
        infinite-list
          .row.members-list-section.internal(ng-if='hasInternalMembers')
            h1 {{prettyCompany}}
            .col-xs-12
              .row.members-list-item(ng-repeat="member in internalMembers")
                member-display(member="member")
          .row.members-list-section(ng-repeat="(company, members) in externalMembers")
            h1 {{company}}
            .col-xs-12
              .row.members-list-item(ng-repeat="member in members")
                member-display(member="member")
    .col-xs-12
      .throbber-container.text-center
        div.throbber(openpaas-logo-spinner, spinner-key='membersSpinner')
