.card.picture-list
  .card-header
    h2 #{__('Members')}
      small
        a(ng-href='#/collaborations/{{objectType}}/{{collaboration._id}}/members')
          span(ng-if="more > 0") #{__('And')} {{more}} #{__('more')}...
          span(ng-if="more === 0") #{__('Show all members')}...
  .pl-body
    .col-xs-3(ng-repeat="member in members")
      collaboration-member-avatar(member="member", collaboration="collaboration")
