.div
  .row
    .col-xs-12(ng-if='!readable')
      p.text-center #{__('You are no allowed to see the members of this collaboration')}

  .row(ng-if="readable" ng-controller="collaborationMembersController")
    .col-xs-12.alert-danger(ng-show="error", role="alert")
      p #{__('Error while getting collaboration members')}.
    .col-xs-12
      div
        infinite-list
          .row(ng-repeat="member in members", ng-switch="member.objectType")
            hr
            //- HACK need to refactor member-display to be able to display collaborations too
            member-display(ng-switch-when="user", member="member.user")
            community-display(ng-switch-when="community", community='member.community', actions='false')
            project-display(ng-switch-when="project", project='member.project')
    .col-xs-12
      .text-center
        div.throbber(openpaas-logo-spinner, spinner-key='membersSpinner')
