div
  a.pull-left(ng-href='#/profile/{{::message.author._id}}')
    img.media-object(src='/images/user.png', ng-src='/api/users/{{::message.author._id}}/profile/avatar')
  div.media-body
    h4.media-heading
      a(ng-href="#/profile/{{::message.author._id}}") {{message.author.firstname}} {{message.author.lastname}}
      small
        | &nbsp;-&nbsp;
        a(href="/#messages/{{message._id}}")
          span(am-time-ago="message.published")
    p.multilines(ng-bind-html="message.content | linky:'_blank'")
    message-bottom-links
