.btn-accent, .bgm-accent {
  .AccentColor();
  &:hover {
    background-color: darken(@accentColor, 10%);
  }
  &.btn-float:not(.no-animation) {
    .zoomIn;
    .mdi {
      transition-delay: 0.4s;
      animation: rotateIn 0.3s ease-out forwards;
    }
  }
}

.underlined-button {
  color: lighten(@secondaryTextColor, 20%);
  text-decoration: underline;
  text-transform: initial;

  &.btn:not(.btn-link) {
    box-shadow: none;
    background: none;
    border: none;
  }
}

.checkbox .input-helper:after{
  border-color: @primaryColor;
}

fab-scroll-top {
  .btn-float {
    background-color: rgba(100, 100, 100, 0.7);
    top: 160px;
  }
}

@media (min-width: @screen-md-min) {
  fab-scroll-top {
    .btn-float:hover {
      .DarkenReversedSecondaryColor;
    }
  }
}