.btn-accent, .bgm-accent {
  .AccentColor();
  &:hover {
    background-color: darken(@accentColor, 10%);
  }
  &.btn-float {
    .zoomIn;
    .mdi {
      transition-delay: 0.4s;
      animation: rotateIn 0.3s ease-out forwards;
    }
  }
}

.checkbox .input-helper:after{
  border-color: @primaryColor;
}
