tags-input {
  .host {
    margin: 0;
  }

  .autocomplete {
    .suggestion-list {
      .suggestion-item {
        color: @secondaryTextColor;

        &.selected {
          color: @text-color;
          background-color: @darkenBgColor;
        }

        em {
          color: inherit;
          background-color: inherit;
          font: normal 600 12px @fontName;
        }

        .auto-complete-match {
          img {
            .avatar(35px);
          }

          .row {
            font-size: 0.8em;
          }
        }
      }
    }

    .autocomplete-information {
      background: @body-bg;
      padding: 5px 10px;
      text-align: center;
      font-style: italic;
      color: @secondaryTextColor;
    }
  }

  .tags {

    .tag-item {
      .ShadowedShape(0 2px 2px rgba(0, 0, 0, 0.16));

      border: 0;
      color: @secondaryTextColor;
      background: @body-bg;
      font-size: 12px;

      &:hover, &.focused {
        color: @text-color;
        background: @darkenBgColor;
      }

      &.selected, &:active, &:active:hover {
        color: @text-color;
        background: darken(@darkenBgColor, 3%);
      }

      ti-tag-item > * {
        .remove-button {
          color: inherit;
          background: inherit;
        }
      }
    }

  }
}